<template name="vintageModal">
	<div class="template-vintageModal col-xs-12">
		<div class="message-container">
			<div class="modal-message-area">
				<p class="modal-message">WARNING: This feature will let you keep just ONE of your current non-vintage items. All other items will be removed. Aside from your checklist and vintage items, your account will be completely reset, including your level, xp, bank balance, and inventory/auction limits. Do you wish to continue?</p>
			</div>
			<div class="modal-button-area">
				<button class="modal-button" id="vintage-confirm">confirm</button>
				<button class="modal-button close-button">cancel</button>
			</div>
		</div>
	</div>
</template>