<template name="vintageModal">
	<div class="template-vintageModal col-xs-12">
		<div class="message-container">
			<div class="modal-message-area">
				<p class="modal-message">WARNING: Aside from your archived, vintage, and original items, your account will be completely reset, including your level, xp, bank balance, lottery tickets and inventory expansions. You will be able to reclaim ONE of your items from the loot area. Do you wish to continue?</p>
			</div>
			<div class="modal-button-area">
				<button class="modal-button" id="vintage-confirm">confirm</button>
				<button class="modal-button close-button">cancel</button>
			</div>
		</div>
	</div>
</template>