<template name="vintageModal">
	<div class="template-vintageModal col-xs-12">
		<div class="message-container">
			<div class="modal-message-area">
				<p class="modal-message">WARNING: Once confirmed, your account will be completely reset, including your level, xp, bank balance, and inventory expansions. You will only retain the items you have selected from the Vintage Selection menu, as well as any originals you may have. This action is PERMANENT. Do you wish to continue?</p>
			</div>
			<div class="modal-button-area">
				<button class="modal-button" id="vintage-confirm">confirm</button>
				<button class="modal-button close-button">cancel</button>
			</div>
		</div>
	</div>
</template>