<template name="itemInfo">
	<div class="template-itemInfo">
		<div data-item_id="{{item_data._id}}" class="card-container {{item_data.artwork_data.rarity}}-item" style="background: url('{{getCardImageURL item_data.artwork_data.filename}}') center; background-size: 280px 390px">
			{{#if isEqual item_data.status "displayed"}}
				<div class="status-mask">
					<div class="status-info">
						<p><i class="fa fa-picture-o"></i></p>
						<p class="remaining-text">{{display_time_remaining item_data}}</p>
					</div>
				</div>
			{{/if}}
			{{#if isEqual item_data.status "auctioned"}}
				<div class="status-mask">
					<div class="status-info">
						<p><i class="fa fa-gavel"></i></p>
						<p class="remaining-text">{{auction_time_remaining item_data}}</p>
					</div>
				</div>
			{{/if}}
			<div class="row no-margin card-info">
				<div class="card-header col-xs-12 {{#if item_data.foil}}foil{{/if}} {{#if item_data.seasonal}}seasonal{{/if}} {{#if item_data.lottery}}lottery{{/if}} {{#if item_data.original}}original{{/if}}">
					<div class="row no-margin">
						<div class="header-basic-info">
							<p class="item-title work-title">{{#if already_owns item_data._id}}* {{/if}}{{item_data.artwork_data.title}}</p>
							<p>{{item_data.artwork_data.artist}}</p>
						</div>
					</div>

					<div class="row no-margin">
						<div class="header-details">
							<p>{{item_data.artwork_data.date}}</p>
							{{> itemSignature item_data=item_data}}
							<p>{{item_data.artwork_data.medium}}</p>
							<p>{{item_data.artwork_data.height}} x {{item_data.artwork_data.width}}</p>
							{{#if showDetails item_data}}
							<div class="dynamic-stats">
								<p>condition: <span style="color: {{getHTMLColorFromValue item_data.condition}}">%{{floatToPercentage item_data.condition}}</span></p>
								<p id="dynamic-value-stat">estimated value: {{displayAsMoneyValue item_data.values.actual}}</p>
								<p id="dynamic-xp-stat">xp rating: <span style="color: {{getHTMLColorFromValue item_data.xp_rating}}">{{floatToPercentage item_data.xp_rating}}</span></p>
								<p id="dynamic-roll-count-stat">roll count: {{item_data.roll_count}}</p>
							</div>
							{{else}}
								<p>condition: ?</p>
								<p>estimated value: ?</p>
								<p>xp rating: ?</p>
								<p>roll count: ?</p>
							{{/if}}
							<div class="flavor-area">
							{{#with unique_attribute_data item_data.active_unique_attribute}}
								<p class="flavor-text af-color {{#if ../item_data.permanent}}permanent{{/if}}">"{{flavor_text}}"</p>
							{{/with}}
							</div>
						</div>
					</div>
					
					<div class="row no-margin indicator-area">
						{{#if isQuestItem item_data.artwork_id}}
							<i class="green-text fa fa-flag-checkered"></i>
						{{/if}}
						{{#if isSought item_data.artwork_id}}
							<i class="blue-text fa fa-area-chart"></i>
						{{/if}}
					</div>			
				</div>

				<div class="card-footer col-xs-12 {{#if item_data.foil}}foil{{/if}} {{#if item_data.seasonal}}seasonal{{/if}} {{#if item_data.lottery}}lottery{{/if}}">
					<div class="row no-margin">
						{{#with checklist_info item_data}}
							{{#if this}}
								<div class="checklist-indicators">
									<i class="check black-text fa fa-check "></i>
									{{#if foil}}<i class="check af-color fa fa-check"></i>{{/if}}
									{{#if seasonal}}<i class="check green-text fa fa-check"></i>{{/if}}
									{{#if lottery}}<i class="check gold-text fa fa-check "></i>{{/if}}
									{{#if original}}<i class="check purple-text fa fa-check"></i>{{/if}}
									{{#if unlocked}}<i class="check silver-text fa fa-check"></i>{{/if}}
									{{#if vintage}}<i class="check vintage-text fa fa-check"></i>{{/if}}
								</div>
							{{/if}}
						{{/with}}
						<div class="footer-basic-info">
							<div class="col-xs-11 no-padding attribute-area">
								{{#each sortedAttributes item_data.attributes.unlocked}}
									<i data-attribute_description="{{description}}" data-attribute_value="{{value}}" style="color: {{getHTMLColorFromValue value}}" class="{{#if isEqual ../item_data.status 'permanent'}}permanent{{/if}} item-attribute fa {{icon}}"></i>
								{{/each}}
								{{#if item_data.attributes.locked}}<span class="separator">|</span>{{/if}}
								{{#each sortedAttributes item_data.attributes.locked}}
									<i data-attribute_description="{{description}}" data-attribute_value="{{value}}" style="color: {{getHTMLColorFromValue value}}" class="{{#if isEqual ../item_data.status 'permanent'}}permanent{{/if}} locked item-attribute fa {{icon}}"></i>
								{{/each}}
								{{#if item_data.attributes.special}}<span class="separator">|</span>{{/if}}
								{{#each sortedAttributes item_data.attributes.special}}
									<i data-attribute_description="{{description}}" data-attribute_value="{{value}}" style="color: {{getHTMLColorFromValue value}}" class="{{#if isEqual ../item_data.status 'permanent'}}permanent{{/if}} special item-attribute fa {{icon}}"></i>
								{{/each}}
							</div>
							<div class="col-xs-1 no-padding">
								{{#if showDetails item_data}}
								<div class="dynamic-xp-rating">
									<p><span style="color: {{getHTMLColorFromValue item_data.xp_rating}}">{{floatToPercentage item_data.xp_rating}}</span></p>
								</div>
								{{else}}
									<p>?</p>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
