<template name="itemInfo">
	<div class="template-itemInfo">
		<div data-item_id="{{item_data._id}}" class="card-container {{item_data.rarity}}-item" style="background: url('https://s3.amazonaws.com/com.artfunkel.artwork/full_images/{{item_data.filename}}') center; background-size: {{#with imageSize item_data.width item_data.height}}{{image_width}}px {{image_height}}px{{/with}}">
			<div class="row no-margin card-info">
				<div class="card-header col-xs-12 {{#if item_data.foil}}foil{{/if}}">
					<div class="row no-margin">
						<div class="header-basic-info">
							<p class="item-title">{{item_data.title}}</p>
							<p>{{item_data.artist}}</p>
						</div>
					</div>

					<div class="row no-margin">
						<div class="header-details">
							<p>{{item_data.date}}</p>
							<p><span class="{{item_data.rarity}}"><strong>{{item_data.rarity}}</strong></span>{{#if item_data.foil}}<span class="af-color"> foil</span>{{/if}}</p>
							<p>{{item_data.medium}}</p>
							<p>{{item_data.height}} x {{item_data.width}}</p>
							<p>condition: <span style="color: {{getHTMLColorFromValue item_data.condition}}">{{item_data.condition_text}}</span></p>
							<p>estimated value: ${{getItemValue item_data._id "actual"}}</p>
							<p>xp rating: <span style="color: {{getHTMLColorFromValue item_data.xp_rating}}">{{item_data.xp_rating_text}}</span></p>
							<p>roll count: {{item_data.roll_count}}</p>
						</div>
					</div>
				</div>
				<div class="card-footer col-xs-12 {{#if item_data.foil}}foil{{/if}}">
					<div class="row no-margin">
						<div class="button-area">
							{{#if isEqual item_data.status "displayed"}}
								<p><span class="remaining-text">on display - {{time_remaining item_data}}</span></p>
							{{else}}

								{{#if claim_button}}
									<span class="claim {{#if can_claim item_data}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-plus"></i></span>		
								{{/if}}
								{{#if sell_button}}
									<span class="quick-sell {{#if can_sell item_data}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-usd"></i></span>	
								{{/if}}
								{{#if auction_button}}
									<span class="auction {{#if can_auction item_data}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-gavel"></i></span>
								{{/if}}	
								{{#if display_button}}				
									<span class="display {{#if can_display item_data}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-picture-o"></i></span>	
								{{/if}}			
								{{#if reroll_button}}
									<span class="reroll {{#if can_reroll item_data}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-magic"></i></span>		
								{{/if}}
								{{#if permanent_button}}
									<span class="perm-collection {{#if can_permanent item_data}}{{#if isEqual item_data.status 'permanent'}}active af-color{{else}}inactive{{/if}}{{else}}disabled{{/if}}"><i data-item_id="{{this._id}}" class="fa fa-heart"></i></span>
								{{/if}}
								{{#if preview_button}}
									<span class="preview enabled"><i data-item_id="{{item_data._id}}" class="fa fa-eye"></i></span>		
								{{/if}}
								{{#if purchase_button}}
									<span class="purchase {{#if can_purchase item_data}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-usd"></i></span>		
								{{/if}}
								{{#if decline_button}}
									<span class="decline {{#if can_decline item_data}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-times"></i></span>		
								{{/if}}

							{{/if}}
						</div>
					</div>

					<!-- <div class="row no-margin">
						<div class="footer-details">
							{{#each item_data.attributes}}
								<p><i style="color: {{getHTMLColorFromValue this.value}}" class="{{#if ../is_permanent}}permanent{{/if}} fa {{this.icon}}"></i> {{this.description}} ({{attributeLevel this.value}})</p>
							{{/each}}
						</div>
					</div> -->
					<div class="row no-margin">
						<div class="footer-basic-info">
							{{#each item_data.attributes}}
								<i data-attribute_description="{{this.description}}" data-attribute_value="{{this.value}}" style="color: {{getHTMLColorFromValue this.value}}" class="{{#if ../is_permanent}}permanent{{/if}} item-attribute fa {{this.icon}}"></i>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>