<template name="itemInfo">
	<div class="template-itemInfo">
		<div data-item_id="{{item_data._id}}" class="card-container {{item_data.artwork_data.rarity}}-item" style="background: url('{{getCardImageURL item_data.artwork_data.filename}}') center; background-size: 280px 390px">
			<div class="row no-margin card-info">
				<div class="card-header col-xs-12 {{#if item_data.foil}}foil{{/if}} {{#if item_data.seasonal}}seasonal{{/if}} {{#if item_data.lottery}}lottery{{/if}} {{#if item_data.original}}original{{/if}}">
					<div class="row no-margin">
						<div class="header-basic-info">
							<p class="item-title work-title">{{#if already_owns item_data._id}}* {{/if}}{{item_data.artwork_data.title}}</p>
							<p>{{item_data.artwork_data.artist}}</p>
						</div>
					</div>

					<div class="row no-margin">
						<div class="header-details">
							<p>{{item_data.artwork_data.date}}</p>
							<p><span class="{{item_data.artwork_data.rarity}}"><strong>{{item_data.artwork_data.rarity}}</strong></span>{{#if item_data.foil}}<span class="af-color"> foil</span>{{/if}}{{#if item_data.seasonal}}<span class="common"> seasonal</span>{{/if}}{{#if item_data.lottery}}<span class="gold"> lottery {{item_data.lottery}}</span>{{/if}}{{#if item_data.original}}<span class="purple-text"> original</span>{{/if}}{{#if item_data.vintage}}<span class="vintage-text"> vintage</span>{{/if}}</p>
							<p>{{item_data.artwork_data.medium}}</p>
							<p>{{item_data.artwork_data.height}} x {{item_data.artwork_data.width}}</p>
							{{#if showDetails item_data}}
								<p>condition: <span style="color: {{getHTMLColorFromValue item_data.condition}}">%{{floatToPercentage item_data.condition}}</span></p>
								<p>estimated value: {{displayAsMoneyValue item_data.values.actual}}</p>
								<p>xp rating: <span style="color: {{getHTMLColorFromValue item_data.xp_rating}}">{{floatToPercentage item_data.xp_rating}}</span></p>
								<p>roll count: {{item_data.roll_count}}</p>
							{{else}}
								<p>condition: ?</p>
								<p>estimated value: ?</p>
								<p>xp rating: ?</p>
								<p>roll count: ?</p>
							{{/if}}
							<div class="flavor-area">
							{{#each unique_attribute item_data.artwork_data.unique_attributes}}
								<p class="flavor-text af-color {{#if ../item_data.permanent}}permanent{{/if}}">"{{flavor_text}}"</p>
							{{/each}}
							</div>
						</div>
					</div>
					
					<div class="row no-margin indicator-area">
						{{#if isQuestItem item_data.artwork_id}}
							<i class="green-text fa fa-flag-checkered"></i>
						{{/if}}
						{{#if isSought item_data.artwork_id}}
							<i class="blue-text fa fa-area-chart"></i>
						{{/if}}
					</div>			
				</div>

				<div class="card-footer col-xs-12 {{#if item_data.foil}}foil{{/if}} {{#if item_data.seasonal}}seasonal{{/if}} {{#if item_data.lottery}}lottery{{/if}}">
					<div class="row no-margin">
						<div class="button-area">
							{{#with itemPermissions item_data}}
								{{#if isEqual item_data.status "displayed"}}
									<span class="remaining-text">on display - {{display_time_remaining item_data}}</span>
								{{else}}

									{{#if isEqual item_data.status "auctioned"}}
										<span class="remaining-text">auctioned - {{auction_time_remaining item_data}}</span>
									{{else}}
										{{#if ../claim_button}}
											<span class="claim {{#if claim}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-plus"></i></span>		
										{{/if}}
										{{#if ../sell_button}}
											<span class="quick-sell {{#if sell}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-usd"></i></span>	
										{{/if}}
										{{#if ../auction_button}}
											<span class="auction {{#if auction}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-gavel"></i></span>
										{{/if}}	
										{{#if ../display_button}}				
											<span class="display {{#if display}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-picture-o"></i></span>	
										{{/if}}			
										{{#if ../reroll_button}}
											<span class="reroll {{#if reroll}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-magic"></i></span>		
										{{/if}}
										{{#if ../permanent_button}}
											<span class="perm-collection {{#if permanent}}{{#if isEqual item_data.status 'permanent'}}active af-color{{else}}inactive{{/if}}{{else}}disabled{{/if}}"><i data-item_id="{{../item_data._id}}" class="fa fa-heart"></i></span>
										{{/if}}
										{{#if ../preview_button}}
											<span class="preview enabled"><i data-item_id="{{item_data._id}}" class="fa fa-eye"></i></span>		
										{{/if}}
										{{#if ../purchase_button}}
											<span class="purchase {{#if purchase}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-tag"></i></span>		
										{{/if}}
										{{#if ../decline_button}}
											<span class="decline {{#if decline}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{item_data._id}}" class="fa fa-times"></i></span>		
										{{/if}}				
									{{/if}}

								{{/if}}
								{{#if ../reroll_button}}
									{{#if reroll_unique_enable item_data}}
										<span class="reroll enabled"><i data-item_id="{{item_data._id}}" class="fa fa-magic"></i></span>	
									{{/if}}	
								{{/if}}
								{{#if ../tag_button}}
									<span class="tags enabled"><i data-item_id="{{item_data._id}}" class="fa fa-tags"></i></span>		
								{{/if}}
							{{/with}}
						</div>
					</div>

					<div class="row no-margin">
						<div class="footer-basic-info">
							<div class="col-xs-11 no-padding attribute-area">
							{{#if showDetails item_data}}
								{{#each sortedAttributes item_data.attributes.locked}}
									<i data-attribute_description="{{description}}" data-attribute_value="{{value}}" style="color: {{getHTMLColorFromValue value}}" class="{{#if ../item_data.permanent}}permanent{{/if}} locked item-attribute fa {{this.icon}}"></i>
								{{/each}}
								{{#each sortedAttributes item_data.attributes.unlocked}}
									<i data-attribute_description="{{description}}" data-attribute_value="{{value}}" style="color: {{getHTMLColorFromValue value}}" class="{{#if ../item_data.permanent}}permanent{{/if}} item-attribute fa {{this.icon}}"></i>
								{{/each}}
								{{#each sortedAttributes item_data.attributes.special}}
									<i data-attribute_description="{{description}}" data-attribute_value="{{value}}" style="color: {{getHTMLColorFromValue value}}" class="{{#if ../item_data.permanent}}permanent{{/if}} special item-attribute fa {{this.icon}}"></i>
								{{/each}}
							{{else}}
								<p>?</p>
							{{/if}}
							</div>
							<div class="col-xs-1 no-padding">
								{{#if showDetails item_data}}
								<p><span style="color: {{getHTMLColorFromValue item_data.xp_rating}}">{{floatToPercentage item_data.xp_rating}}</span></p>
								{{else}}
									<p>?</p>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
