<template name="tutorials">
	<div class="template-tutorials">
		<div class="tutorial-container">
			<div id="tutorial-contents">
				<div class="row header">
					<div class="col-xs-1 col-xs-offset-11">
						<i id="exit-tutorial" class="fa fa-close"></i>
					</div>
				</div>
				<div class="row tutorial-text"></div>
				{{> tutorialPageButtons}}
			</div>
		</div>
	</div>
</template>

<template name="tutorialPageButtons">
	<div class="row">
		{{#with button_statuses}}
			<div class="col-xs-6">	
			{{#if previous}}
				<button class="page-button back-button">back</button>
			{{/if}}
			</div>
			<div class="col-xs-6">
			{{#if next}}
				<button class="page-button next-button">next</button>
			{{else}}
				<button class="page-button finish-button">finish</button>
			{{/if}}
			</div>
		{{/with}}
	</div>
</template>
