<template name="tutorials">
	<div class="template-tutorials">
		<div class="tutorial-container">
			<div id="tutorial-contents">
				<div class="row tutorial-text"></div>
				{{> tutorialPageButtons}}
			</div>
		</div>
	</div>
</template>

<template name="tutorialPageButtons">
	<div class="row">
		<div class="col-xs-6">
		{{#if back_button}}
			<button class="page-button back-button">back</button>
		{{/if}}
		</div>
		<div class="col-xs-6">
		{{#if next_button}}
			<button class="page-button next-button">next</button>
		{{/if}}
		{{#if finish_button}}
			<button class="page-button finish-button">finish</button>
		{{/if}}
		</div>
	</div>
</template>
