.template-store .drop {
	margin: 20px;
	border-top: 1px solid gray;
}

.template-store .decline.disabled{
	opacity: .5;
}

.template-store .crate-buttons .disabled{
	opacity: .5;
}

.template-store .decline .enabled {
	color: black;
	opacity: .5;
}

.template-store .decline.enabled:hover {
	opacity: 1;
	cursor: pointer;
	color: black;
}

.template-store .crate-buttons button {
	background-color: white;
	width: 260px;
	font-weight: bold;
	font-size: 1em;
}

#drop-button {
	background-color: black;
}

.template-store .bronze-button {
	border: 1px solid #D8947D;
	color: #D8947D;
}

.template-store .silver-button {
	border: 1px solid #AAAAAA;
	color: #AAAAAA;
}

.template-store .gold-button {
	border: 1px solid #D8AF5C;
	color: #D8AF5C;
}

.template-store .platinum-button {
	border: 1px solid #BFBFBF;
	color: #BFBFBF;
}

.template-store .diamond-button {
	border: 1px solid #93CFCF;
	color: #93CFCF;
}

.template-store .store-item-container {
	display: inline-block;
}

.template-store .price-text {
	margin-top: -20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 2rem;
}

.template-store #decline-all {
	background-color: black;
	width: 260px;
	font-weight: bold;
	font-size: 1em;
}