.template-store .drop {
	margin: 20px;
	border-top: 1px solid gray;
}

.template-store .decline.disabled{
	opacity: .5;
}

.template-store .crate-buttons .disabled{
	opacity: .5;
}

.template-store .decline .enabled {
	color: black;
	opacity: .5;
}

.template-store .decline.enabled:hover {
	opacity: 1;
	cursor: pointer;
	color: black;
}

.template-store .crate-buttons button {
	background-color: white;
	width: 260px;
	font-weight: bold;
	font-size: 1em;
}

#drop-button {
	background-color: black;
}

.template-store .crate-button {
	border: 1px solid black;
	color: black;
}

.template-store .store-item-container {
	display: inline-block;
}

.template-store .price-text {
	margin-top: -20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 2rem;
}

.template-store #decline-all {
	background-color: black;
	width: 260px;
	font-weight: bold;
	font-size: 1em;
	margin-top: 20px;
}