<template name="store">
	<div class="template-store container">
		<h1 class="af-color">Store</h1>
		<div class="crate-buttons row">
			{{#each crate_button}}
			<button data-crate_size="{{size}}" class="crate-button {{#if can_afford cost}}enabled{{else}}disabled{{/if}}">{{size}} crate ({{count}} items)<p>{{displayAsMoneyValue cost}}</p></button>
			{{/each}}
			<button class="inventory-expansion-button {{#if can_afford expansion_cost}}enabled{{else}}disabled{{/if}}">inventory expansion (#{{expansion_number}})<p>{{displayAsMoneyValue expansion_cost}}</p></button>
		</div>
		<div class="row dynamic-crate-area">
			{{#each dynamic_crate}}
			<div class="col-xs-3 crate-info">
				<div class="type-mask {{#each crate_types this}}{{this}} {{/each}}">
					<img data-crate_id="{{_id}}" class="crate-image {{#if can_afford_dynamic cost}}enabled{{else}}disabled{{/if}} {{#each crate_rarities this}}{{this}} {{/each}}" height="200" width="200" src="/img/crate.png"/>
				</div>
				{{#each seeds}}
				{{#if isEqual type "attribute"}}
					<i class="attribute-icon fa {{attribute_icon value}}"></i>
				{{/if}}
				{{/each}}
				<p class="crate-cost-section">{{displayAsMoneyValue cost}}</p>
			</div>
			{{/each}}
		</div>
		<div class="row">
			{{#if has_for_sale}}
			<button id="decline-all">decline all</button>
			{{/if}}
		</div>

		{{#if full}}
		<p>Note: your inventory is currently full. You will be unable to add new artwork to your inventory</p>
		{{/if}}

		{{> itemSet statuses=item_set_statuses}}

	</div>
</template>

<template name="forSaleInfo">
	<div class="template-forSaleInfo">
		<div class="col-xs-12 no-margin">
			<div class="info-area">
				{{#with itemData this}}

				<h4 class="{{rarity}}">{{title}}</h4>
				<p>{{artist}}, {{date}}</p>
				<p><span class="{{rarity}}"><strong>{{rarity}}</strong></span></p>
				<p>{{medium}}</p>
				<p>{{height}} x {{width}}</p>
				<p>condition: <span style="color: {{getHTMLColorFromValue condition}}">{{condition_text}}</span></p>
				<p>level: {{level}}</p>
				<p class="item-attributes">
				{{#each attribute}}
					<i data-attribute_description="{{this.description}}" data-attribute_value="{{this.value}}" style="color: {{getHTMLColorFromValue this.value}}" class="item-attribute fa {{this.icon}}"></i>
				{{/each}}
				</p>
				{{/with}}	
			</div>		
		</div>
	</div>
</template>