<template name="gameHub">
	<div class="template-gameHub">
		<div class="row">
			<h1 class="af-color">Seasonal Artworks</h1>
			{{#each seasonal_stub}}
				<div class="col-xs-3 no-padding no-margin reward-item-container">
					<div class="row">
					{{> itemStubView item_data=this}}
					</div>
					<div class="row">
					{{> seasonalRefresh rarity=this.artwork_data.rarity}}
					</div>
				</div>
			{{/each}}
		</div>
		<div class="row">
			<h1 class="af-color">Lottery Rewards</h1>
			{{#each lottery_item_id}}
				<div class="col-xs-3 no-padding no-margin reward-item-container"> 
				{{#with fetchServerData "getItemData" this}}
					{{#if this}}
						{{> itemInfo item_data=this}}
					{{/if}}
				{{/with}}
				</div>
			{{/each}}
		</div>
	</div>
</template>

<template name="seasonalRefresh">
	<div class="template-seasonalRefresh">
		<p class="next-rotation">next rotation: <span class="rotation-date af-color">{{next_rotation rarity}}</span></p>
	</div>
</template>