.template-itemActions .button-area {
	display: block;
	background-color: none;
	opacity: 0;
	font-size: 2rem;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	margin-bottom: 30px;
}

.template-itemActions .button-area i {
	margin: 0px 6px;
	text-align: left;
}

.template-itemActions .button-area .enabled:hover, .template-itemActions .button-area .inactive:hover {
	opacity: 1;
	cursor: pointer;
	color: black;
}

.template-itemActions .button-area:hover {
	opacity: 1;
}