.template-itemActions .button-area {
	display: block;
	background-color: none;
	opacity: 0;
	font-size: 2rem;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	margin-bottom: 30px;
}

@media (max-width: 900px) {
	.template-itemActions .button-area {
		opacity: 1;
	} 
}

.template-itemActions .button-area i {
	margin: 0px 4px;
	text-align: left;
	cursor: pointer;
}

.template-itemActions .button-area .enabled:hover, .template-itemActions .button-area .inactive:hover {
	opacity: 1;
	color: black;
}

.template-itemActions .button-area:hover {
	opacity: 1;
}

.template-itemActions .button-area i.appended {
	margin: 0px 12px;
}