<template name="fullViewModal">
	<div class="template-fullViewModal">
	    <div style="z-index:9999999999999999;" class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content container">
	            	{{#with itemData}}
	                <h4><span class="highlight af-color">{{title}}</span> by <span class="highlight af-color">{{artist}}</span></h4>
			        {{/with}}
	            	{{#with imageInfo itemId}}
					<img class="image-thumb" src="{{getImageURL filename}}" width="{{image_width}}" height="{{image_height}}"/>
			        <button id="close-button" type="button" class="btn btn-default">close</button>
			        {{/with}}
	            </div>
	        </div>
	    </div>
	</div>
</template>