.template-artistView .item-container {
	display: inline-block;
}

.template-artistView .item-container:hover > .template-itemActions .button-area {
	opacity: 1;
}

.template-itemStub .card-container {
	display: inline-block;
	width: 280px;
	height: 390px;
	margin: 6px 20px;
	border: 1px solid #555555;
	padding: 0px;
	opacity: .95;
}

@-webkit-keyframes card_effect {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes card_effect {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes card_effect {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes card_effect {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.template-itemStub .unlocked {
	background: linear-gradient(60deg, white, #DBDBDB, #DBDBDB, white, #DBDBDB, #DBDBDB, white);
	background-size: 300% 300%;
	-webkit-animation: card_effect 10s ease infinite;
	-moz-animation: card_effect 10s ease infinite;
	-o-animation: card_effect 10s ease infinite;
	animation: card_effect 10s ease infinite;
}

.template-itemStub .foil {
	background: linear-gradient(60deg, white, #ffe2c3, #FDF, white, #FDF, #ffe2c3, white);
	background-size: 300% 300%;
	-webkit-animation: card_effect 10s ease infinite;
	-moz-animation: card_effect 10s ease infinite;
	-o-animation: card_effect 10s ease infinite;
	animation: card_effect 10s ease infinite;
}

.template-itemStub .seasonal {
	background: linear-gradient(60deg, white, rgb(220,255,220), rgb(220,220,255), white, rgb(220,220,255), rgb(220,255,220), white);
	background-size: 300% 300%;
	-webkit-animation: card_effect 10s ease infinite;
	-moz-animation: card_effect 10s ease infinite;
	-o-animation: card_effect 10s ease infinite;
	animation: card_effect 10s ease infinite;
}

.template-itemStub .lottery {
	background: linear-gradient(60deg, white, #FFF5C6, #FFF5C6, white, #FFF5C6, #FFF5C6, white);
	background-size: 300% 300%;
	-webkit-animation: card_effect 10s ease infinite;
	-moz-animation: card_effect 10s ease infinite;
	-o-animation: card_effect 10s ease infinite;
	animation: card_effect 10s ease infinite;
}

.template-itemStub .original {
	background: linear-gradient(60deg, white, #E0E0F8, #DAD0F8, white, #DAD0F8, #E0E0F8, white);
	background-size: 300% 300%;
	-webkit-animation: card_effect 10s ease infinite;
	-moz-animation: card_effect 10s ease infinite;
	-o-animation: card_effect 10s ease infinite;
	animation: card_effect 10s ease infinite;
}

.template-itemStub .vintage {
	background-color: #dbbca4;
}

.template-artistView #search-area {
	resize: none;
	width: 100%;
	height: 4rem;
	font-size: 2rem;
	margin-bottom: 12px;
	padding: .4rem 2rem;
}

.template-artistView .artist-container {
	border-top: 1px solid rgba(0,0,0,.6);
}

.template-artistView .artwork-container {
	border-top: 1px solid rgba(0,0,0,.3);
}

.template-artistView .artwork-list {
	padding-bottom: 12px;
}

.template-artistView .expand-collapse {
	opacity: .6;
	cursor: pointer;
	font-size: 2rem;
}

.template-artistView .expand-collapse:hover {
	opacity: 1;
}

.template-artistView .expand-collapse-container {
	display: inline-block;
}

.template-artistView .artist-name-container {
	display: inline-block;
	color: black;
	font-size: 1.5rem;
	margin-left: 20px;
	font-weight: bold;
	margin-right: 20px;
}

.template-artistView .artist-info {
	padding-top: 10px;
	padding-bottom: 16px;
	padding-left: 20px;
	cursor: pointer;
}

.template-artistView .artist-info:hover {
	background-color: #ffe6f9;
}

.template-artistView .artwork-info {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	cursor: pointer;
}

.template-artistView .artwork-info:hover {
	background-color: #ffe6f9;
}

.template-artistView .artist-collection-data-container {
	display: inline-block;
}

.template-artistView .artwork-title-container {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.template-artistView .item-collection-data-container {
	display: inline-block;
}

.template-artistView .artwork-list {
	padding-left: 16px;
}

.template-artistView .category-container {
	padding-top: 20px;
}

.template-artistView .page-buttons {
	height: 50px;
	text-align: center;
	min-height: 4em;
	display: flex;
	align-items:center;
}
.template-artistView .page-button {
	font-size: 3rem;
	margin: 20px 80px 20px 80px;
	vertical-align: middle;
}

.template-artistView .page-button.disabled {
	opacity: 0;
}

.template-artistView .page-button.enabled:hover {
	color: black;
	cursor: pointer;
}

.template-artistView .page-indicators {
	font-weight: bold;
	color: black;
	vertical-align: middle;
	font-size: 2rem;
}

/*
<div class="expand-collapse-container">
											<i class="expand-collapse fa {{#if artwork_selected this}}fa-caret-down{{else}}fa-caret-right{{/if}}" data-target_id="{{this._id}}" data-type="artwork"></i>
										</div>
										<div class="artowrk-title-container">
											{{this.title}}
										</div>
										<div class="item-collection-data-container">
*/