<template name="rerollModal">
	<div class="template-rerollModal">
	    <div style="z-index:9999999999999999;" class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content container">
	            	{{#with itemData}}
	                <h4>Reroll attributes for <span class="highlight af-color work-title">{{title}}</span> by <span class="highlight af-color">{{artist}}</span></h4>
	                <div class="reroll-info">
		                <div class="row">
		                	<h4>bank balance: <span class="af-color">${{bankBalance}}</span></h4>
		                	<h4>reroll cost: <span class="af-color">${{rerollCost}}</span></h4>
		                	<h4>reroll count: <span class="af-color">{{roll_count}}</span></h4>
				        </div>
				    </div>

				    <div class="reroll-options">
				        <div class="row attribute-row no-padding no-margin">
		                	<div class="col-xs-5">
		                		<p class="roll-description">xp rating:</p>
		                	</div>
		                	<div class="col-xs-1">
		                		<p class="af-color highlight value-text">{{xp_rating}}</p>
		                	</div>
		                	<div class="col-xs-3">
		                		<button class="xp-reroll-button {{#if canReroll}}enabled{{else}}disabled{{/if}}">value</button>
		                	</div>
				        </div>

				        <div class="attribute-divider">
				        	<p>Attributes</p>
				        </div>
				        {{#each attributes.special}}
				        <div data-attribute_id="{{this._id}}" class="row attribute-row no-padding no-margin">
		                	{{> attributeTemplate attribute_data=this special=true}}
		                	<div class="col-xs-1">
								<p class="af-color highlight value-text">{{attributeValueText this.value}}</p>
							</div>
							<div class="col-xs-3">
								<button data-attribute_id="{{this._id}}" class="reroll-value-button {{#if canReroll}}enabled{{else}}disabled{{/if}}">value</button>
							</div>
							<div class="col-xs-3">
		                		<i class="item-attribute fa fa-lock"></i>
		                	</div>
				        </div>
				        {{/each}}

				        {{#each attributes.locked}}
				        <div data-attribute_id="{{this._id}}" class="row attribute-row no-padding no-margin">
		                	{{> attributeTemplate attribute_data=this}}
		                	<div class="col-xs-1">
								<p class="af-color highlight value-text">{{attributeValueText this.value}}</p>
							</div>
							<div class="col-xs-3">
								<button data-attribute_id="{{this._id}}" class="reroll-value-button {{#if canReroll}}enabled{{else}}disabled{{/if}}">value</button>
							</div>
							<div class="col-xs-3">
		                		<i class="item-attribute fa fa-lock"></i>
		                	</div>
				        </div>
				        {{/each}}

				        {{#each attributes.unlocked}}
				        <div data-attribute_id="{{this._id}}" class="row attribute-row no-padding no-margin">
		                	{{> attributeTemplate attribute_data=this}}
		                	<div class="col-xs-1">
								<p class="af-color highlight value-text">{{attributeValueText this.value}}</p>
							</div>
							<div class="col-xs-3">
								<button data-attribute_id="{{this._id}}" class="reroll-value-button {{#if canReroll}}enabled{{else}}disabled{{/if}}">value</button>
							</div>
		                	<div class="col-xs-3">
		                		<button data-attribute_id="{{this._id}}" class="reroll-attribute-button {{#if canReroll}}enabled{{else}}disabled{{/if}}">attribute</button>
		                	</div>
				        </div>
				        {{/each}}

				    </div>
                	
		            <div class="row modal-buttons">
			            <button id="cancel-modal" type="button" class="btn btn-default">close</button>
			        </div>

			        {{#if error}}
			        <div class="errors">
		            	{{#each error}}
		            	<p class="error-text">{{this}}</p>
		            	{{/each}}
	            	</div>
	            	{{/if}}
			        {{/with}}
	            </div>
	        </div>
	    </div>
	</div>
</template>

<template name="attributeTemplate">
	<div class="col-xs-1">
		<i style="color: {{getHTMLColorFromValue attribute_data.value}}" class="{{#if special}}special{{/if}} item-attribute fa {{attribute_data.icon}}"></i>
	</div>
	<div class="col-xs-4">
		<p class="roll-description {{#if locked}}orange-text{{/if}}">{{attribute_data.description}}:</p>
	</div>
</template>