<template name="auctionTable">
	<div class="template-auctionTable">
		{{#if full}}
		<div class="col-xs-12 no-padding">
			<p>Note: your inventory is currently full. You will be unable to place bids on any items in the Auction House.</p>
		</div>
		{{/if}}
		<div class="col-xs-12 no-padding">
			<table class="auction-table" data-table_id="{{this.table_id}}">
				<tr>
				{{#each header this}}
					{{> headerTemplate this}}
				{{/each}}
				</tr>
				{{#each this.auction}}
					{{#with auction_info this}}
					<tr data-auction_id="{{_id}}" id="{{#if winning}}winning{{else}}{{#if losing}}losing{{/if}}{{/if}}">
						<td>
							{{#with thumbnailInfo item_id}}
							<img class="image-thumb preview enabled" src="{{getImageURL filename}}" width="{{image_width}}" height="{{image_height}}"/>
							{{/with}}
						</td>
						{{#with time_remaining expiration_date}}
						<td class="{{#if soon}}soon{{/if}}">{{remaining}}</td>
						{{/with}}
						<td>{{#if owned}}*{{/if}}{{title}}</td>
						<td>{{date}}</td>
						<td>{{artist}}</td>
						<td><span class="{{rarity}}"><strong>{{rarity}}</strong></span>{{#if foil}}<span class="af-color"> foil</span>{{/if}}</td>
						<td style="color: rgb({{attributeColor condition}}, 0, 0)" >{{condition_text}}</td>
						<td>
						{{#each attribute}}
							<i data-attribute_title="{{this.description}}" data-attribute_value="{{this.value}}" style="color: rgb({{attributeColor this.value}}, 0, 0)" class="item-attribute fa {{this.icon}}"></i>
						{{/each}}
						</td>
						<td style="color: rgb({{attributeColor xp_rating}}, 0, 0)" >{{xp_rating_text}}</td>
						<td>{{roll_count}}</td>
						<td class="{{#if has_history}}highlight{{/if}}">{{displayAsMoneyValue bid_minimum}}</td>
						<td>{{buy_now_text}}</td>
						<td class="action-buttons">						
							<span class="place-bid {{#if biddable}}enabled{{else}}disabled{{/if}}" data-auction_id="{{auction_id}}"><i class="fa fa-usd"></i></span>
							<span class="view-history {{#if history}}enabled{{else}}disabled{{/if}}" data-auction_id="{{auction_id}}"><i class="fa fa-history"></i></span>
						</td>
						<td><a href="/user/{{seller}}">{{seller}}</a></td>
					</tr>
					{{/with}}
				{{/each}}
			</table>
		</div>
		<div class="col-xs-12 no-padding">
			<p>* denotes paintings you already own</p>
		</div>
	</div>
</template>

<template name="headerTemplate">
	<th class="table-header" data-sort="{{sort_id}}" data-table_id="{{table_id}}">
		<div class="row no-margin">
			<div class="col-xs-8">
				<p>{{text}}</p>
			</div>
			<div class="col-xs-4">
				{{#with sorted this}}{{#if sort}}{{#if ascending}}<i class="fa fa-caret-up"></i>{{else}}<i class="fa fa-caret-down"></i>{{/if}}{{else}} {{/if}}{{/with}}
			</div>
		</div>
	</th>
</template>