<template name="auctionTable">
	<div class="template-auctionTable">
		{{#if full}}
		<div class="col-xs-12 no-padding">
			<p>Note: your inventory is currently full. You will be unable to place bids on any items in the Auction House.</p>
		</div>
		{{/if}}
		<div class="col-xs-12 no-padding">
			<table class="auction-table" data-table_id="{{this.table_id}}">
				<tr>
				{{#each header this}}
					{{> headerTemplate this}}
				{{/each}}
				</tr>
				{{#each this.auction}}
					{{#with auction_info this}}
					<tr data-auction_id="{{_id}}" id="{{#if winning}}winning{{else}}{{#if losing}}losing{{/if}}{{/if}}">
						<td>
							{{#with thumbnailInfo item_id}}
							<img class="image-thumb preview enabled" src="{{getImageURL filename}}" width="{{image_width}}" height="{{image_height}}"/>
							{{/with}}
						</td>
						{{#with time_remaining expiration}}
						<td class="{{#if soon}}soon{{/if}}">{{remaining}}</td>
						{{/with}}
						<td class="{{#if isQuestItem artwork_id}}green-text{{/if}}">{{#if owned}}*{{/if}}{{item_data.title}}</td>
						<td>{{item_data.date}}</td>
						<td>{{item_data.artist}}</td>
						<td><span class="{{item_data.rarity}}"><strong>{{item_data.rarity}}</strong></span>{{#if item_data.foil}}<span class="af-color"> foil</span>{{/if}}{{#if item_data.seasonal}}<span class="common"> seasonal</span>{{/if}}{{#if item_data.lottery}}<span class="gold"> lottery {{item_data.lottery}}</span>{{/if}}{{#if item_data.original}}<span class="purple-text"> original</span>{{/if}}</td>
						<td style="color: rgb({{attributeColor condition}}, 0, 0)" >{{#if market_expert}}{{floatToPercentage item_data.condition}}{{else}}?{{/if}}</td>
						<td>
						{{#each attribute}}
							<i data-attribute_title="{{description}}" data-attribute_value="{{value}}" style="color: rgb({{attributeColor value}}, 0, 0)" class="{{#if locked}}locked{{/if}} item-attribute fa {{icon}}"></i>
						{{/each}}
						</td>
						<td style="{{#if market_expert}}color: rgb({{attributeColor item_data.xp_rating}}, 0, 0){{/if}}">{{#if market_expert}}{{floatToPercentage item_data.xp_rating}}{{else}}?{{/if}}</td>
						<td>{{#if market_expert}}{{item_data.roll_count}}{{else}}?{{/if}}</td>
						<td class="{{#if has_bid}}highlight{{/if}}">{{displayAsMoneyValue min_bid}}</td>
						<td>{{buy_now_text}}</td>
						<td class="action-buttons"><span class="place-bid {{#if isBiddable this}}enabled{{else}}disabled{{/if}}" data-auction_id="{{auction_id}}"><i class="fa fa-usd"></i></span></td>
						<td><a href="/user/{{seller}}">{{seller}}</a></td>
					</tr>
					{{/with}}
				{{/each}}
			</table>
		</div>
		<div class="col-xs-12 no-padding">
			<p>* denotes paintings you already own</p>
		</div>
	</div>
</template>

<template name="headerTemplate">
	<th class="table-header" data-sort="{{sort_id}}" data-table_id="{{table_id}}">
		<div class="row no-margin">
			<div class="col-xs-8">
				<p>{{text}}</p>
			</div>
			<div class="col-xs-4">
				{{#with sorted this}}{{#if sort}}{{#if ascending}}<i class="fa fa-caret-up"></i>{{else}}<i class="fa fa-caret-down"></i>{{/if}}{{else}} {{/if}}{{/with}}
			</div>
		</div>
	</th>
</template>