<template name="auctionTable">
	<div class="row template-auctionTable">
		{{#if full}}
		<div class="col-xs-12 no-padding">
			<p>Note: your inventory is currently full. You will be unable to place bids on any items in the Auction House.</p>
		</div>
		{{/if}}
		{{#if auction_data}}
		<div class="col-xs-12 no-padding">
			<div class="row">
				{{refresh_auction_details}}
				{{#if hide_ui}}{{else}}
				<div class="col-xs-2">
					<button id="toggle-details" type="button" class="btn btn-default">{{#if hideDetails}}show {{else}}hide {{/if}}details</button>
				</div>
				<div class="col-xs-2 col-xs-offset-8">
					<i id="refresh-auctions" class="blue-text fa fa-refresh"></i>
				</div>
				{{/if}}
			</div>
			<div class="row item-table">
				{{#each auction_data}}
					{{#with auction_info this}}
						<div class="row table-row {{#if hideDetails}}details-hidden{{/if}}" id="{{#if isWinning _id}}winning{{else}}{{#if isLosing _id}}losing{{/if}}{{/if}}">
							<div class="col-xs-1 thumb-div{{#if hideDetails}}-hidden{{/if}}"><img class="auction-thumb" src="{{#with thumbnailFilename item_data.artwork_id}}{{getThumbImageURL this}}{{/with}}"/></div>
							{{#if hideDetails}}
								<div class="col-xs-1 thumb-blank"></div>
							{{/if}}
							<div class="col-xs-1 remaining-div">{{#with time_remaining expiration}}<span class="{{#if soon}}soon{{/if}}">{{remaining}}</span>{{/with}}</div>
							<div class="col-xs-8">
								<div class="row default-info">
									<div class="col-xs-5 default-text">{{#if owned}}<i class="green-text fa fa-check"></i>{{/if}} {{#if isAlreadyWinning _id}}<i class="green-text fa fa-clock-o"></i>{{/if}} {{#if isQuestItem artwork_id}}<i class="green-text fa fa-flag-checkered"></i>{{/if}} {{#if isSought artwork_id}}<i class="blue-text fa fa-bullhorn"></i>{{/if}} {{item_data.artist}} - {{item_data.title}} ({{item_data.date}})</div>
									<div class="col-xs-2 default-text">
										<span class="{{item_data.rarity}}"><strong>{{item_data.rarity}}</strong></span>{{#if item_data.foil}}<span class="af-color"> foil</span>{{/if}}{{#if item_data.seasonal}}<span class="common"> seasonal</span>{{/if}}{{#if item_data.lottery}}<span class="gold"> lottery {{item_data.lottery}}</span>{{/if}}{{#if item_data.original}}<span class="purple-text"> original</span>{{/if}}
									</div>
									<div class="col-xs-2">bid min: <span class="default-text {{#if has_bid}}highlight{{/if}}">${{minBid _id}}</span></div>
									<div class="col-xs-2">buy now: <span class="default-text">{{buy_now_text}}</span></div>
								</div>
								<div class="row other-info{{#if hideDetails}}-hidden{{/if}}">
									<div class="col-xs-12">
										<p> 
										{{#each attribute}}
											<i data-attribute_title="{{description}}" data-attribute_value="{{value}}" style="color: rgb({{attributeColor value}}, 0, 0)" class="{{#if locked}}locked{{/if}} item-attribute fa {{icon}}"></i>
										{{/each}}
										</p>
									</div>
									<div class="col-xs-3">
										<p>condition: <span style="color: rgb({{attributeColor item_data.condition}}, 0, 0)" >{{#if item_data.condition}}{{floatToPercentage item_data.condition}}%{{else}}?{{/if}}</span></p>
										<p>xp rating: <span style="{{#if item_data.xp_rating}}color: rgb({{attributeColor item_data.xp_rating}}, 0, 0){{/if}}">{{#if item_data.xp_rating}}{{floatToPercentage item_data.xp_rating}}{{else}}?{{/if}}</span></p>
									</div>
									<div class="col-xs-3">
										<p>roll count: {{#if rollCount item_data.roll_count}}{{item_data.roll_count}}{{else}}?{{/if}}</p>
										<p>seller: {{#if linkSeller seller}}<a href="/user/{{seller}}">{{seller}}</a>{{else}}Artfunkel, Inc.{{/if}}</p>
									</div>
								</div>
							</div>
							<div class="col-xs-2">
								{{#if isBiddable this}}<button type="button" class="btn btn-default place-bid{{#if hideDetails}}-hidden{{/if}}" data-auction_id="{{../_id}}">place bid</button>{{/if}}
							</div>
						</div>
					{{/with}}
				{{/each}}
			</div>
		</div>
		{{#if hide_ui}}{{else}}
		<div class="col-xs-12 no-padding legend">
			<p><i class="green-text fa fa-check"></i> already owned</p>
			<p><i class="green-text fa fa-clock-o"></i> already winning in another auction</p>
			<p><i class="green-text fa fa-flag-checkered"></i> quest item</p>
			<p><i class="blue-text fa fa-bullhorn"></i> sought item (requires auctioneer bonus)</p>
		</div>
		{{/if}}
		{{else}}
			<div class="no-auctions">
				<p>there are no auctions to display</p>
			</div>
		{{/if}}	
	</div>
</template>