.template-auctionTable .table-row {
	border-bottom: 1px solid gray;
	padding: 10px 0px 10px 0px;
}

.template-auctionTable .table-row:first-child {
	border-top: 1px solid gray;
}

.template-auctionTable .table-row:nth-child(even) {
	background-color: #EEEEEE;
}

.template-auctionTable #winning {
	background-color: #E6FFE6;
}

.template-auctionTable #losing {
	background-color: #FFE6E6;
}

.template-auctionTable .table-row:hover {
	cursor: pointer;
	background-color: #FFFFBB;
}

.template-auctionTable .soon {
	color: red;
	font-weight: bold;
}

.template-auctionTable .action-buttons i {
	color: black;
	opacity: .5;
	font-size: 1.2em;
}

.template-auctionTable .enabled i:hover {
	opacity: 1;
	cursor: pointer;
}

.template-auctionTable .disabled {
	opacity: .2;
	cursor: default;
}

.template-auctionTable .highlight {
	font-weight: bold;
	color: black;
}

.template-auctionTable .item-attribute {
	font-size: 1.5em;
}

.template-auctionTable .locked {
	text-shadow: 0.1em 0.1em 0.1em RGBA(255, 51, 204, .7);
}

.template-auctionTable .auction-thumb {
	max-height: 48px;
}

.template-auctionTable .thumb-div, .template-auctionTable .remaining-div {
	text-align: center;
	padding: auto;
	vertical-align: middle;
}

.template-auctionTable .default-info {
	border-bottom: 1px solid gray;
}