.template-auctionTable .table-row {
	border-bottom: 2px solid black;
	padding: 10px 0px 10px 0px;
}

.template-auctionTable .table-row.details-hidden {
	border-bottom: 1px solid black;
}

.template-auctionTable .table-row:first-child {
	border-top: 2px solid black;
}

.template-auctionTable .table-row.details-hidden:first-child {
	border-top: 1px solid black;
}

.template-auctionTable .table-row:nth-child(even) {
	background-color: #EEEEEE;
}

.template-auctionTable .other-info p,
.template-auctionTable .other-info-hidden p {
	margin: 0;
}

.template-auctionTable .other-info,
.template-auctionTable .other-info-hidden {
	padding: 10px 0px 0px 0px;
	border-top: 1px solid gray;
}

.template-auctionTable .thumb-div-hidden, 
.template-auctionTable .other-info-hidden,
.template-auctionTable .place-bid-hidden, 
.template-auctionTable .table-row:hover > .thumb-blank,
.template-auctionTable .disabled-text-hidden  {
	display: none;
}

.template-auctionTable .other-info {
	border-top: 1px solid gray;	
}

.template-auctionTable .table-row:hover > .thumb-div-hidden, 
.template-auctionTable .table-row:hover > .col-xs-8 > .other-info-hidden,
.template-auctionTable .table-row:hover > .col-xs-2 > .place-bid-hidden,
.template-auctionTable .table-row:hover > .col-xs-2 > .disabled-text-hidden {
	display: block;
}


.template-auctionTable .thumb-div, .template-auctionTable .thumb-div-hidden, .template-auctionTable .remaining-div {
	text-align: center;
	padding: auto;
	vertical-align: middle;
}

.template-auctionTable #winning {
	background-color: #E6FFE6;
}

.template-auctionTable #losing {
	background-color: #FFE6E6;
}

.template-auctionTable .soon {
	color: red;
	font-weight: bold;
}

.template-auctionTable .action-buttons i {
	color: black;
	opacity: .5;
	font-size: 1.2em;
}

.template-auctionTable .enabled i:hover {
	opacity: 1;
	cursor: pointer;
}

.template-auctionTable .disabled {
	opacity: .2;
	cursor: default;
}

.template-auctionTable .highlight {
	font-weight: bold;
	color: black;
}

.template-auctionTable .item-attribute {
	font-size: 1.5em;
}

.template-auctionTable .locked {
	text-shadow: 0.1em 0.1em 0.1em RGBA(255, 51, 204, .7);
}

.template-auctionTable .auction-thumb {
	cursor: pointer;
}

.template-auctionTable .default-text {
	color: black;
	font-size: 1.5rem;
}

.template-auctionTable .quest-text {
	color: green;
	font-weight: bold;
}

.template-auctionTable #toggle-details, 
.template-auctionTable .place-bid,
.template-auctionTable .place-bid-hidden {
	background-color: black;
	color: white;
	border-radius: 0;
	border: none; 
	height: 30px;
	width: 120px;
	font-size: 1.2rem;
}

.template-auctionTable #toggle-details {
	margin-bottom: 10px;
}

.template-auctionTable #refresh-auctions {
	font-size: 2rem;
	text-align: right;
	margin-right: 0;
	cursor: pointer;
	float: right;
}

.template-auctionTable .no-auctions {
	font-size: 2.5rem;
	color: black;
	text-align: center;
	margin: auto;
	padding: 60px;
	background-color: #EEEEEE;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.template-auctionTable .legend {
	margin-top: 20px;
}