.template-inventory .artwork {
	margin: 20px;
	border-top: 1px solid gray;
}

.template-inventory .permanent-text-list {
	font-size: 1em;
}

.template-inventory .permanent-text > span {
	font-size: .5em;
	vertical-align: middle;
}

.template-inventory .permanent-text {
	line-height: .75;
	vertical-align: middle;
	margin-top: -6px;
}


/*TABLE CSS*/
.template-inventory table {
	margin: auto;
	width: 100%;
	border: none;
}

.template-inventory td {
	text-align: center;
	border: none;
}

.template-inventory tr {
	border: 1px solid gray;
	height: 48px;
}

.template-inventory tr:nth-child(even) {
	background-color: #EEEEEE;
}

.template-inventory tr:hover {
	cursor: pointer;
	background-color: #FFFFBB;
}

.template-inventory th {
	background-color: black;
	font-size: 1em;
	color: white;
	min-width: 120px;
	text-align: center;
	border-right: 1px solid white;
	min-height: 80px;
}

.template-inventory th:hover {
	background-color: #666666;
	cursor: pointer;
}

.template-inventory .soon {
	color: red;
	font-weight: bold;
}

.template-inventory .action-buttons {
	color: black;
	opacity: .5;
	font-size: 1.2em;
}

.template-inventory .enabled i:hover {
	opacity: 1;
	cursor: pointer;
}

.template-inventory .disabled {
	opacity: .2;
	cursor: default;
}

.template-inventory .highlight {
	font-weight: bold;
}

.template-inventory {
	margin-bottom: 100px;
}

.template-inventory #tag-selector {
	resize: none;
	width: 100%;
	height: 4rem;
	font-size: 2rem;
	margin-bottom: 24px;
	padding: .4rem 2rem;
}

.template-inventory .filter-checkboxes label {
	font-weight: normal !important;
	padding: 0px 2px;
	margin: 0px;
}

.template-inventory .filter-checkboxes input {
	padding: 0px 2px;
	margin-right: 8px;
}

.template-inventory .all-filters {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 12px 0px;
	display: none;
}

.template-inventory .filter-title {
	margin-bottom: 2px;
	color: black;
}