<template name="inventory">
	<div class="template-inventory">
		<h1>Inventory</h1>
		<h3 id="toggle-view" class="enabled"><i class="fa fa-list {{#if list_view}}af-color{{/if}}"></i></h3>
		<textarea id="tag-selector" placeholder="search by tags (separate tags with a comma, e.g. 'primary, to auction, foils')"></textarea>

		<div class="row inventory-management">
			<h3 class="enabled"><i id="toggle-filters" class="fa fa-filter"></i></h3>
			<div class="row all-filters">
				<div class="sort-area col-xs-12 col-md-4">
					<p class="filter-title">sort:</p>
					<select id="sort-selector">
						<option value="artwork_data.title">title</option>
						<option value="artwork_data.date">date</option>
						<option value="artwork_data.artist">artist</option>
						<option value="artwork_data.rarity_value">rarity</option>
						<option value="condition">condition</option>
						<option value="xp_rating">xp_rating</option>
					</select>
					<select id="order-selector">
						<option value="1">ascending</option>
						<option value="-1">descending</option>
					</select>
				</div>

				<div class="filter-area col-xs-12 col-md-8">
					<div class="row">
						<div class="col-xs-4">
							<p class="filter-title">card type:</p>
							<div class="filter-checkboxes">
								<label><input class="type-select" type="checkbox" id="card-type-checkbox" value="standard" checked>standard</label><br>
								<label><input class="type-select" type="checkbox" id="card-type-checkbox" value="foil" checked>foil</label><br>
								<label><input class="type-select" type="checkbox" id="card-type-checkbox" value="seasonal" checked>seasonal</label><br>
								<label><input class="type-select" type="checkbox" id="card-type-checkbox" value="lottery" checked>lottery</label><br>
								<label><input class="type-select" type="checkbox" id="card-type-checkbox" value="original" checked>original</label>
							</div>
						</div>

						<div class="col-xs-4">
							<p class="filter-title">status:</p>
							<div class="filter-checkboxes">
								<label><input class="status-select" type="checkbox" id="card-status-checkbox" value="claimed" checked>inventory</label><br>
								<label><input class="status-select" type="checkbox" id="card-status-checkbox" value="permanent" checked>permanent collection</label><br>
								<label><input class="status-select" type="checkbox" id="card-status-checkbox" value="displayed" checked>on display</label><br>
								<label><input class="status-select" type="checkbox" id="card-status-checkbox" value="auctioned" checked>auctioned</label>
							</div>
						</div>

						<div class="col-xs-4">
							<p class="filter-title">rarity:</p>
							<div class="filter-checkboxes">
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="common" checked>common</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="uncommon" checked>uncommon</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="rare" checked>rare</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="legendary" checked>legendary</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="masterpiece" checked>masterpiece</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- {{#if list_view}} -->
			{{#if false}}
			<table class="auction-table" data-table_id="{{this.table_id}}">
				<tr>
				{{#each listHeader}}
					{{> inventoryHeaderTemplate this}}
				{{/each}}
				</tr>

				{{#each owned}}
				<tr data-item_id="{{_id}}">
					<td>
						{{#with thumbnailInfo _id}}
						<img class="image-thumb preview enabled" src="/img/paintings/{{filename}}" width="{{image_width}}" height="{{image_height}}"/>
						{{/with}}
					</td>
					<td>{{artwork_data.title}}</td>
					<td>{{artwork_data.date}}</td>
					<td>{{artwork_data.artist}}</td>
					<td><span class="{{artwork_data.rarity}}"><strong>{{artwork_data.rarity}}</strong></span></td>
					<td>${{getItemValue _id "actual"}}</td>
					<td>{{height}} x {{width}}</td>
					<td style="color: rgb({{valueColor condition}}, 0, 0)" >{{condition_text}}</td>
					<td>
					{{#each attributes}}
						<i data-attribute_title="{{this.description}}" data-attribute_value="{{this.value}}" style="color: rgb({{valueColor this.value}}, 0, 0)" class="list-item-attribute fa {{this.icon}}"></i>
					{{/each}}
					</td>
					<td style="color: rgb({{valueColor xp_rating}}, 0, 0)" >{{xp_rating_text}}</td>
					<td>{{roll_count}}</td>
					<td class="action-buttons no-padding">						
						{{#if onDisplay this._id}}
						<div class="col-xs-12 no-padding">
							<span class="remaining-text">on display - {{time_remaining this._id}}</span>
						</div>
						{{else}}
						<div class="col-xs-2 no-padding">
							<span class="quick-sell {{#if can_sell this}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{this._id}}" class="fa fa-usd"></i></span>
						</div>
						<div class="col-xs-2 no-padding">
							<span class="auction {{#if can_auction this}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{this._id}}" class="fa fa-gavel"></i></span>
						</div>
						<div class="col-xs-2 no-padding">
							<span class="display {{#if can_display this}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{this._id}}" class="fa fa-picture-o"></i></span>
						</div>
						<div class="col-xs-2 no-padding">
							<span class="reroll {{#if can_reroll this}}enabled{{else}}disabled{{/if}}"><i data-item_id="{{this._id}}" class="fa fa-magic"></i></span>
						</div>
						<div class="col-xs-3 col-xs-offset-1 no-padding">
							<span class="perm-collection {{#if permanent this._id}}active af-color{{else}}inactive{{/if}}"><i data-item_id="{{this._id}}" class="{{#if permanent this._id}}af-color{{/if}} fa fa-heart"></i></span>
						</div>
						{{/if}}
					</td>
				</tr>
				{{/each}}
			</table>
			{{else}}

			{{#each owned}}
				{{>itemInfo item_data=this sell_button=true auction_button=true display_button=true reroll_button=true permanent_button=true tag_button=true}}
			{{/each}}

			{{/if}}
		</div>
	</div>
</template>

<template name="inventoryHeaderTemplate">
	<th class="table-header" data-sort="{{sort_id}}" data-table_id="{{table_id}}">
		<div class="row no-margin">
			<div class="col-xs-8">
				<p>{{text}}</p>
			</div>
			<div class="col-xs-4">
				{{#with sorted this}}{{#if sort}}{{#if ascending}}<i class="fa fa-caret-up"></i>{{else}}<i class="fa fa-caret-down"></i>{{/if}}{{else}} {{/if}}{{/with}}
			</div>
		</div>
	</th>
</template>