<template name="inventory">
	<div class="template-inventory">
		<div class="row">
			<p class="filter-title">display by tag:</p>
    		<select id="selected-tag">
    			<option value="">-- select tag --</option>
    			{{#each fetchServerData "getClaimedTags"}}
    				<option value="{{this}}">{{this}}</option>
    			{{/each}}
    		</select>
			<button id="display-by-tags" type="button" class="btn btn-default">display</button>
            <button id="clear-display" type="button" class="btn btn-default">clear display</button>
		</div>
		{{> itemSet statuses=item_set_statuses vintage_select=false}}
	</div>
</template>