<template name="randomDrop">
	<div class="template-randomDrop">
		<div class="row no-padding">
			<div class="crate-buttons">
				{{#if show_daily_drop}}
					<button class="{{#if dailyDropEnabled}}enabled{{else}}disabled{{/if}}" id="drop-button">{{dailyDropText dailyDropEnabled}}</button>
				{{/if}}
				{{#if has_unclaimed}}
				<button id="sell-all">sell all</button>
				<button id="donate-all">donate all</button>
				<button id="archive-all">archive all</button>
				{{/if}}
			</div>

			{{#if inventoryIsFull}}
			<p>Note: your inventory is currently full. You will be unable to add new artwork to your inventory</p>
			{{/if}}

			{{> itemSet statuses=item_set_statuses}}
		</div>
	</div>
</template>