<template name="randomDrop">
	<div class="template-randomDrop container">
		<h1 class="af-color">Loot</h1>
		<div class="crate-buttons">
			<button class="{{#if dailyDropEnabled}}enabled{{else}}disabled{{/if}}" id="drop-button">{{dailyDropText dailyDropEnabled}}</button>
		</div>

		{{#if full}}
		<p>Note: your inventory is currently full. You will be unable to add new artwork to your inventory</p>
		{{/if}}

		{{#each cardData drop}}
			{{>itemInfo item_data=this claim_button=true sell_button=true preview_button=true}}
		{{/each}}

	</div>
</template>