.template-randomDrop .drop {
	margin: 20px;
	border-top: 1px solid gray;
}

.template-randomDrop p {
	margin: 5px 20px;
}

.template-randomDrop .remaining-text {
	font-size: .6em;
}

.pick-section, .template-dropAnimationModal .reward {
	margin: 48px auto;
}

.template-randomDrop .crate-buttons button {
	background-color: white;
	width: 260px;
	font-weight: bold;
	font-size: 1em;
}

#drop-button {
	background-color: black;
}