<template name="forgotPassword">
	<div class="template-forgotPassword">
        <div class="row">
            <div class="col-xs-12">
                <div class="reset-box">
                    {{#if link_sent}}
                    <p>A password reset link has been sent.</p>
                    {{/if}}
                    <input type="email" class="form-control input-lg" id="reset-email" placeholder="email address"/>
                    <button id="send-reset">send link</button>
                </div> 
            </div>
        </div>
	</div>
</template>