.template-settings .boolean-wrapper {
	font-size: 1.5em;
}

.template-settings .setting-description {
	margin-left: 12px;
}

.template-settings .subset-title {
	font-size: 1.5em;
	color: black;
}

.template-settings .setting-subset {
	margin-top: 16px;
}

.template-settings .setting-subset > .boolean-wrapper {
	margin-left: 10px;
}

.template-settings .boolean-wrapper > i {
	cursor: pointer;
}

.template-settings #new-name {
	resize: none;
	width: 300px;
	height: 3rem;
	font-size: 1.5rem;
	margin-bottom: 12px;
	padding: .2rem 2rem;
}

.template-settings #change-name {
	height: 3rem;
	font-size: 1.5rem;
	margin-bottom: 12px;
	padding: .2rem 2rem;
	width: auto;
}

.template-settings #new-name,
.template-settings #change-name {
	display: inline-block;
	float: left;
}