<template name="quests">
	<div class="template-quests">
		<h1 class="af-color">Quests ({{> meteorValue key="getActiveQuests"}} of {{> meteorValue key="getMaxQuests"}})</h1>
		{{#each quest}}
			{{> questTemplate this}}
		{{/each}}
	</div>
</template>

<template name="questTemplate">
	<div class="template-questTemplate">
		<div class="quest-container row">
			<div class="row">
				<div class="col-xs-8">
					<p class="quest-title {{rarity}}">{{rarity}} quest</p>
					<p class="details">find {{min_requirement}} of the following:</p>
				</div>
				<div class="col-xs-4">
					<div class="reward-info">
						<p class="details">reward:</p>
						<p class="af-color">{{commaSeparatedValue reward.xp}}xp</p>
						<p class="af-color">{{displayAsMoneyValue reward.money}}</p>
						{{#if reward.item}}
							<p class="af-color">special {{#if reward.item.foil}}foil {{/if}}item</p>
						{{/if}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">			
					{{#each quest_target this}}
						{{#if owned_item}}
							{{> itemInfo item_data=owned_item}}
						{{else}}
							{{#with quest_stub artwork_object}}
								{{> itemStubView item_data=this}}
							{{/with}}
						{{/if}}
					{{/each}}
				</div>
			</div>
			{{#if _id}}
			<div class="row quest-buttons">
				{{#with fetchServerData "questIsCompleted" _id}}
					<button data-quest_id="{{../_id}}" class="quest-button turn-in-button {{#if this}}enabled{{else}}disabled{{/if}}">claim reward</button>
					<button data-quest_id="{{../_id}}" class="quest-button turn-in-and-sell {{#if this}}enabled{{else}}disabled{{/if}}">claim & sell</button>
					<button data-quest_id="{{../_id}}" class="quest-button turn-in-and-donate {{#if this}}enabled{{else}}disabled{{/if}}">claim & donate</button>
				{{/with}}
				<button data-quest_id="{{_id}}" class="quest-button cancel-quest">cancel quest</button>
			</div>
			{{/if}}
		</div>
	</div>
</template>