<!-- <template name="dropAnimationModal">
	<div class="template-dropAnimationModal">
	    <div style="z-index:9999999999999999;" class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content container">
	            	<div class="pick-section">
		                <h4 class="{{quality}}">{{quality}}</h4>
		                <div class="row">
			            	<button id="stop-button" type="button" class="btn btn-default">stop</button>
			            </div>
			        </div>
			        <div class="reward">
			        	<h4>you received a <span class="{{crateQuality}}">{{crateQuality}}</span> crate!</h4>
			        </div>
	            </div>
	        </div>
	    </div>
	</div>
</template> -->