.template-navbar .nav-icon {
	font-size: 2.5rem;
	margin-right: 10px;
	color: white;
	opacity: .75;
}

.template-navbar .icon-row {
	padding: 8px;
	margin: 0px;
	display: block;
}

.template-navbar .icon-section a{
	margin-top: 0px;
}

.template-navbar .nav-icon:hover {
	opacity: 1;
}

.template-navbar {
	background-color: black;
	color: white;
	width: 100%;
	position: fixed;
	top: 0;
	margin-top: 0px;
	z-index: 999999999;
	border-bottom: 2px solid white;
}

.template-navbar .ticket-info {
	margin-top: 24px;
}

.template-navbar .ticket-button {
	font-size: 1.8rem;
	opacity: .75;
}

.template-navbar .npcs-met {
	color: #FFFFFF;
}

.template-navbar .npcs-met:hover {
	opacity: 1;
	color: #FFFFFF;
}

.template-navbar .npcs-met:focus {
	color: #FFFFFF;
}

.template-navbar .af-color {
	color: #FF33CC !important;
}

.template-navbar .af-color:hover {
	opacity: 1;
}

.template-navbar .bright-orange-text {
	color: #ffd78e;
}

@-webkit-keyframes notification_animation {
    0% {
    	margin-top: 10px;
    	opacity: 1;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	margin-top: 50px;
    	opacity: 0;
    }
}

@-moz-keyframes notification_animation {
    0% {
    	margin-top: 10px;
    	opacity: 1;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	margin-top: 50px;
    	opacity: 0;
    }
}
@-o-keyframes notification_animation {
    0% {
    	margin-top: 10px;
    	opacity: 1;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	margin-top: 50px;
    	opacity: 0;
    }
}
@keyframes notification_animation {
    0% {
    	margin-top: 10px;
    	opacity: 1;
    }
    50% {
    	opacity: 1;
    }
    100% {
    	margin-top: 50px;
    	opacity: 0;
    }
}

.template-navbar .notification {
	position: absolute;
	font-weight: bold;
	font-size: 1.5rem;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
	
	/*text-shadow: 1px 1px black;*/
	-webkit-animation: notification_animation 2s ease forwards;
	/*-moz-animation: notification_animation 2s ease forwards;
	-o-animation: notification_animation 2s ease forwards;
	animation: notification_animation 2s ease forwards;*/
}

.template-navbar .notification p {
	margin-bottom: -6px;
}

.template-navbar .notification .money, 
.template-navbar .notification .xp {
	white-space: nowrap;
}