.template-navbar .nav-icon {
	font-size: 2.5rem;
	margin-right: 20px;
	color: white;
	opacity: .75;
}

.template-navbar .nav-icon:hover {
	opacity: 1;
}

.template-navbar {
	background-color: black;
	color: white;
	width: 100%;
	position: absolute;
	top: 0;
	margin-top: 0px;
}

.template-navbar .navbar-section {
	padding: 12px;
}

.template-navbar .ticket-info {
	margin-top: 24px;
}

.template-navbar .ticket-button {
	font-size: 2.0rem;
	opacity: .75;
}

.template-navbar .npcs-met {
	color: #FFFFFF;
}

.template-navbar .npcs-met:hover {
	opacity: 1;
	color: #FFFFFF;
}

.template-navbar .npcs-met:focus {
	color: #FFFFFF;
}

.template-navbar .af-color {
	color: #FF33CC !important;
}

.template-navbar .af-color:hover {
	opacity: 1;
}

.template-navbar .bright-orange-text {
	color: #ffd78e;
}