<template name="navbar">
	<div class="template-navbar col-xs-12 no-padding pull-right">
		<div class="container no-padding no-margin">
			<div class="col-sm-4 col-xs-12 no-padding navbar-section">
				<dev class="row icon-row">
					<dev class="col-xs-1 icon-section">
						<a href="/"><i data-title="Home" class="{{#if hasAlerts}}blue-text{{/if}} nav-icon fa fa-home"></i></a>
					</dev>
						{{#if currentUser}}
							<dev class="col-xs-1  icon-section">
								<a href="/auctions"><i data-title="Auction House" class="nav-icon fa fa-gavel"></i></a>
							</dev>
							<dev class="col-xs-1  icon-section">
								<a href="/store"><i data-title="Store" class="{{#if hasForSale}}green-text{{/if}} nav-icon fa fa-money"></i></a>
								<div class="notification-area store">
									{{#with notifications "store"}}{{/with}}
								</div>
							</dev>
							<dev class="col-xs-1  icon-section">
								<a href="/galleries"><i data-title="Player Galleries" class="nav-icon fa fa-globe"></i></a>
							</dev>
							<!-- <dev class="col-xs-1  icon-section">
								<a href="/user/{{screen_name}}"><i data-title="My Gallery" class="{{#if hasVisitors}}af-color{{/if}} nav-icon fa fa-picture-o"></i></a>
							</dev>
							<dev class="col-xs-1  icon-section">
								<a href="/checklist"><i data-title="Checklist" class="nav-icon fa fa-list"></i></a>
							</dev> -->
							<dev class="col-xs-1  icon-section">
								<a href="/leaderboard"><i data-title="Leaderboard" class="nav-icon fa fa-trophy"></i></a>
							</dev>
					   	{{/if}} 
					   	<dev class="col-xs-1  icon-section">	
					    	<a href="/help"><i data-title="Help" class="nav-icon fa fa-question"></i></a>
					    </dev>
					    <dev class="col-xs-1  icon-section">
					    	<a href="/wiki"><i data-title="Legendary Attributes" class="nav-icon fa fa-star"></i></a>
					    </dev>
						{{#if currentUser}}
							{{#if hasCompletedQuest}}
							<dev class="col-xs-1  icon-section">					
								<a href="/dashboard/quests"><i data-title="Quests" class="{{#if hasFullyCompletedQuest}}orange-text{{else}}{{#if hasCompletedQuest}}bright-orange-text{{/if}}{{/if}} nav-icon fa fa-flag-checkered"></i></a>
							</dev>
							{{/if}}
							{{#if hasLoot}}
							<dev class="col-xs-1  icon-section">
								<a href="/dashboard/loot"><i data-title="Loot Section" class="yellow-text nav-icon fa fa-gift"></i></a>
								<div class="notification-area loot">
									{{#with notifications "loot"}}{{/with}}
								</div>
							</dev>
							{{/if}}
						<dev class="col-xs-1  icon-section">
					    	<a href="/logout"><i data-title="Log Out" class="logout-button nav-icon fa fa-sign-out light-gray"></i></a>
					    </dev>
					   {{/if}}
					   {{#if userIsAdmin}}
					    <dev class="col-xs-1  icon-section">
							<a href="/admin"><i data-title="Admin Tools" class="nav-icon fa fa-cog light-gray"></i></a>
						</dev>
						{{/if}}
						

				</dev>
			</div>

		    {{#if currentUser}}
	    	<div class="col-sm-3 col-xs-12 no-padding navbar-section ticket-area">
				<a href="/user/{{screen_name}}"><i class="{{#if hasVisitors}}af-color{{/if}} nav-icon fa fa-picture-o"></i></a>
				{{#each ticket}}
					{{#with ticketData this}}
					<a href="/user/{{owner_name}}" class="ticket-button {{#if unmet_npcs}}af-color{{else}}npcs-met{{/if}}"><i data-expiration_string="{{expiration_string}}" data-owner_name="{{owner_name}}" class="fa fa-ticket"></i></a>
					{{/with}}
				{{/each}}
			</div>
			{{/if}}
			{{#if currentUser}}			
		    	<div class="col-sm-5 col-xs-12 no-padding navbar-section">
		    		<!-- <div class="row">
		    			{{#with notifications}}
			    			<div class="notification-area col-xs-2 xp">
			    			{{#if xp}}
			    				<div class="notification-wrapper xp">
					    		{{#each xp}}
									<span class="notification af-color">+{{commaSeparatedValue amount}}xp</span>
								{{/each}}
								</div>
							{{/if}}
							</div>
							<div class="notification-area col-xs-2 money">
							{{#if money}}
								<div class="notification-wrapper money">
								{{#each money}}
									<span class="notification {{#if isNegative amount}}red-text{{else}}green-text{{/if}}">{{#if isNegative amount}}{{else}}+{{/if}}{{displayAsMoneyValue amount}}</span>
								{{/each}}
								</div>
							{{/if}}
							</div>
							<div class="notification-area col-xs-8">
								<div class="notification-wrapper procs">
									
								</div>
							</div>
						{{/with}}
					</div> -->
					<div class="row">
						<div class="notification-area col-xs-6 procs">
							<!-- {{#with notifications "procs"}}{{/with}} -->
						</div>
						<div class="notification-area col-xs-3 money">
							<div class="balance green-text">{{bank_balance}}</div>
							{{#with notifications "money"}}{{/with}}
						</div>
						<div class="notification-area col-xs-3 xp">
							<div class="current_xp af-color">{{current_xp}}xp</div>
							{{#with notifications "xp"}}{{/with}}
						</div>
					</div>
				</div>			
			{{/if}}
        </div>
    </div>
</template>