<template name="forgeModal">
	<div class="template-forgeModal col-xs-8">
		<div class="message-container">
			{{#with fetchServerData "getItemData" item_id}}
			<div class="modal-message-area">
				{{>itemInfo item_data=this}}
				{{#if selected_forgery_contract_id}}
					{{forge_data _id}}
					{{#if canAfford forgery_cost}}
						<h4>Forge <span class="af-color work-title">{{artwork_data.title}}</span> by <span class="af-color">{{artwork_data.artist}}</span> for <span class="red-text">{{displayAsMoneyValue forgery_cost}}</span>?</h4>
						<p class="heat-text">heat level: <span style="color: {{forgery_heat_color expected_forgery_heat}}">{{heat_label expected_forgery_heat}}</span></p>
					{{else}}
						<h4>Insufficient funds (<span class="red-text">{{displayAsMoneyValue forgery_cost}}</span> required).</h4>
					{{/if}}
				{{else}}
					{{#if contract_count}}
						<h4>Select a forgery contract from below.</h4>
					{{else}}
						<h4>You don't have any forgery contracts available. Meet forgers in player galleries to earn forgery contracts.</h4>
					{{/if}}
				{{/if}}
			</div>
			{{#if contract_count}}
				{{> forgeryContracts}}
			{{/if}}
			<div class="modal-button-area">
				{{#if selected_forgery_contract_id}}
					{{#if canAfford forgery_cost}}
						<button class="modal-button" id="forge-item" data-item_id="{{_id}}">ok</button>
					{{/if}}
				{{/if}}
				<button class="modal-button close-button">close</button>
			</div>
			{{/with}}
		</div>
	</div>
</template>