<template name="home">
	<div class="template-home">
		{{#with jumbotron_image}}
		<img class="jumbotron-image" src="{{getImageURL filename extension}}" style="width:{{width}}; height:{{height}}; margin-top:{{margin_top}}; margin-left:{{margin_left}}"/>
		{{/with}}
		<div class="home-container col-xs-12">
			<p class="signature"><a class="af-color highlight" href="mailto:jpollack320@gmail.com?Subject=Artfunkel%20Feedback">Joe Pollack</a> - 2015</p>
			<div class="row home-content-container">
				<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
					<h1 class="af-color" id="game-title">artfunkel</h1>
					<h2>the game</h2>
					<div class="area-container">
						<div id="login-area">
							<input type="email" class="form-control input-lg" id="login-email" placeholder="email address"/>
		                    <input type="password" class="form-control input-lg" id="login-password" placeholder="password"/>
		                    <button id="login" class="home-button" type="submit">login</button>
							<p id="register">Don't have an account? Click <a href="#" id="register-link">here</a> to register</p>
							<p id="forgot">Forget your password? Click <a href="/reset">here</a> to reset.</p>			
						</div>
					</div>
					<div class="area-container">
						<div id="register-area">
							<p id="back"><a href="#" id="login-link">&lt;- back to login</a></p>	
			                <form id="register-form" action="action">
			                    <div class="row no-padding">
			                        <div class="col-xs-12 no-padding" id="errors">
			                            <p>Please correct the following errors:</p>
			                            {{#each error}}
			                            <p class="error">{{this}}</p>
			                            {{/each}}
			                        </div>
			                    </div>

			                    <div class="row no-padding">
			                        <input type="text" class="form-control input-lg" id="screen_name" placeholder="gamertag">
			                    </div>

			                    <div class="row no-padding">
			                        <input type="email" class="form-control input-lg" id="email" placeholder="e-mail address">
			                    </div>

			                    <div class="row no-padding">
		                            <p class="password-instructions">(passwords must contain an uppercase letter, lowercase letter, and a number)</p>
		                            <input type="password" class="form-control input-lg" id="password" placeholder="password">
		                            <input type="password" class="form-control input-lg" id="rtpassword" placeholder="re-enter password">
			                    </div>

			                    <!-- need a date selector for birthday -->

			                    <div class="row no-padding">
									<button class="home-button" id="register-button">register</button> 
			                    </div>  
			                </form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p class="caption">image: <span class="work-title work-info">{{work_title}}</span> by <span class="work-info">{{work_artist}}</span></p>
	</div>
</template>