<template name="home">
	<div class="template-home">
		{{#with jumbotron_image}}
		<img class="jumbotron-image" src="{{getImageURL filename}}" style="width:{{width}}; height:{{height}}; margin-top:{{margin_top}}; margin-left:{{margin_left}}"/>
		{{/with}}
		<div class="home-container col-xs-12">
			<div class="row home-content-container">
				<div>
					<h1 class="af-color">artfunkel</h1>
					<h2>the game</h2>
					<p>click <a href="/register">here</a> to register</p>
					<p>click <a href="/login">here</a> to login</p>
				</div>
			</div>
		</div>
		<p class="signature">created by <span class="af-color highlight">Joe Pollack</span></p>
	</div>
</template>