@keyframes opacity_fade {
    0%{opacity:0}
    100%{opacity:1}
}

.template-home {
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;

	-webkit-animation: opacity_fade .25s ease;
	-moz-animation: opacity_fade .25s ease;
	-o-animation: opacity_fade .25s ease;
	animation: opacity_fade .25s ease;
}

.template-home .home-container {

	width: 100%;
	height: 100%;
	position: fixed;
	padding: 0px;
	background-image: 
}

.template-home .home-content-container {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
    padding: 36px;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.template-home .jumbotron-image {
	opacity: .15;

	position: absolute;
	padding: 0px;
	margin: 0px;
}

.template-home p,
.template-home h1,
.template-home h2, 
 {
	position: relative;
	margin: auto 0px;
	padding: auto 0px;
}

.template-home h1 {
	font-size: 10rem;
	padding: 0px;
	vertical-align: bottom;
	margin: 0px;
	font-weight: 600;
}

.template-home h2 {
	color: black;
	margin-top: -1rem;
	margin-bottom: 10rem;
	text-align: center;
	border-top: 1px solid #CCC;
	padding-top: 1rem;
}

.template-home p {
	font-size: 2rem;
	margin-bottom: 0rem;
}

.template-home .signature {
	font-size: 1.75rem;
	text-align: center;
	position: absolute;
	bottom: 0;
	margin: 5rem auto;
	width: 100%;
	z-index: 600;
}

.template-home .highlight {
	font-weight: bold;
}

.template-home .caption {
	font-size: 1.2rem;
	text-align: left;
	position: absolute;
	bottom: 0;
	margin: 2rem;
}

.template-home .work-info {
	color: black;
}

.template-home input {
	border: 1px solid #CCC;
	border-radius: 0;
	margin: 1rem auto;
}

.template-home input:focus {
	border: 1px solid black;
	box-shadow: none;
} 

.template-home .home-button {
	font-size: 1.5rem;
	width: 100px;
	height: 3rem;
	margin-bottom: 3rem;
}

.template-home #register, .template-home #forgot, .template-home #back {
	font-size: 1.2rem;
}

.template-home .signature > a:hover {
	color: #F3C;
} 

.template-home #game-title {
	text-align: center;
}

.template-home .password-instructions {
	font-size: 1.2rem;
	margin-top: 4rem;
}

.template-home #errors {
	margin-top: 2rem;
	color: red;
}

.template-home .error {
	font-size: 1.4rem;
	color: black;
}

.template-home .area-container {
	width: 80%;
	margin: auto;
	max-width: 540px;
}