<template name="userGallery">
	<div class="template-userGallery">
		<div class="container">
			{{#with entryInfo screen_name}}
			{{#if paid}}
				<div class="row no-padding no-margin">
					<div class="npc-area">
						{{#each npc owner_id}}
							<i data-npc_id="{{_id}}" class="npc {{quality}} fa {{icon}} {{#if unmet _id}}enabled{{else}}disabled{{/if}}"></i>
						{{/each}}
					</div>
				</div>
				<h1 class="af-color">Player Gallery - {{screen_name}}</h1>

				{{#with galleryData screen_name}}
				<div id="gallery-wall" style="background: url({{getTextureURL finish_data.wall_filename}}) repeat scroll 0% 0% / 250px 250px">
					<div class="wall-wash" style="background-color: rgba(255, 255, 255, {{finish_data.wall_wash}}">
						<div class="image-container">		
						{{#each displayed}}
							{{> galleryItem this}}
						{{/each}}
					
						{{#each permanent}}
							{{> galleryItem this}}
						{{/each}}		
						</div>
					</div>
				</div>
				<div id="gallery-floor" style="background: url({{getTextureURL finish_data.floor_filename}}) repeat scroll 0% 0% / 200px 100px"></div>
				{{/with}}

				{{#if canEdit screen_name}}
				<div class="row edit-area">
					<div class="col-xs-6 finish-section">
						<div class="col-xs-12">
							<h3>Wall Finishes</h3>
							<div class="row">
								{{#each wall_finish}}
									<img data-gallery_finish_id="{{finish_id}}" class="wall-finish-thumbnail" src="{{getTextureURL filename}}">
								{{/each}}
							</div>
							<div class="row">
								<p>adjust opacity</p>
								<div class="col-xs-6" id="saturation-slider"></div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 finish-section">
					<h3>Floor Finishes</h3>
					{{#each floor_finish}}
						<img data-gallery_finish_id="{{finish_id}}" class="floor-finish-thumbnail" src="{{getTextureURL filename}}">
					{{/each}}
					</div>
				</div>
				{{/if}}
			
			{{else}}
				<div class="row">
					<h4>entry fee: <span class="highlight af-color">{{entry_fee_text}}</span></h4>
					<button class="{{#if pay_fee_enabled}}enabled{{else}}disabled{{/if}}" id="enter-button" data-owner_id="{{owner_id}}">pay fee</button>
				</div>
			{{/if}}
			{{/with}}
		</div>
	</div>
</template>

<template name="galleryItem">
	<div class="painting-container" data-item_id="{{this._id}}">
		<div class="item"><img src="{{#with getFilename this.artwork_id}}{{getImageURL this}}{{/with}}" style="width: {{calcWidth this.artwork_id}}px"></div>
		<div class="plackard">
			{{#with plackardData this.artwork_id}}
				<p>{{title}}</p>
				<p>{{artist}}, {{date}}</p>
				<p class="{{this.rarity}}">{{rarity}}</p>
			{{/with}}
		</div>
	</div>
</template>