.template-userGallery .artwork {
	margin: 20px;
	border-top: 1px solid gray;
}

.template-userGallery p {
	margin: 5px 20px;
}

.template-userGallery .button-area {
	font-size: 1em;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	margin-top: 12px;
}

.template-userGallery .button-area > div {
	text-align: center;
}

.template-userGallery .buttons {
	width: 100%;
	margin: auto;
}

.template-userGallery .remaining-text {
	font-size: 1.0em;
}

.template-userGallery .button-area .disabled{
	opacity: .5;
}

.template-userGallery .item-card {
	width: 504px;
	height: 300px;
	display: inline-block;
	margin: 24px 24px;
	background-color: #EEEEEE;
}

.template-userGallery .button-area .enabled {
	color: black;
	font-size: 1.5em;
	opacity: .5;
}

.template-userGallery .button-area .enabled:hover {
	opacity: 1;
	cursor: pointer;
}

.template-userGallery .item-card {
	border: 1px solid black;
}

.template-userGallery #enter-button.disabled {
	opacity: .5;
}

.template-userGallery .npc-area {
	text-align: center;
	height: 48px;
	margin-bottom: 24px;
}

.template-userGallery .npc {
	font-size : 3em;
	margin: 0px 12px;
}

.template-userGallery .npc.enabled {
	opacity: .8;
}

.template-userGallery .npc.enabled:hover {
	opacity: 1;
	cursor: pointer;
}

.template-userGallery .npc.disabled:hover {
	cursor: default;
}

.template-userGallery .npc.disabled {
	opacity: .4;
}

.template-userGallery #enter-button.disabled:hover {
	cursor: default;
}

#gallery-wall {
	display: none;
	white-space: nowrap;
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	border-bottom: 1px solid black;
	background-color: #DDDDDD;
	cursor: grab;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.template-userGallery .window-crop {
	overflow: hidden;
}

#gallery-wall .wall-wash {
	width: 100%;
	height: 100%;
	padding-left: 64px;
	padding-right: 64px;
}

#gallery-wall:active {
	cursor: grabbing;
}

#gallery-wall .item{
	display: inline-block;
	background-color: white;
	-webkit-box-shadow: 6px 6px 0px rgba(0,0,0,0.21), inset 2px 2px 0px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: 6px 6px 0px rgba(0,0,0,0.21), inset 2px 2px 0px 0px rgba(0,0,0,0.21);
	box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.21), inset 2px 2px 0px 0px rgba(0,0,0,0.21);
	cursor: pointer;
}

#gallery-wall .painting-container {
	display: inline-block;
	font-size: 0px;
}

.template-userGallery .rendered-window, .template-userGallery .image-container {
	font-size: 0px;
}

#gallery-floor {
	margin: 0px 0px 64px 0px !important;
	background-color: gray;
	height: 64px;
}

.template-userGallery .plackard {
	padding: 3px;
	margin-left: 12px;
	background-color: white;
	display: inline-block;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.21);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.21);
	cursor: pointer;
	padding-left: 4px;
}

.template-userGallery .plackard p {
	/*font-size: .2rem;*/
	margin: 0px;
}

.template-userGallery .wall-finish-container, .template-userGallery .floor-finish-container {
	width: 80px;
	border: 1px solid black;
	margin: 10px;
	display: inline-block;
	cursor: pointer;
}

.template-userGallery .wall-finish-thumbnail, .template-userGallery .floor-finish-thumbnail {
	width: 100%;
}

.template-userGallery .xp-rating {
	width: 100%;
	text-align: center;
}

.template-galleryEdit .edit-area {
	margin-bottom: 64px;
}

.template-galleryEdit #saturation-slider {
	margin-bottom: 24px;
}

.template-galleryEdit .finish-section {
	margin-bottom: 24px;
}

@-webkit-keyframes Test {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Test {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes Test {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Test {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.template-userGallery .foil {
	background: linear-gradient(60deg, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(255, 255, 255, .5), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
	background-size: 500% 500%;
	display: inline-block;
	position: absolute;
	-webkit-animation: Test 8s ease infinite;
	-moz-animation: Test 8s ease infinite;
	-o-animation: Test 8s ease infinite;
	animation: Test 8s ease infinite;
}