<template name="userGallery">
	<div class="template-userGallery">
		<div class="{{#if from_dashboard}}{{else}}container{{/if}}">
			{{#with entryInfo screen_name}}
			{{#if ../from_dashboard}}
			{{else}}
			<h1 class="af-color">player gallery - {{screen_name}}</h1>	
			{{/if}}	
			{{#if paid}}
				<div class="row no-padding no-margin">
					<div class="npc-area">
						{{#each npc owner_id}}
							{{#if unmet _id}}
								<i data-npc_id="{{_id}}" class="npc {{quality}} fa {{icon}} enabled"></i>
							{{/if}}
						{{/each}}
					</div>
				</div>
				
				{{#with galleryData screen_name}}
				<div class="window-crop row">
					<div class="rendered-scene">
						<div id="gallery-wall" style="background: url({{getTextureURL finish_data.wall_filename}}) repeat scroll 0% 0% / {{finish_data.wall_size}}">
							<div class="wall-wash" style="background-color: rgba({{rgbString finish_data.wall_base}}, {{finish_data.wall_wash_opacity}})">
								<div class="image-container">	
								{{#each displayed}}
									{{> galleryItem painting_info=this finish_data=../finish_data}}
								{{/each}}
							
								{{#each permanent}}
									{{> galleryItem painting_info=this finish_data=../finish_data}}
								{{/each}}		
								</div>
							</div>
						</div>
						<div id="gallery-floor" style="background: url({{getTextureURL finish_data.floor_filename}}) repeat scroll 0% 0% / {{finish_data.floor_size}}"></div>
					</div>
				</div>
				{{/with}}

				{{#if ../from_dashboard}}
					{{> galleryEdit}}
				{{else}}
					{{#if ../own_gallery}}
						{{> galleryEdit}}
					{{/if}}
				{{/if}}
			
			{{else}}
				<div class="row">
					<h4>entry fee: <span class="highlight af-color">${{entryFee price_tier owner_id}}</span></h4>
					<button class="{{#if pay_fee_enabled}}enabled{{else}}disabled{{/if}}" id="enter-button" data-owner_id="{{owner_id}}">pay fee</button>
					{{#if tickets_maxed}}
						<p>You have reached your ticket limit</p>
					{{/if}}
				</div>
			{{/if}}
			{{/with}}
		</div>
	</div>
</template>

<template name="galleryItem">
	<div class="painting-container" data-item_id="{{painting_info._id}}" style="margin: 0px {{calcMargin this}}px 0px {{calcMargin this}}px">
		<div class="item" style="padding: {{finish_data.matte_width}}px; border: {{finish_data.frame_width}}px solid {{finish_data.frame_color}}">
			<div style="width: {{calcWidth this}}px; height: {{calcHeight this}}px; background: url({{getImageURL painting_info.artwork_data.filename}}); background-size: 100% 100%">
				{{#if shimmer this}}<div class="foil" style="width: {{calcWidth this}}px; height: {{calcHeight this}}px"></div>{{/if}}
			</div>
		</div>
		
		<div class="plackard" style="{{#with plackardData this}}font-size: {{text_height}}px{{/with}}">
			<p>{{painting_info.artwork_data.title}}</p>
			<p>{{painting_info.artwork_data.artist}}, {{painting_info.artwork_data.date}}</p>
			<p class="{{painting_info.artwork_data.rarity}}">{{painting_info.artwork_data.rarity}}</p>
		</div>
	</div>
</template>

<template name="galleryEdit">
	<div class="galleryEdit">
		<div class="row edit-area">
			<div class="col-xs-6 finish-section">
				<div class="col-xs-12">
					<h3>Wall Finishes</h3>
					<div class="row">
						{{#each wall_finish}}
							<div class="wall-finish-container" data-gallery_finish_id="{{finish_id}}" data-gallery_finish_filename="{{filename}}">
								<img class="wall-finish-thumbnail" src="{{getTextureURL filename}}">
								<div class="xp-rating">
									<span style="color: {{getHTMLColorFromValue xp_rating}}">{{xp_rating_text}}</span>
								</div>
							</div>
						{{/each}}
					</div>
					<div class="row">
						<p>wall pattern opacity</p>
						<div class="col-xs-6" id="opacity-slider"></div>
					</div>
					<div class="row">
						<p>frame width</p>
						<div class="col-xs-6" id="frame-slider"></div>
					</div>
					<div class="row">
						<p>matte width</p>
						<div class="col-xs-6" id="matte-slider"></div>
					</div>
					<div class="row">
						<p>wall base</p>
						<select id="wall-base-selector">
							<option value="white">white</option>
							<option value="black">black</option>
							<option value="red">red</option>
							<option value="green">green</option>
							<option value="blue">blue</option>
						</select>
					</div>
					<div class="row">
						<p>frame color</p>
						<select id="frame-color-selector">
							<option value="black">black</option>
							<option value="red">red</option>
							<option value="green">green</option>
							<option value="blue">blue</option>
							<option value="orange">orange</option>
							<option value="purple">purple</option>
							<option value="yellow">yellow</option>
							<option value="cyan">cyan</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-6 finish-section">
			<h3>Floor Finishes</h3>
			{{#each floor_finish}}
				<div class="floor-finish-container" data-gallery_finish_id="{{finish_id}}" data-gallery_finish_filename="{{filename}}">
					<img class="floor-finish-thumbnail" src="{{getTextureURL filename}}">
					<div class="xp-rating">
						<span style="color: {{getHTMLColorFromValue xp_rating}}">{{xp_rating_text}}</span>
					</div>
				</div>
			{{/each}}
			</div>
		</div>
	</div>
</template>