.template-userGallery .artwork {
	margin: 20px;
	border-top: 1px solid gray;
}

.template-userGallery p {
	margin: 5px 20px;
}

.template-userGallery .button-area {
	font-size: 1em;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	margin-top: 12px;
}

.template-userGallery .button-area > div {
	text-align: center;
}

.template-userGallery .buttons {
	width: 100%;
	margin: auto;
}

.template-userGallery .remaining-text {
	font-size: 1.0em;
}

.template-userGallery .button-area .disabled{
	opacity: .5;
}

.template-userGallery .item-card {
	width: 504px;
	height: 300px;
	display: inline-block;
	margin: 24px 24px;
	background-color: #EEEEEE;
}

.template-userGallery .button-area .enabled {
	color: black;
	font-size: 1.5em;
	opacity: .5;
}

.template-userGallery .button-area .enabled:hover {
	opacity: 1;
	cursor: pointer;
}

.template-userGallery .item-card {
	border: 1px solid black;
}

.template-userGallery #enter-button.disabled {
	opacity: .5;
}

.template-userGallery .npc-area {
	text-align: center;
	height: 48px;
}

.template-userGallery .npc {
	font-size : 3em;
	margin: 0px 12px;
}

.template-userGallery .npc.enabled {
	opacity: .8;
}

.template-userGallery .npc.enabled:hover {
	opacity: 1;
	cursor: pointer;
}

.template-userGallery .npc.disabled:hover {
	cursor: default;
}

.template-userGallery .npc.disabled {
	opacity: .4;
}

.template-userGallery #enter-button.disabled:hover {
	cursor: default;
}

#gallery-wall {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	border-bottom: 1px solid black;
	background-color: #DDDDDD;
	cursor: grab;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*background: url("https://s3.amazonaws.com/com.artfunkel.artwork/textures/brick.jpg");*/
	background-size: 150px 150px;
}

#gallery-wall .wall-wash {
	width: 100%;
	height: 100%;
	padding: 64px 64px 128px 64px !important;
	/*background-color: rgba(256,256,256,0.6);*/
	background-color: rgba(256,256,256,0);
}

#gallery-wall:active {
	cursor: grabbing;
}

#gallery-wall .item{
	display: inline-block;
	border: 6px solid black;
	padding: 10px;
	background-color: white;
	-webkit-box-shadow: 6px 6px 0px rgba(0,0,0,0.21), inset 2px 2px 0px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: 6px 6px 0px rgba(0,0,0,0.21), inset 2px 2px 0px 0px rgba(0,0,0,0.21);
	box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.21), inset 2px 2px 0px 0px rgba(0,0,0,0.21);
}

#gallery-wall .painting-container {
	display: inline-block;
	margin: 0px 48px;
}

#gallery-wall .item img{
	display: block;
	width: 300px;
	height: auto;
	cursor: pointer;
}

#gallery-floor {
	margin: 0px 0px 64px 0px !important;
	background-color: gray;
	height: 96px;
	background: url("https://s3.amazonaws.com/com.artfunkel.artwork/textures/hardwood.jpg");
	background-size: 200px 100px;
}

.template-userGallery .plackard {
	padding: 3px;
	margin-left: 12px;
	background-color: white;
	display: inline-block;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.21);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.21);
	cursor: pointer;
	padding-left: 4px;
}

.template-userGallery .plackard p {
	font-size: .2rem;
	line-height: 2px;
	margin: 0px;
}

