<template name="userGallery">
<!-- WebVr Scripts -->
<script>
/*
 * Debug parameters.
 */
WebVRConfig = {
  /**
   * webvr-polyfill configuration
   */

  // Forces availability of VR mode.
  //FORCE_ENABLE_VR: true, // Default: false.
  // Complementary filter coefficient. 0 for accelerometer, 1 for gyro.
  //K_FILTER: 0.98, // Default: 0.98.
  // How far into the future to predict during fast motion.
  //PREDICTION_TIME_S: 0.040, // Default: 0.040 (in seconds).
  // Flag to disable touch panner. In case you have your own touch controls
  //TOUCH_PANNER_DISABLED: true, // Default: false.
  // Enable yaw panning only, disabling roll and pitch. This can be useful for
  // panoramas with nothing interesting above or below.
  //YAW_ONLY: true, // Default: false.
  // Enable the deprecated version of the API (navigator.getVRDevices).
  //ENABLE_DEPRECATED_API: true, // Default: false.
  // Scales the recommended buffer size reported by WebVR, which can improve
  // performance. Making this very small can lower the effective resolution of
  // your scene.
  BUFFER_SCALE: 0.5, // default: 1.0
  // Allow VRDisplay.submitFrame to change gl bindings, which is more
  // efficient if the application code will re-bind it's resources on the
  // next frame anyway.
  // Dirty bindings include: gl.FRAMEBUFFER_BINDING, gl.CURRENT_PROGRAM,
  // gl.ARRAY_BUFFER_BINDING, gl.ELEMENT_ARRAY_BUFFER_BINDING,
  // and gl.TEXTURE_BINDING_2D for texture unit 0
  // Warning: enabling this might lead to rendering issues.
  //DIRTY_SUBMIT_FRAME_BINDINGS: true // default: false
};
</script>
<!--  A polyfill for Promises. Needed for IE and Edge.  -->
<!-- <script src="/webvr/01-es6-promise.js"></script> -->

<!--  three.js 3d library  -->
<!-- <script src="/webvr/02-three.js"></script> -->

<!--  VRControls.js acquires positional information from connected VR devices and applies the transformations to a three.js camera object.   -->
<!-- <script src="/webvr/03-VRControls.js"></script> -->

<!--  VREffect.js handles stereo camera setup and rendering.  -->
<!-- <script src="/webvr/04-VREffect.js"></script> -->

<!--  A polyfill for WebVR using the Device{Motion,Orientation}Event API.  -->
<script src="/webVR/02-webvr-polyfill.js"></script>

<!--   Helps enter and exit VR mode, provides best practices while in VR.  -->
<script src="/webVR/01-webvr-manager.js"></script>

<script>

setTimeout(function() {
//Pull out scene preparation from rest of three.js code
function prepareScene(scene) {
	try {
		create3dObjects(scene);

		var geo1 = createCuboid(.5, .5, .5);
		var origin1 = new THREE.Vector3(-1, 1.2, -1);
		addMaterialToGeometryAndAddToScene(geo1, 'https://s3.amazonaws.com/com.artfunkel.artwork/textures/wall_covering_41.jpg', scene, origin1, {'side': THREE.FrontSide});

		var geo2 = createCuboid(2, 2, .1);
		var origin2 = new THREE.Vector3(0, 1, 3);
		addMaterialToGeometryAndAddToScene(geo2, 'https://s3.amazonaws.com/com.artfunkel.artwork/textures/wall_covering_32.jpg', scene, origin2, {'side': THREE.FrontSide});

		var walls = createCuboid(20, 5, 20);
		var walls_origin = new THREE.Vector3(0, 2.5, 0);
		addMaterialToGeometryAndAddToScene(walls, 'https://s3.amazonaws.com/com.artfunkel.artwork/textures/brick_white.jpg', scene, walls_origin, {'side': THREE.BackSide}, new THREE.Vector2(5, 5));

		var floor = createCuboid(20, 1, 20);
		var floorigin = new THREE.Vector3(0, -.499, 0);
		addMaterialToGeometryAndAddToScene(floor, 'https://s3.amazonaws.com/com.artfunkel.artwork/textures/hardwood_old.jpg', scene, floorigin, {'side': THREE.FrontSide}, new THREE.Vector2(10, 10));

		addLighting(scene);
		// addIntersectingTets(scene);
		addSomeImages(scene);
		loadArtwork(scene);
	} catch(error) {
		console.log(error.message);
	}
}

/*
	//WebGL Axes

	         +y  -z
	          | /
	          |/
	  -x -----+----- +x
	         /|
	        / |
	      +z  |
			 -y
*/

function addMaterialToGeometryAndAddToScene(geometry, image_path, scene, origin, material_configs, repeat_vec2) {
	var loader = new THREE.TextureLoader();
	loader.load(image_path, onTextureLoaded);

	function onTextureLoaded(texture) {
		if (repeat_vec2 != undefined) {
			texture.wrapS = texture.wrapT = THREE.RepeatWrapping;
			texture.repeat.set(repeat_vec2.x, repeat_vec2.y);
		}

		material_configs.map = texture;

		var mat = new THREE.MeshBasicMaterial(material_configs);
		var mesh = new THREE.Mesh(geometry, mat);
		printThing(mesh);
		mesh.position.set(origin.x, origin.y, origin.z);
		scene.add(mesh);
	}
}

function createCuboid(width, height, depth) {
	var geometry = new THREE.Geometry();
	var half_width = width / 2;
	var half_height = height / 2;
	var half_depth = depth / 2;

	var left = half_width * -1;
	var right = half_width;
	var front = half_depth * -1;
	var back = half_depth;
	var top = half_height;
	var bottom = half_height * -1;
	/*
		  F----G
		 /|   /|   
		B----C |
		| E--|-H
		|/   |/ 
		A----D
	*/
	var vertices = [
		new THREE.Vector3(left, bottom, front),		//A -> 0
		new THREE.Vector3(left, top, front),		//B -> 1
		new THREE.Vector3(right, top, front),		//C -> 2
		new THREE.Vector3(right, bottom, front),	//D -> 3
		new THREE.Vector3(left, bottom, back),		//E -> 4
		new THREE.Vector3(left, top, back),			//F -> 5
		new THREE.Vector3(right, top, back),		//G -> 6
		new THREE.Vector3(right, bottom, back)		//H -> 7
	];

	geometry.vertices = vertices;

	geometry.faceVertexUvs[0] = [];

	//front
	geometry.faces.push( new THREE.Face3(0,1,2) );	//ABC
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(0, 1),
        new THREE.Vector2(1, 1)
    ]);
	geometry.faces.push( new THREE.Face3(0,2,3) );	//ACD
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(1, 1),
        new THREE.Vector2(1, 0)
    ]);

	//left
	geometry.faces.push( new THREE.Face3(4,5,1) );	//EFB
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(0, 1),
        new THREE.Vector2(1, 1)
    ]);
	geometry.faces.push( new THREE.Face3(4,1,0) );	//EBA
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(1, 1),
        new THREE.Vector2(1, 0)
    ]);

	//back
	geometry.faces.push( new THREE.Face3(7,6,5) );	//HGF
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(0, 1),
        new THREE.Vector2(1, 1)
    ]);
	geometry.faces.push( new THREE.Face3(7,5,4) );	//HFE
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(1, 1),
        new THREE.Vector2(1, 0)
    ]);

	//right
	geometry.faces.push( new THREE.Face3(3,2,6) );	//DCG
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(0, 1),
        new THREE.Vector2(1, 1)
    ]);
	geometry.faces.push( new THREE.Face3(3,6,7) );	//DGH
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(1, 1),
        new THREE.Vector2(1, 0)
    ]);

	//top
	geometry.faces.push( new THREE.Face3(1,5,6) );	//BFG
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(0, 1),
        new THREE.Vector2(1, 1)
    ]);
	geometry.faces.push( new THREE.Face3(1,6,2) );	//BGC
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(1, 1),
        new THREE.Vector2(1, 0)
    ]);

	//bottom
	geometry.faces.push( new THREE.Face3(4,0,3) );	//EAD
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(0, 1),
        new THREE.Vector2(1, 1)
    ]);
	geometry.faces.push( new THREE.Face3(4,3,7) );	//EDH
	geometry.faceVertexUvs[0].push([
        new THREE.Vector2(0, 0),
        new THREE.Vector2(1, 1),
        new THREE.Vector2(1, 0)
    ]);

	return geometry;
}

/*

    Helper functions to encapsulate different tests

*/

function create3dObjects(scene) {
  // Create 3D objects.
  var tetGeometry = new THREE.TetrahedronGeometry(1);
  var tetMaterial = new THREE.MeshNormalMaterial();
  var tet = new THREE.Mesh(tetGeometry, tetMaterial);

  // Position mesh
  tet.position.set(2, controls.userHeight, -1);

  // Add mesh to your three.js scene
  scene.add(tet);
}

function addLighting(scene) {
  var light = new THREE.AmbientLight( 0x404040 );
  scene.add( light );

  var light2 = new THREE.PointLight( 0xffffff, 1, 100 );
  light2.intensity = 1;
  scene.add( light2 );

  var light3 = new THREE.DirectionalLight( 0xffffff );
  light3.position.set( 0, 1, 1 ).normalize();
  scene.add(light3);
}

function addIntersectingTets(scene) {
  // create Five Intersecting Tetrahedra:
  var tetGeometry = new THREE.TetrahedronGeometry(1);
  var tet = new Array(5);
  var fit = new THREE.Object3D();

  var t = ((1 + Math.sqrt(5))/2);
  var fturn = 6.283/5;
  var axis = new THREE.Vector3( t, 1, 0 );
  axis.normalize();

  for(var i = 0; i < 5; i++) {
    tet[i] = new THREE.Mesh(tetGeometry, new THREE.MeshLambertMaterial());
    tet[i].rotateOnAxis(axis, i*fturn);
    fit.add(tet[i]);
  }

  fit.position.set(-2, controls.userHeight+1, -2);
  scene.add(fit);
}

function addSomeImages(scene) {
  // Tip: Use a spherical camera or your phone to capture a spherical photo
  // Add an equirectangular panorama
  var pano;
  var loader = new THREE.TextureLoader();
  loader.load('/img/world.jpg', onTextureLoaded);

  function onTextureLoaded(texture) {
    var geometry = new THREE.SphereGeometry(1000, 32, 32);
    var material = new THREE.MeshBasicMaterial({
      map: texture,
      side: THREE.BackSide
    });
    pano = new THREE.Mesh(geometry, material);
    pano.position.y = 0;
    scene.add(pano);
  }
}

function loadArtwork(scene) {
	var totalArtwork = 0;
	items.find({owner:Meteor.userId(),status:"displayed"}).forEach(function(item) {
		createArtwork(item, scene, totalArtwork++);
	});
}

function createArtwork(item, scene, position) {
	// Tip: Use a spherical camera or your phone to capture a spherical photo
	// Add an equirectangular panorama
	var pano;
	var loader = new THREE.TextureLoader();
	var filename = item.artwork_data.filename.replace(".","_card.");
	var link = "http://s3.amazonaws.com/com.artfunkel.artwork/card_images/" + filename;
	loader.load(link, onArtworkLoaded);

	function onArtworkLoaded(texture) {

		var geometry = new THREE.CubeGeometry( 0, item.artwork_data.height/10.0, item.artwork_data.width/10.0 );
		var material = new THREE.MeshBasicMaterial({
		  map: texture,
		  side: THREE.BackSide
		});

		var rads = (360 / 10 * position) * (Math.PI/180);
		var distance = item.artwork_data.width/5;
		var z = Math.sin(rads) * distance;
		var x = Math.cos(rads) * distance;

		pano = new THREE.Mesh(geometry, material);
		pano.position.set(x, item.artwork_data.height/20, z);
		rotateAroundObjectAxis(pano, new THREE.Vector3(0,1,0), -rads);
		
		scene.add(pano);

		console.log("added " + item.artwork_data.title);
	}
}

// Rotate an object around an arbitrary axis in object space

function rotateAroundObjectAxis(object, axis, radians) {
	var rotObjectMatrix;
    rotObjectMatrix = new THREE.Matrix4();
    rotObjectMatrix.makeRotationAxis(axis.normalize(), radians);
    object.matrix.multiply(rotObjectMatrix);
    object.rotation.setFromRotationMatrix(object.matrix);
}



/*


Boilerplate Three.js code after this, I don't really know what it all does yet


*/

// Setup three.js WebGL renderer. Note: Antialiasing is a big performance hit.
// Only enable it if you actually need to.
var renderer = new THREE.WebGLRenderer({antialias: true});
renderer.setPixelRatio(window.devicePixelRatio);

// Append the canvas element created by the renderer to document body element.
$('#vr').append(renderer.domElement);

// Create a three.js scene.
var scene = new THREE.Scene();

// Create a three.js camera.
var camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 10000);

var controls = new THREE.VRControls(camera);
controls.standing = true;

// Apply VR stereo rendering to renderer.
var effect = new THREE.VREffect(renderer);
effect.setSize(window.innerWidth-150, window.innerHeight);


// Add a repeating grid  as a skybox.
var boxSize = 50;
var loader = new THREE.TextureLoader();
loader.load('/img/box.png', onTextureLoaded);

function onTextureLoaded(texture) {
  texture.wrapS = THREE.RepeatWrapping;
  texture.wrapT = THREE.RepeatWrapping;
  texture.repeat.set(boxSize, boxSize);

  var geometry = new THREE.BoxGeometry(boxSize, 0, boxSize);
  var material = new THREE.MeshBasicMaterial({
    map: texture,
    color: 0x01BE00,
    side: THREE.BackSide
  });

  // Align the skybox to the floor (which is at y=0).
  skybox = new THREE.Mesh(geometry, material);
  skybox.position.y = 0;
  scene.add(skybox);

  // For high end VR devices like Vive and Oculus, take into account the stage
  // parameters provided.
  setupStage();
}


// Create a VR manager helper to enter and exit VR mode.
var params = {
  hideButton: false, // Default: false.
  isUndistorted: false // Default: false.
};
var manager = new WebVRManager(renderer, effect, params);


//Set up all your objects
prepareScene(scene);

window.addEventListener('resize', onResize, true);
window.addEventListener('vrdisplaypresentchange', onResize, true);

// Request animation frame loop function
var lastRender = 0;
function animate(timestamp) {
  var delta = Math.min(timestamp - lastRender, 500);
  lastRender = timestamp;

  // Apply rotation to cube mesh
  // cube.rotation.y += delta * 0.0006;

  controls.update();
  // Render the scene through the manager.
  manager.render(scene, camera, timestamp);
  effect.render(scene, camera);

  vrDisplay.requestAnimationFrame(animate);
}

function onResize(e) {
  effect.setSize(window.innerWidth, window.innerHeight);
  camera.aspect = window.innerWidth / window.innerHeight;
  camera.updateProjectionMatrix();
}

var vrDisplay;

// Get the HMD, and if we're dealing with something that specifies
// stageParameters, rearrange the scene.
function setupStage() {
  navigator.getVRDisplays().then(function(displays) {
    if (displays.length > 0) {
      vrDisplay = displays[0];
      if (vrDisplay.stageParameters) {
        setStageDimensions(vrDisplay.stageParameters);
      }
      vrDisplay.requestAnimationFrame(animate);
    }
  });
}

function setStageDimensions(stage) {
  // Make the skybox fit the stage.
  var material = skybox.material;
  scene.remove(skybox);

  // Size the skybox according to the size of the actual stage.
  var geometry = new THREE.BoxGeometry(stage.sizeX, boxSize, stage.sizeZ);
  skybox = new THREE.Mesh(geometry, material);

  // Place it on the floor.
  skybox.position.y = boxSize/2;
  scene.add(skybox);

  // Place the cube in the middle of the scene, at user height.
  // cube.position.set(0, controls.userHeight, 0);
}
},1000);

</script>

	<div class="template-userGallery">
		<div class="{{#if from_dashboard}}{{else}}container{{/if}}">
			{{#with entryInfo screen_name}}
			{{#if ../from_dashboard}}
			{{else}}
			<h1 class="af-color">player gallery - {{screen_name}}</h1>	
			{{/if}}	
			{{#if paid}}
				<div class="row no-padding no-margin">
					<div class="npc-area">
						{{#each npc owner_id}}
							<i data-npc_id="{{_id}}" class="npc {{quality}} fa {{icon}} enabled"></i>
						{{/each}}
					</div>
				</div>

				<div id="vr">
				</div>
				
				{{#with galleryData screen_name}}
					{{#if this}}
						<div class="window-crop row">
							<div class="rendered-scene">
								<div id="gallery-wall" style="background: url({{getTextureURL finish_data.wall_filename}}) repeat scroll 0% 0% / {{finish_data.wall_size}}">
									<div class="wall-wash" style="background-color: rgba({{rgbString finish_data.wall_base}}, {{finish_data.wall_wash_opacity}})">
										{{setPadding}}
										<div class="image-container">	
										{{#each displayed}}
											{{> galleryItem painting_info=this finish_data=../finish_data}}
										{{/each}}
									
										{{#each permanent}}
											{{> galleryItem painting_info=this finish_data=../finish_data}}
										{{/each}}		
										</div>
									</div>
								</div>
								<div id="gallery-floor" style="background: url({{getTextureURL finish_data.floor_filename}}) repeat scroll 0% 0% / {{finish_data.floor_size}}"></div>
							</div>
						</div>
					{{/if}}
				{{/with}}

				{{#if ../from_dashboard}}
					{{> galleryEdit}}
				{{else}}
					{{#if ../own_gallery}}
						{{> galleryEdit}}
					{{/if}}
				{{/if}}
			
			{{else}}
				<div class="row">
					<h4>entry fee: <span class="highlight af-color">${{entryFee price_tier owner_id}}</span></h4>
					<button class="{{#if pay_fee_enabled}}enabled{{else}}disabled{{/if}}" id="enter-button" data-owner_id="{{owner_id}}">pay fee</button>
					{{#if tickets_maxed}}
						<p>You have reached your ticket limit</p>
					{{/if}}
				</div>
			{{/if}}
			{{/with}}
		</div>
	</div>
</template>

<template name="galleryItem">
	<div class="painting-container" data-item_id="{{painting_info._id}}" style="margin: 0px {{calcMargin this}}px 0px {{calcMargin this}}px">
		<div class="item" style="padding: {{finish_data.matte_width}}px; border: {{finish_data.frame_width}}px solid {{finish_data.frame_color}}">
			<div style="width: {{calcWidth this}}px; height: {{calcHeight this}}px; background: url({{getImageURL painting_info.artwork_data.filename}}); background-size: 100% 100%">
				{{#if shimmer this}}<div class="foil" style="width: {{calcWidth this}}px; height: {{calcHeight this}}px"></div>{{/if}}
			</div>
		</div>
		
		<div class="plackard" style="{{#with plackardData this}}font-size: {{text_height}}px{{/with}}">
			<p>{{painting_info.artwork_data.title}}</p>
			<p>{{painting_info.artwork_data.artist}}, {{painting_info.artwork_data.date}}</p>
			<p class="{{painting_info.artwork_data.rarity}}">{{painting_info.artwork_data.rarity}}</p>
		</div>
	</div>
</template>

<template name="galleryEdit">
	<div class="galleryEdit">
		<div class="row edit-area">
			<div class="col-xs-6 finish-section">
				<div class="col-xs-12">
					<h3>Wall Finishes</h3>
					<div class="row">
						{{#each wall_finish}}
							<div class="wall-finish-container" data-gallery_finish_id="{{finish_id}}" data-gallery_finish_filename="{{filename}}">
								<img class="wall-finish-thumbnail" src="{{getTextureURL filename}}">
								<div class="xp-rating">
									<span style="color: {{getHTMLColorFromValue xp_rating}}">{{xp_rating_text}}</span>
								</div>
							</div>
						{{/each}}
					</div>
					<div class="row">
						<p>wall pattern opacity</p>
						<div class="col-xs-6" id="opacity-slider"></div>
					</div>
					<div class="row">
						<p>frame width</p>
						<div class="col-xs-6" id="frame-slider"></div>
					</div>
					<div class="row">
						<p>matte width</p>
						<div class="col-xs-6" id="matte-slider"></div>
					</div>
					<div class="row">
						<p>wall base</p>
						<select id="wall-base-selector">
							<option value="white">white</option>
							<option value="black">black</option>
							<option value="red">red</option>
							<option value="green">green</option>
							<option value="blue">blue</option>
						</select>
					</div>
					<div class="row">
						<p>frame color</p>
						<select id="frame-color-selector">
							<option value="black">black</option>
							<option value="red">red</option>
							<option value="green">green</option>
							<option value="blue">blue</option>
							<option value="orange">orange</option>
							<option value="purple">purple</option>
							<option value="yellow">yellow</option>
							<option value="cyan">cyan</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-6 finish-section">
			<h3>Floor Finishes</h3>
			{{#each floor_finish}}
				<div class="floor-finish-container" data-gallery_finish_id="{{finish_id}}" data-gallery_finish_filename="{{filename}}">
					<img class="floor-finish-thumbnail" src="{{getTextureURL filename}}">
					<div class="xp-rating">
						<span style="color: {{getHTMLColorFromValue xp_rating}}">{{xp_rating_text}}</span>
					</div>
				</div>
			{{/each}}
			</div>
		</div>
	</div>
</template>