.template-galleryCard .attribute-data {
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.template-galleryCard .owner-name {
	font-weight: bold;
	font-size: 1.8rem;
	color: black;
	margin-bottom: 6px;
	margin-right: 8px;
	display: inline-block;
}

.template-galleries .level-text, .template-galleries .vintage-text {
	border-radius: 50%;
	padding: 4px;
	font-size: 1.3rem;
	min-width: 30px;
	min-height: 30px;
	max-width: 30px;
	max-height: 30px;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.template-galleries .level-text {
	border: 2px solid #ff00cc;	
	color: black;
}

.template-galleries .vintage-text {
	border: 2px solid #dbbca4;
}

.template-galleryCard .gallery-card-contents {
	border: 1px solid rgba(0, 0, 0, .8);
	margin: 10px 0px;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
}

.template-galleryCard .score-and-value {
	color: black;
}

.template-galleryCard .procs {
	display: none;
}

.template-galleryCard .gallery-card:hover .procs {
	display: block;
}

.template-galleryCard td {
	font-size: 1.8rem;
	width: 30px;
	text-align: left;
}

.template-galleryCard td:nth-child(odd) {
	width: 24px;
	text-align: right;
}

.template-galleryCard td:nth-child(even) {
	font-size: 1.2rem;
	padding-left: 4px;
}

.template-galleryCard .gallery-score > p, .template-galleryCard .gallery-value > p{
	margin-bottom: 4px;
}

.template-galleryCard .entry-data {
	text-align: center;
	color: black;
}

.template-galleryCard .entry-fee {
	font-weight: bold;
	font-size: 1.6rem;
}

.template-galleryCard .purchase-options {
	font-size: 3rem;
}

.template-galleryCard .purchase-ticket {
	border-right: 1px solid rgba(0, 0, 0, .3);
	text-align: right;
}

.template-galleryCard .purchase-ticket-and-enter {
	text-align: left;
}

.template-galleryCard .can-enter {
	opacity: .6;
	cursor: pointer;
}

.template-galleryCard .can-enter:hover {
	opacity: 1;
}

.template-galleryCard .enter-button{
	font-size: 4rem;
	padding-bottom: 0px;
	vertical-align: text-bottom;
	margin-top: 16px;
}

.template-galleryCard .ticketholders {
	color: black;
}

.template-galleryCard .favorite-button {
	font-size: 1.8rem;
	cursor: pointer;
}

.template-galleryCard .ticket-limit {
	margin-top: 30px;
}

.template-galleryCard .avatar-image {
	height: 92px;
	margin: 0;
	border-right: 1px solid rgba(0, 0, 0, .8);
}

.template-galleryCard .gallery-data {
	padding: 6px 0px 0px 30px;
}

.template-galleryCard .entry-data, .template-galleryCard .favorite-section {
	padding-top: 6px;
}

.template-galleries #buy-all-favorites-button {
	color: white;
	font-size: 1.8rem;
	cursor: pointer;
	background-color: #ffcc00;
	margin-top: 20px;
	width: 60px;
	padding: 0px;
	opacity: .6;
}

.template-galleries #buy-all-favorites-button > i {
	padding: 6px;
}

.template-galleries #buy-all-favorites-button:hover {
	opacity: 1;
}

.template-galleries #search-area {
	resize: none;
	width: 100%;
	height: 4rem;
	font-size: 2rem;
	margin-bottom: 12px;
	padding: .4rem 2rem;
}

.template-galleries #toggle-filters {
	cursor: pointer;
	opacity: .5;
}

.template-galleries #toggle-filters:hover {
	opacity: 1;
}

.template-galleries .attribute-container {
	display: inline-block;
	text-align: center;
	margin: 10px 20px;
}

.template-galleries .sort-icon {
	color: black;
	font-size: 3rem;
	text-align: center;
	margin: auto;
}

.template-galleries .all-filters {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 12px 0px;
	display: none;
}

.template-galleries .action-icon {
	font-size: 2rem;
	cursor: pointer;
	opacity: .6;
}

.template-galleries .action-icon:hover {
	opacity: 1;
}

.template-galleries .page-buttons {
	height: 50px;
	text-align: center;
	min-height: 4em;
	display: flex;
	align-items:center;
}
.template-galleries .page-button {
	font-size: 3rem;
	margin: 20px 80px 20px 80px;
	vertical-align: middle;
}

.template-galleries .page-button.disabled {
	opacity: 0;
}

.template-galleries .page-button.enabled:hover {
	color: black;
	cursor: pointer;
}

.template-galleries .page-indicators {
	font-weight: bold;
	color: black;
	vertical-align: middle;
	font-size: 2rem;
}

.template-galleries .button-wrapper {
	flex: auto;
	align-items:center;
}

.template-galleries .favorite-container {
	margin-top: 18px;
}

.template-galleries p.favorite-name {
	margin-bottom: 0px;
}

.template-galleries .favorite-value {
	cursor: pointer;
	opacity: .7;
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
	padding: 4px;
}

.template-galleries .favorite-value:hover {
	opacity: 1;
}

.template-galleries .favorite-value.any {
	background-color: #c6bd00;
}

.template-galleries .favorite-value.none {
	background-color: red;
}

.template-galleries .favorite-value.only {
	background-color: green;
}

.template-galleries .favorite-value-container {
	margin-bottom: 18px;
}