<template name="galleries">
	<div class="template-galleries">
		<div class="container">
			<h1 class="af-color">Galleries</h1>
			<!-- {{>galleryTable}} -->
			<div class="row gallery-list">
				<div class="col-xs-12">
					{{#each gallery}}
						{{> galleryCard this}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="galleryCard">
	<div class="row gallery-container template-galleryCard">
		<div class="col-xs-12 gallery-card">
			{{#with galleryInfo this}}
			<div class="row gallery-card-contents">
				<div class="col-xs-1 avatar-section">
				</div>
				<div class="col-xs-8 gallery-data">
					<div class="row profile-data">
						<p class="owner-name">{{owner}}</p>
					</div>
					<div class="row attribute-data">
						<table>
							<tr>
								{{#each attribute}}
								<td>
									<i data-attribute_description="{{description}}" data-attribute_value="{{value}}" data-attribute_id="{{_id}}" style="color: rgb({{getRatingColor value}}, 0, 0)" class="gallery-attribute fa {{icon}}"></i>
								</td>
								<td>
									<span class="procs">{{proc}}%</span>
								</td>
								{{/each}}
							</tr>
						</table>
					</div>
					<div class="row score-and-value">
						<div class="col-xs-4 gallery-score no-padding">
							<p>score: {{commaSeparatedValue score}}</p>
						</div>
						<div class="col-xs-4 gallery-value">
							<p>value: {{displayAsMoneyValue value}}</p>
						</div>
					</div>
				</div>
				<div class="col-xs-2 entry-data">
					{{#if paid}}
					<div class="row enter-gallery">
						<i data-owner="{{owner}}" class="can-enter enter-button fa fa-sign-in"></i>
					</div>
					{{else}}
					<div class="row entry-fee">
						<p>${{entryFee price_tier owner_id}}</p>
					</div>
					<div class="row purchase-options">
						<div class="col-xs-6 purchase-ticket">
							<i data-owner="{{owner}}" class="can-enter purchase-button fa fa-ticket af-color"></i>
						</div>
						<div class="col-xs-6 purchase-ticket-and-enter">
							<i data-owner="{{owner}}" class="can-enter purchase-and-enter-button fa fa-sign-in af-color"></i>
						</div>
					</div>
					{{/if}}
				</div>
				<div class="col-xs-1 favorite-section">
					<div class="row">
						<i data-gallery_id="{{_id}}" class="favorite-button fa {{#if favorite _id}}fa-star gold-text{{else}}fa-star-o{{/if}}"></i>
					</div>
					<div class="row">
						{{#if currentTicketHolders owner_id}}
						<p class="ticketholders"><i class="fa fa-user"></i> {{currentTicketHolders owner_id}}</p>
						{{/if}}
					</div>
				</div>
			</div>
			{{/with}}
		</div>
	</div>
</template>

<template name="galleryTable">
	<div class="template-galleryTable">
		{{#with galleryData}}
		<div class="col-xs-12 no-padding">
			<table class="gallery-table" data-table_id="{{table_data.table_id}}">
				<tr>
				{{#each header table_data}}
					{{> galleryHeaderTemplate this}}
				{{/each}}
				</tr>
				{{#each table_data.gallery}}
					{{#with galleryInfo this}}
					<tr class="gallery-row {{#if paid}}paid{{else}}af-color{{/if}}" data-owner="{{owner}}">
						<td>{{owner}}</td>
						<td>
						{{#each attribute}}
							<i data-attribute_description="{{description}}" data-attribute_value="{{value}}" data-attribute_id="{{_id}}" style="color: rgb({{getRatingColor value}}, 0, 0)" class="gallery-attribute fa {{icon}}"></i> {{proc}}%
						{{/each}}
						</td>
						<td>${{entryFee price_tier owner_id}}</td>
						<td>{{currentTicketHolders owner_id}}</td>
					</tr>
					{{/with}}
				{{/each}}
			</table>
		</div>
		{{/with}}
	</div>
</template>

<template name="galleryHeaderTemplate">
	<th class="table-header" data-sort="{{sort_id}}" data-table_id="{{table_id}}">
		<div class="row no-margin">
			<div class="col-xs-8">
				<p>{{text}}</p>
			</div>
			<div class="col-xs-4">
				{{#with sorted this}}{{#if sort}}{{#if ascending}}<i class="fa fa-caret-up"></i>{{else}}<i class="fa fa-caret-down"></i>{{/if}}{{else}} {{/if}}{{/with}}
			</div>
		</div>
	</th>
</template>