.template-galleryCard .attribute-data {
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.template-galleryCard .owner-name {
	font-weight: bold;
	font-size: 1.8rem;
	color: black;
	margin-bottom: 6px
}

.template-galleryCard .gallery-card-contents {
	border: 1px solid rgba(0, 0, 0, .8);
	margin: 10px 0px;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
}

.template-galleryCard .score-and-value {
	color: black;
}

.template-galleryCard .procs {
	display: none;
}

.template-galleryCard .gallery-card:hover .procs {
	display: block;
}

.template-galleryCard td {
	font-size: 1.8rem;
	width: 30px;
	text-align: left;
}

.template-galleryCard td:nth-child(odd) {
	width: 24px;
	text-align: right;
}

.template-galleryCard td:nth-child(even) {
	font-size: 1.2rem;
	padding-left: 4px;
}

.template-galleryCard .gallery-score > p, .template-galleryCard .gallery-value > p{
	margin-bottom: 4px;
}

.template-galleryCard .entry-data {
	text-align: center;
	color: black;
}

.template-galleryCard .entry-fee {
	font-weight: bold;
	font-size: 1.6rem;
}

.template-galleryCard .purchase-options {
	font-size: 3rem;
}

.template-galleryCard .purchase-ticket {
	border-right: 1px solid rgba(0, 0, 0, .3);
	text-align: right;
}

.template-galleryCard .purchase-ticket-and-enter {
	text-align: left;
}

.template-galleryCard .can-enter {
	opacity: .6;
	cursor: pointer;
}

.template-galleryCard .can-enter:hover {
	opacity: 1;
}

.template-galleryCard .enter-button{
	font-size: 4rem;
	padding-bottom: 0px;
	vertical-align: text-bottom;
	margin-top: 16px;
}

.template-galleryCard .ticketholders {
	color: black;
}

.template-galleryCard .favorite-button {
	font-size: 1.8rem;
	cursor: pointer;
}

.template-galleryCard .ticket-limit {
	margin-top: 30px;
}

.template-galleryCard .avatar-image {
	height: 92px;
	margin: 0;
	border-right: 1px solid rgba(0, 0, 0, .8);
}

.template-galleryCard .gallery-data {
	padding: 6px 0px 0px 30px;
}

.template-galleryCard .entry-data, .template-galleryCard .favorite-section {
	padding-top: 6px;
}

.template-galleries #buy-all-favorites-button {
	color: white;
	font-size: 1.8rem;
	cursor: pointer;
	background-color: #ffcc00;
	margin-top: 20px;
	width: 60px;
	padding: 0px;
	opacity: .6;
}

.template-galleries #buy-all-favorites-button > i {
	padding: 6px;
}

.template-galleries #buy-all-favorites-button:hover {
	opacity: 1;
}