<template name="galleries">
	<div class="template-galleries">
		<div class="container">
			<div class="row">
				<div class="col-xs-10">
					<h1 class="af-color">Galleries</h1>
				</div>
				<div class="col-xs-2">
					{{#if canBuyAllFavorites}}
						<button id="buy-all-favorites-button"><i class="fa fa-ticket"></i><i class="fa fa-star"></i></button>	
					{{/if}}
				</div>
			</div>
			<h3 class="view-buttons"><i id="toggle-filters" class="fa fa-filter"></i></h3>
			<div class="row all-filters">
				<div class="col-xs-12">
					<div class="row search-area">
						<textarea id="search-area" placeholder="search for player gallery"></textarea>
					</div>
					<div class="row filter-area">
						<div class="col-xs-2">
							<p>order by:</p>
							<select id="order-selector">
								<option value="score">score</option>
								<option value="entry_fee">entry fee</option>
								<option value="value">value</option>
							</select>
						</div>
						<div class="col-xs-10">
							{{#if show_sorted}}
							<div class="row attribute-filter-area sort">
								<p>sort priority:</p>
								{{#each sort_attribute}}
									{{> attributeSort this}}
								{{/each}}
							</div>
							{{/if}}
							{{#if show_unsorted}}
							<div class="row attribute-filter-area unsort">
								<p>attributes:</p>
								{{#each unsort_attribute}}
									{{> attributeSort this}}
								{{/each}}
							</div>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
			<div class="row gallery-list">
				<div class="col-xs-12">
					{{#each favorite_gallery}}
						{{> galleryCard this}}
					{{/each}}
					{{#each gallery}}
						{{> galleryCard this}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="attributeSort">
	<div class="attribute-container">
		<div class="icon-area">
			<i class="sort-icon fa {{icon}}"></i>
		</div>
		<div class="action-area">
			<i data-attribute_id="{{_id}}" data-action="{{#if sorted_by _id}}remove{{else}}add{{/if}}" class="action-icon fa {{#if sorted_by _id}}fa-minus red-text{{else}}fa-plus green-text{{/if}}"></i>
		</div>
	</div>
</template>

<template name="galleryCard">
	<div class="row gallery-container template-galleryCard">
		<div class="col-xs-12 gallery-card">
			{{#with galleryInfo this}}
			<div class="row gallery-card-contents no-padding no-margin">
				<div class="col-xs-1 avatar-section no-padding no-margin">
					<img class="avatar-image" src="{{avatar_image owner_id}}"/>
				</div>
				<div class="col-xs-8 gallery-data">
					<div class="row profile-data">
						<p class="owner-name">{{owner}}</p>
						{{#with player_levels owner_id}}
							<div class="level-text">{{level}}</div>
							{{#if vintage_level}}
								<div class="vintage-text">v{{vintage_level}}</div>
							{{/if}}
						{{/with}}
					</div>
					<div class="row attribute-data">
						<table>
							<tr>
								{{#each attribute}}
								<td>
									<i data-attribute_description="{{description}}" data-attribute_id="{{_id}}" style="color: {{getHTMLColorFromValue proc}}" class="gallery-attribute fa {{icon}}"></i>
								</td>
								<td>
									<span class="procs">{{floatToPercentage proc}}%</span>
								</td>
								{{/each}}
							</tr>
						</table>
					</div>
					<div class="row score-and-value">
						<div class="col-xs-4 gallery-score no-padding">
							<p>score: {{commaSeparatedValue score}}</p>
						</div>
						<div class="col-xs-4 gallery-value">
							<p>value: {{displayAsMoneyValue value}}</p>
						</div>
					</div>
				</div>
				<div class="col-xs-2 entry-data">
					{{#if paid}}
					<div class="row enter-gallery">
						<i data-owner_screen_name="{{owner}}" class="can-enter enter-button fa fa-sign-in"></i>
					</div>
					{{else}}
						{{#if canPurchaseTicket}}
						<div class="row entry-fee">
							<p>${{entryFee price_tier owner_id}}</p>
						</div>
						<div class="row purchase-options">
							<div class="col-xs-6 purchase-ticket">
								<i data-gallery_id="{{_id}}" class="can-enter purchase-button fa fa-ticket af-color"></i>
							</div>
							<div class="col-xs-6 purchase-ticket-and-enter">
								<i data-gallery_id="{{_id}}" data-owner_screen_name="{{owner}}" class="can-enter purchase-and-enter-button fa fa-sign-in af-color"></i>
							</div>
						</div>
						{{else}}
						<div class="row">
							<p class="ticket-limit">limit reached</p>
						</div>
						{{/if}}
					{{/if}}
				</div>
				<div class="col-xs-1 favorite-section">
					<div class="row">
						{{#if playerIsNotOwner owner_id}}
							<i data-gallery_id="{{_id}}" class="favorite-button fa {{#if favorite _id}}fa-star gold-text{{else}}fa-star-o{{/if}}"></i>
						{{/if}}
					</div>
					<div class="row">
						{{#if currentTicketHolders owner_id}}
						<p class="ticketholders"><i class="fa fa-user"></i> {{currentTicketHolders owner_id}}</p>
						{{/if}}
					</div>
				</div>
			</div>
			{{/with}}
		</div>
	</div>
</template>