<template name="tutorialModal">
	<div class="template-tutorialModal col-xs-12">
		<div class="message-container">
			<div class="modal-message-area">
				<p class="modal-message">{{message}}</p>
				<img class="tutorial-image" src="{{getS3ImageURL image_filename}}"/>
			</div>
			<div class="modal-button-area">
				{{#if next}}
				<button data-tutorial_name="{{tutorial_name}}" data-next="{{stringifyNext next}}" class="modal-button next-button">continue</button>
				{{else}}
				<button data-activate="{{#if activate}}{{activate}}{{/if}}" data-tutorial_name="{{tutorial_name}}" class="modal-button ok-button">ok</button>
				{{/if}}
			</div>
		</div>
	</div>
</template>