.template-archive .displaced-button {
	font-size: 1.5rem;
	margin-top: 40px;
	font-weight: bold;
	margin-right: 20px;
}

.template-archive #delete-all-displaced {
	background-color: red;
}

.template-archive .highlight {
	font-weight: bold;
}

.template-archive .archive-mode-button {
	font-size: 3rem;
	opacity: .6;
	margin-bottom: 16px;
	margin-top: -16px;
	cursor: pointer;
}

.template-archive .archive-mode-button:hover {
	opacity: 1;
}