<template name="onDisplayModal">
	<div class="template-onDisplayModal">
	    <div style="z-index:9999999999999999;" class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content container">
	            	{{#with itemData}}
	                <h4>Put <span class="highlight af-color">{{title}}</span> by <span class="highlight af-color">{{artist}}</span> on display</h4>
	                <div class="auction-parameters">  
				        <div class="row duration-info">
		                	<div class="col-xs-12">
		                		<select id="duration">
		                			<option value="1">1 minute</option>
		                			<option value="60">1 hour</option>
		                			<option value="360">6 hours</option>
		                			<option value="720">12 hours</option>
		                			<option value="1440">1 day</option>
		                		</select>
		                	</div>
				        </div>

				        <div class="row earning-info">
		                	<div class="col-xs-12">
		                		<p>money earned: <span class="highlight">${{displayDetails.money}}</span></p>
		                		<p>xp earned: <span class="highlight">{{displayDetails.xp}}</span></p>
		                		<p>ending time: <span class="highlight">{{displayDetails.end}}</span></p>
		                	</div>
				        </div>
				    </div>
                	
		            <div class="row modal-buttons">
			            <button id="ok-modal" type="button" class="btn btn-default">ok</button>
			            <button id="cancel-modal" type="button" class="btn btn-default">cancel</button>
			        </div>

			        {{#if error}}
			        <div class="errors">
		            	{{#each error}}
		            	<p class="error-text">{{this}}</p>
		            	{{/each}}
	            	</div>
	            	{{/if}}
			        {{/with}}
	            </div>
	        </div>
	    </div>
	</div>
</template>