<template name="checklist">
	<div class="template-checklist">
		<div class="rarity-tabs row">
		{{#each rarity}}
			<div class="rarity-tab {{#if selected this}}selected{{/if}} col-xs-2 {{this}}" data-rarity="{{this}}">{{this}}</div>
		{{/each}}
			<div class="blank-tab col-xs-2" data-rarity="{{this}}"> </div>
		</div>
		<div class="artwork-area row">
			<div class="row">
				<div class="page-buttons button-wrapper">
					<i id="auctions-page-left" class="page-button fa fa-caret-left"></i>
					<span class="page-indicators">page {{#with page_info}}{{current_page}}/{{total_pages}}{{/with}}</span>
					<i id="auctions-page-right" class="page-button fa fa-caret-right"></i>	
				</div>
			</div>
			{{#with checklist_counts}}
			<div class="row category-headers">
				<div class="category-column col-xs-4">
					<p class="category-header">artwork</p>
					<p class="counts">({{total}})</p>
				</div>
				{{> countHeader name="owned" count_object=owned rarity=this.rarity}}
				{{> countHeader name="seen" count_object=seen rarity=this.rarity}}
				{{> countHeader name="displayed" count_object=displayed rarity=this.rarity}}
			</div>
			{{/with}}
			{{#each artwork}}
			<div class="row category-row" data-artwork_id="{{_id}}">
				<div class="artwork-info col-xs-4 no-padding">{{artist}} - {{title}}</div>
				{{#each category}}
					<div class="category-column col-xs-2">
						{{#with fulfilled ../_id this}}
						{{#if this}}<i class="check black-text fa fa-check "></i>
							{{#if foil}}<i class="check af-color fa fa-check"></i>{{/if}}
							{{#if seasonal}}<i class="check green-text fa fa-check"></i>{{/if}}
							{{#if lottery}}<i class="check gold-text fa fa-check "></i>{{/if}}
							{{#if original}}<i class="check purple-text fa fa-check"></i>{{/if}}
							{{#if unlocked}}<i class="check silver-text fa fa-check"></i>{{/if}}
							{{#if vintage}}<i class="check vintage-text fa fa-check"></i>{{/if}}
						{{/if}}
						{{/with}}
					</div>
				{{/each}}	
			</div>
			{{/each}}
		</div>
		<div class="legend">
			<p><i class="check fa fa-check "></i> - standard</p>
			<p><i class="check af-color fa fa-check"></i> - foil</p>
			<p><i class="check green-text fa fa-check"></i> - seasonal</p>
			<p><i class="check gold-text fa fa-check "></i> - lottery</p>
			<p><i class="check purple-text fa fa-check"></i> - original</p>
			<p><i class="check silver-text fa fa-check"></i> - unlocked</p>
			<p><i class="check vintage-text fa fa-check"></i> - vintage</p>
		</div>
	</div>
</template>

<template name="countHeader">
	<div class="category-column headers col-xs-2">
		<p class="category-header">{{name}}</p> 
		{{#if isEqual rarity "common"}}
			<p class="counts">
				({{count_object.standard}}|<span class="highlight af-color">{{count_object.foil}}</span>|<span class="highlight purple-text">{{count_object.original}}</span>|<span class="highlight vintage-text">{{count_object.vintage}}</span>)
			</p>
		{{else}}
			{{#if legendary_or_masterpiece rarity}}
				<p class="counts">
					({{count_object.standard}}|<span class="highlight af-color">{{count_object.foil}}</span>|<span class="highlight green-text">{{count_object.seasonal}}</span>|<span class="highlight gold-text">{{count_object.lottery}}</span>|<span class="highlight purple-text">{{count_object.original}}</span>|<span class="highlight silver-text">{{count_object.unlocked}}</span>|<span class="highlight vintage-text">{{count_object.vintage}}</span>)
				</p>
			{{else}}
				<p class="counts">
					({{count_object.standard}}|<span class="highlight af-color">{{count_object.foil}}</span>|<span class="highlight purple-text">{{count_object.original}}</span>|<span class="highlight silver-text">{{count_object.unlocked}}</span>|<span class="highlight vintage-text">{{count_object.vintage}}</span>)
				</p>
			{{/if}}
		{{/if}}
	</div>
</template>