.template-checklist .rarity-tab,
.template-checklist .blank-tab {
	cursor: pointer;
	border: 1px solid black;
	border-right: none;
	font-size: 2rem;
	font-weight: bold;
	height: 40px;
	display: flex;
	align-items: center;
	text-align: center;
}

.template-checklist .rarity-tab.selected {
	border-bottom: none;
}

.template-checklist .blank-tab {
	border: none;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.template-checklist .rarity-tabs {

}

.template-checklist .artwork-area {
	border: 1px solid black;
	border-top: none;
	padding: 20px 40px 20px 40px;
}

.template-checklist .artwork-info {

}

.template-checklist .page-buttons {
	height: 50px;
	text-align: center;
	min-height: 4em;
	display: flex;
	align-items:center;
}

.template-checklist .page-button {
	font-size: 3rem;
	margin: 20px 80px 20px 80px;
	vertical-align: middle;
}

.template-checklist .page-button:hover {
	color: black;
	cursor: pointer;
}

.template-checklist .page-indicators {
	font-weight: bold;
	color: black;
	vertical-align: middle;
	font-size: 2rem;
}

.template-checklist .button-wrapper {
	flex: auto;
	align-items:center;
	margin: auto;
}

.template-checklist .category-row {
	display: block;
	padding: 4px 16px 4px 16px;
}

.template-checklist .category-headers {
	color: black;
	font-size: 1.5rem;
}

.template-checklist .category-column {
	text-align: center;
	height: 100%;
}

.template-checklist .unfulfilled {
	opacity: 0;
}

.template-checklist .category-row:nth-child(odd) {
	background-color: #EEEEEE;
}

.template-checklist .check {
	font-size: 2rem;
}

.template-checklist .legend {
	margin-top: 16px;
}

.template-checklist .legend p{
	color: black;
	margin: 0;
}