<template name="exitTutorialModal">
	<div class="template-exitTutorialModal col-xs-12">
		<div class="message-container">
			<div class="modal-message-area">
				<p class="modal-message">Are you sure you'd like to exit the tutorial?</p>
				<p class="modal-message">(you'll still be able to revisit it from your profile page)</p>
			</div>
			<div class="modal-button-area">
				<button class="modal-button" id="end-tutorial">yes, I'm sure</button>
				<button class="modal-button close-button">close</button>
			</div>
		</div>
	</div>
</template>