<template name="forge">
	<div class="template-forge">
		<div class="row tools-section item-creation">
			{{#if contract_count}}
				<div class="forgery-contract-area row">
					<p>forgery contracts available:</p>
					{{#each forgery_contract}}
						<div class="forgery-contract-container {{#if isEqual selected_forgery_contract_id _id}}selected af-color{{else}}unselected{{/if}}" data-forgery_contract_id="{{_id}}">
							<i class="fa fa-user-secret contract-icon"></i>
							<p class="forgery-quality-text">{{floatToPercentage quality}}</p>
						</div>
					{{/each}}
					{{#if selected_forgery_contract_id}}
						<div id="discard-forgery">
							<i class="fa fa-trash"></i>
							<p class="forgery-quality-text">discard</p>
						</div>
					{{/if}}
				</div>
				{{#if artwork_and_contract_selected}}
					{{#with artwork_and_contract_selected}}
					<h3><i id="clear-artwork-selected" class="fa fa-arrow-left" data-target_id="{{artwork_selected._id}}" data-type="artist"></i> forging <span class="af-color highlight">{{artwork_selected.title}}</span> by <span class="af-color highlight">{{artwork_selected.artist}}</span></h3>
					{{/with}}
					<p>
						<div class="row no-margin no-padding">
							<div class= "col-xs-1 type-selectors" id="foil-select">
								<p class="af-color">Foil</p>
								{{#if isAdmin}}
								<label><input class="type-select" type="radio" name="foil_selector" value="false">false</label><br>
								<label><input class="type-select" type="radio" name="foil_selector" value="true">true</label><br>
								<label><input class="type-select" type="radio" name="foil_selector" value="random" checked>random</label><br>
								{{else}}
								<label><input class="type-select" type="radio" name="foil_selector" value="false" checked>false</label><br>
								<label><input class="type-select" type="radio" name="foil_selector" value="true">true</label><br>
								{{/if}}
								
							</div>
							<div class= "col-xs-1 type-selectors" id="unlocked-select">
								<p class="af-color">Unlocked</p>
								{{#if isAdmin}}
								<label><input class="type-select" type="radio" name="unlocked_selector" value="false">false</label><br>
								<label><input class="type-select" type="radio" name="unlocked_selector" value="true">true</label><br>
								<label><input class="type-select" type="radio" name="unlocked_selector" value="random" checked>random</label><br>
								{{else}}
								<label><input class="type-select" type="radio" name="unlocked_selector" value="false" checked>false</label><br>
								<label><input class="type-select" type="radio" name="unlocked_selector" value="true">true</label><br>
								{{/if}}
							</div>
							<div class= "col-xs-1 type-selectors" id="seasonal-select">
								<p class="af-color">Seasonal</p>
								{{#if isAdmin}}
								<label><input class="type-select" type="radio" name="seasonal_selector" value="false">false</label><br>
								<label><input class="type-select" type="radio" name="seasonal_selector" value="true">true</label><br>
								<label><input class="type-select" type="radio" name="seasonal_selector" value="season" checked>season</label><br>
								{{else}}
								<label><input class="type-select" type="radio" name="seasonal_selector" value="false" checked>false</label><br>
								<label><input class="type-select" type="radio" name="seasonal_selector" value="true">true</label><br>
								{{/if}}
							</div>
							{{#if isAdmin}}
							<div class= "col-xs-1 type-selectors" id="original-select">
								<p class="af-color">Original</p>
								<label><input class="type-select" type="radio" name="original_selector" value="false" checked>false</label><br>	
								<label><input class="type-select" type="radio" name="original_selector" value="true">true</label><br>				
							</div>
							<div class= "col-xs-1 type-selectors" id="forgery-select">
								<p class="af-color">Forgery</p>
								<label><input class="type-select" type="radio" name="forgery_selector" value="false" checked>false</label><br>
								<label><input class="type-select" type="radio" name="forgery_selector" value="true">true</label><br>	
							</div>
							{{/if}}
							<div class= "col-xs-1 type-selectors" id="vintage-select">
								<p class="af-color">Vintage</p>
								<label><input class="type-select" type="radio" name="vintage_selector" value="false" checked>false</label><br>
								<label><input class="type-select" type="radio" name="vintage_selector" value="true">true</label><br>
							</div>
							<div class= "col-xs-1 type-selectors" id="lottery-select">
								<p class="af-color">Lottery</p>
								<label><input class="type-select" type="radio" name="lottery_selector" value="0" checked>no level</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="1">1</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="2">2</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="3">3</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="4">4</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="5">5</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="6">6</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="7">7</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="8">8</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="9">9</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="10">10</label><br>
							</div>
							<div class= "col-xs-1 type-selectors" id="level-select">
								<p class="af-color">Level</p>
								<label><input class="type-select" type="radio" name="level_selector" value="1" checked>1</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="2">2</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="3">3</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="4">4</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="5">5</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="6">6</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="7">7</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="8">8</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="9">9</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="10">10</label><br>
							</div>
							{{#if isAdmin}}
							<div class= "col-xs-1 type-selectors" id="misprint-select">
								<p class="af-color">Misprint</p>
								<label><input class="type-select" type="radio" name="misprint_selector" value="false">false</label><br>
								<label><input class="type-select" type="radio" name="misprint_selector" value="true">true</label><br>
								<label><input class="type-select" type="radio" name="misprint_selector" value="random" checked>random</label><br>
							</div>
							{{/if}}
							<div class="col-xs-3 item-preview">
								{{#if forged_item_data}}
									{{> itemStubView item_data=forged_item_data}}
								{{/if}}
							</div>
						</div>
					</p>
					{{#if isAdmin}}
						{{#with forgery_heat_map}}
							<p class="heat-text">default heat level: <span style="color: {{forgery_heat_color default}}">{{heat_label default}} ({{default}})</span></p>
							<p class="heat-text">quest heat level: <span style="color: {{forgery_heat_color quest}}">{{heat_label quest}} ({{quest}})</span></p>
							<p class="heat-text">sell heat level: <span style="color: {{forgery_heat_color sell}}">{{heat_label sell}} ({{sell}})</span></p>
							<p class="heat-text">donate heat level: <span style="color: {{forgery_heat_color donate}}">{{heat_label donate}} ({{donate}})</span></p>
							<p class="heat-text">collector heat level: <span style="color: {{forgery_heat_color collector}}">{{heat_label collector}} ({{collector}})</span></p>
							<p class="heat-text">display heat level: <span style="color: {{forgery_heat_color display}}">{{heat_label display}} ({{display}})</span></p>
						{{/with}}
					{{else}}
					<p class="heat-text">heat level: <span style="color: {{forgery_heat_color forgery_heat}}">{{heat_label forgery_heat}}</span></p>
					{{/if}}
					{{#if forgery_cost}}
					<p class="cost-text">forgery cost: <span class="green-text text-shadow">{{displayAsMoneyValue forgery_cost}}</span></p>
					{{/if}}
					<p><button id="forge-item">forge item</button></p>
				{{else}}
					<p>artwork selection:</p>
					<textarea id="search-area" placeholder="search for an artwork to forge from your archive by artist name or title"></textarea>
					<div class="col-xs-12 no-margin no-padding">
						{{#each artist}}
						<div class="row artist-container no-margin no-padding">
							<div class="col-xs-12 no-margin no-padding">
								<div class="row artist-info no-margin no-padding" data-artist_id="{{_id}}">
									<div class="expand-collapse-container">
										<i class="expand-collapse fa {{#if artist_selected this}}fa-caret-down{{else}}fa-caret-right{{/if}}" data-target_id="{{_id}}" data-type="artist"></i>
									</div>
									<div class="artist-name-container">
										{{artist_name}}
									</div>
								</div>
								{{#if artist_selected this}}
								<div class="row artwork-list no-margin no-padding">
									<div class="col-xs-12 no-margin no-padding">
										{{#each artwork this}}
										<div class="row artwork-container no-margin">
											<div class="col-xs-12 no-margin">
												<div class="row artwork-info no-margin {{#if isEqual artwork_id_selected _id}}selected{{else}}unselected{{/if}}" data-artwork_id="{{_id}}">
													<div class="col-xs-10 artwork-title-container {{rarity}}">
														{{title}}
													</div>
												</div>
											</div>
										</div>
										{{/each}}
									</div>
								</div>
								{{/if}}
							</div>
						</div>
						{{/each}}
					</div>
				{{/if}}
			{{else}}
				<p>You currently have no forgery contracts.</p>
			{{/if}}
		</div>
	</div>
</template>