<template name="purchaseModal">
	<div class="template-purchaseModal col-xs-12">
		<div class="message-container">
			{{#with fetchServerData "getItemData" item_id}}
			<div class="modal-message-area">
				{{>itemInfo item_data=this}}
				<p class="modal-message">Purchase <span class="af-color work-title">{{artwork_data.title}}</span> by <span class="af-color">{{artwork_data.artist}}</span> for ${{getItemObjectValue this "dealer"}}?</p>
			</div>
			<div class="modal-button-area">
				<button class="modal-button" id="purchase-artwork" data-item_id="{{_id}}">ok</button>
				<button class="modal-button close-button">close</button>
			</div>
			{{/with}}
		</div>
	</div>
</template>