<template name="galleryItemInfo">
	<div class="template-galleryItemInfo">
		<div class="col-xs-12 no-margin">
			<div class="info-area">
				{{#with item_data this}}
					<h4 class="{{artwork_data.rarity}}">{{artwork_data.title}}</h4>
					<p>{{artwork_data.artist}}, {{artwork_data.date}}</p>
					<p><span class="{{artwork_data.rarity}}"><strong>{{artwork_data.rarity}}</strong></span></p>
					<p>{{artwork_data.medium}}</p>
					<p>{{artwork_data.height}} x {{artwork_data.width}}</p>
					<p>condition: <span style="color: {{getHTMLColorFromValue condition}}">{{condition_text condition}}</span></p>
					<p>estimated value: ${{getItemObjectValue this "actual"}}</p>
					<p>level: {{level}}</p>
					<p class="item-attributes">
					{{#each attributes}}
						<i data-attribute_description="{{this.description}}" data-attribute_value="{{this.value}}" style="color: {{getHTMLColorFromValue this.value}}" class="item-attribute fa {{this.icon}}"></i>
					{{/each}}
					</p>
				{{/with}}	
			</div>		
		</div>
	</div>
</template>

<template name="galleryItemThumbnail">
	<div class="template-galleryItemThumbnail">
		{{#with imageInfo this}}
		<div class="col-xs-12 no-padding no-margin img-container" style="padding-top: {{padding_top}}px">
			<img class="image-thumb" data-item_id="{{item_id}}" src="{{getThumbImageURL filename}}"/>
		</div>
		{{/with}}
	</div>
</template>