<template name="galleryItemInfo">
	<div class="template-galleryItemInfo">
		<div class="col-xs-12 no-margin">
			<div class="info-area">
				{{#with itemData this}}

				<h4 class="{{rarity}}">{{title}}</h4>
				<p>{{artist}}, {{date}}</p>
				<p><span class="{{rarity}}"><strong>{{rarity}}</strong></span></p>
				<p>{{medium}}</p>
				<p>{{height}} x {{width}}</p>
				<p>condition: <span style="color: {{getHTMLColorFromValue condition}}">{{condition_text}}</span></p>
				<p>estimated value: ${{getItemValue item_id "actual"}}</p>
				<p>xp rating: <span style="color: {{getHTMLColorFromValue xp_rating}}">{{xp_rating_text}}</span></p>
				<p class="item-attributes">
				{{#if is_not_permanent}}
					{{#each attribute}}
						<i data-attribute_description="{{this.description}}" data-attribute_value="{{this.value}}" style="color: {{getHTMLColorFromValue this.value}}" class="item-attribute fa {{this.icon}}"></i>
					{{/each}}
				{{/if}}
				</p>

				{{/with}}	
			</div>		
		</div>
	</div>
</template>

<template name="galleryItemThumbnail">
	<div class="template-galleryItemThumbnail">
		{{#with imageInfo this}}
		<div class="col-xs-12 no-padding no-margin img-container" style="padding-top: {{padding_top}}px">
			<img class="image-thumb" data-item_id="{{item_id}}" src="{{getThumbImageURL filename}}"/>
		</div>
		{{/with}}
	</div>
</template>