.template-leaderboard p {
	font-size: 1.1em;
	margin-bottom: 0px;
}

.template-leaderboard .highlight {
	color: black;
	font-weight: 500;
}

.template-leaderboard .list-row:nth-child(odd) {
	background-color: #EEEEEE;
}

.template-leaderboard .list-row {
	border: 1px solid #EEEEEE;
	padding: 8px;
}

.template-leaderboard .mvp-row:hover {
	background-color: #ffe6f9;
	cursor: pointer;
}

.template-leaderboard .list-section {
	margin-top: 48px;
}