<template name="leaderboard">
	<div class="template-leaderboard">
		<div class="container">
			<h1 class="af-color">Leaderboard</h1>
			{{#with leaderboard_data}}
				{{> mvp mvp_data}}
				{{> galleryScore gallery_score_data}}
				{{> galleryValue gallery_value_data}}
				{{> questsCompleted quests_completed_data}}
				{{> itemsOwned items_owned_data}}
				{{> moneySpentOnCrates money_spent_crates_data}}
			{{/with}}
		</div>
	</div>
</template>

<template name="mvp">
	<div class="row list-mvp">
		<div class="template-galleryScore col-xs-12">
			<h3 class="af-color">Most Valuable Items</h3>
			{{#each this}}
			<div class="row list-row mvp-row" data-item_id="{{_id}}">
				<div class="col-xs-1">
					<p>{{positionFromIndex @index}}.</p>
				</div> 
				<div class="col-xs-2">
					<p class="highlight">{{owner_name _id}}</p>
				</div> 
				<div class="col-xs-4">
					<p><span class="highlight work-title">{{artwork_data.title}}</span> by <span class="highlight">{{artwork_data.artist}}</span></p>
				</div> 
				<div class="col-xs-2">
					<p class="highlight">{{displayAsMoneyValue values.actual}}</p>
				</div> 
				<div class="col-xs-2">
					<p class="{{artwork_data.rarity}}">{{artwork_data.rarity}}{{#if foil}}<span class="af-color"> foil</span>{{/if}}{{#if seasonal}}<span class="common"> seasonal</span>{{/if}}{{#if original}}<span class="purple-text"> original</span>{{/if}}{{#if lottery}}<span class="gold"> lottery {{lottery}}</span>{{/if}}{{#if vintage}}<span class="vintage-text"> vintage</span>{{/if}}{{#if unlocked}}<span class="silver-text"> unlocked</span>{{/if}}</p>
				</div> 
			</div>
			{{/each}}
		</div>
	</div>
</template>

<template name="galleryScore">
	<div class="row list-section">
		<div class="template-galleryScore col-xs-12 col-md-6">
			<h3 class="af-color">Gallery Score</h3>
			{{#each this}}
				{{#if this.score}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{commaSeparatedValue this.score}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="galleryValue">
	<div class="row list-section">
		<div class="template-galleryValue col-xs-12 col-md-6">
			<h3 class="af-color">Gallery Value</h3>
			{{#each this}}
				{{#if this.value}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{displayAsMoneyValue this.value}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="questsCompleted">
	<div class="row list-section">
		<div class="template-questsCompleted col-xs-12 col-md-6">
			<h3 class="af-color">Quests Completed</h3>
			{{#each this}}
				{{#if this.profile.completed_quests}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.profile.screen_name}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{commaSeparatedValue this.profile.completed_quests}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="itemsOwned">
	<div class="row list-section">
		<div class="template-itemsOwned col-xs-12 col-md-6">
			<h3 class="af-color">Items Owned</h3>
			{{#each this}}
				{{#if this.profile.items_owned}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.profile.screen_name}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{commaSeparatedValue this.profile.items_owned}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="moneySpentOnCrates">
	<div class="row list-section">
		<div class="template-moneySpentOnCrates col-xs-12 col-md-6">
			<h3 class="af-color">Money Spent on Crates</h3>
			{{#each this}}
				{{#if this.profile.money_spent_on_crates}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.profile.screen_name}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{displayAsMoneyValue this.profile.money_spent_on_crates}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>
