.template-leaderboard p {
	font-size: 1.1em;
	margin-bottom: 0px;
}

.template-leaderboard .highlight {
	color: black;
	font-weight: 500;
}

.template-leaderboard .list-row:nth-child(odd) {
	background-color: #EEEEEE;
}

.template-leaderboard .list-row {
	border: 1px solid #EEEEEE;
	padding: 8px;
}

.template-leaderboard .mvp-row:hover {
	background-color: #ffe6f9;
	cursor: pointer;
}

.template-leaderboard .list-section {
	margin-top: 24px;
}

.template-leaderboard .list-section:first-child {
	margin-top: 0px;
}

.template-leaderboard .leaderboard-title {
	font-size: 2rem;
	opacity: .6;
	cursor: pointer;
	color: black;
}

.template-leaderboard .leaderboard-title:hover {
	opacity: 1;
}

.template-leaderboard .selected {
	font-weight: bold;
}
