<template name="leaderboard">
	<div class="template-leaderboard">
		<div class="container">
			<h1 class="af-color">Leaderboards</h1>
			{{#with leaderboard_data}}
				{{> mvp item_array=mvp_data board_title="most valuable items"}}
				{{> mvp item_array=archived_mvp_data board_title="most valuable archived items"}}
				{{> galleryScore gallery_score_data}}
				{{> galleryValue gallery_value_data}}
				{{> archiveValue archive_data.value_data}}
				{{> archiveCount archive_data.count_data}}
				{{> earningsPerHour gallery_earnings_data}}
				{{> questsCompleted quests_completed_data}}
				{{> moneySpentOnCrates money_spent_crates_data}}
			{{/with}}
		</div>
	</div>
</template>

<template name="mvp">
	<div class="row list-section">
		<div class="template-galleryScore col-xs-12">
			<h3 class="af-color">{{this.board_title}}</h3>
			{{#each this.item_array}}
			<div class="row list-row mvp-row" data-item_id="{{_id}}">
				<div class="col-xs-1">
					<p>{{positionFromIndex @index}}.</p>
				</div> 
				<div class="col-xs-2">
					<p class="highlight">{{owner_name _id}}</p>
				</div> 
				<div class="col-xs-4">
					<p><span class="highlight work-title">{{artwork_data.title}}</span> by <span class="highlight">{{artwork_data.artist}}</span></p>
				</div> 
				<div class="col-xs-2">
					<p class="highlight">{{displayAsMoneyValue values.actual}}</p>
				</div> 
				<div class="col-xs-2">
					{{> itemSignature item_data=this}}
				</div> 
			</div>
			{{/each}}
		</div>
	</div>
</template>

<template name="galleryScore">
	<div class="row list-section">
		<div class="template-galleryScore col-xs-12 col-md-6">
			<h3 class="af-color">gallery score</h3>
			{{#each this}}
				{{#if this.score}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{commaSeparatedValue this.score}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="galleryValue">
	<div class="row list-section">
		<div class="template-galleryValue col-xs-12 col-md-6">
			<h3 class="af-color">gallery value</h3>
			{{#each this}}
				{{#if this.value}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{displayAsMoneyValue this.value}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="archiveValue">
	<div class="row list-section">
		<div class="template-archiveValue col-xs-12 col-md-6">
			<h3 class="af-color">archive value</h3>
			{{#each this}}
				{{#if this.value}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{user_name this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{displayAsMoneyValue this.value}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="archiveCount">
	<div class="row list-section">
		<div class="template-archiveCount col-xs-12 col-md-6">
			<h3 class="af-color">items archived</h3>
			{{#each this}}
				{{#if this.count}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{user_name this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{commaSeparatedValue this.count}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="earningsPerHour">
	<div class="row list-section">
		<div class="template-earningsPerHour col-xs-12 col-md-6">
			<h3 class="af-color">gallery earnings per hour</h3>
			{{#each this}}
				{{#if this.value}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{displayAsMoneyValue this.earnings_per_hour}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="questsCompleted">
	<div class="row list-section">
		<div class="template-questsCompleted col-xs-12 col-md-6">
			<h3 class="af-color">quests completed</h3>
			{{#each this}}
				{{#if this.profile.completed_quests}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.profile.screen_name}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{commaSeparatedValue this.profile.completed_quests}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="moneySpentOnCrates">
	<div class="row list-section">
		<div class="template-moneySpentOnCrates col-xs-12 col-md-6">
			<h3 class="af-color">money spent on crates</h3>
			{{#each this}}
				{{#if this.profile.money_spent_on_crates}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.profile.screen_name}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{displayAsMoneyValue this.profile.money_spent_on_crates}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>
