<template name="leaderboard">
	<div class="template-leaderboard">
		<div class="container">
			<h1 class="af-color">Leaderboards</h1>
			<div class="row">
			{{#each leaderboard}}
				<div class="col-xs-3 leaderboard-title">
					<span class="{{#with selected_leaderboard}}{{#if isEqual key ../key}}af-color selected{{/if}}{{/with}}" data-leaderboard_key="{{key}}" data-leaderboard_name>{{name}}</span>
				</div>
			{{/each}}
			</div>
			{{#with leaderboard_data}}
				{{#with selected_leaderboard}}
					{{#if isEqual key "mvp_data"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "mvp_data_masterpiece"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "mvp_data_legendary"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "mvp_data_rare"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "mvp_data_uncommon"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "mvp_data_common"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "archived_mvp_data"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "archived_mvp_data_masterpiece"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "archived_mvp_data_legendary"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "archived_mvp_data_rare"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "archived_mvp_data_uncommon"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "archived_mvp_data_common"}}
						{{> mvp item_array=data board_title=title}}
					{{/if}}
					{{#if isEqual key "gallery_score_data"}}
						{{> galleryScore data}}
					{{/if}}
					{{#if isEqual key "gallery_value_data"}}
						{{> galleryValue data}}
					{{/if}}
					{{#if isEqual key "archive_value_data"}}
						{{> archiveValue data}}
					{{/if}}
					{{#if isEqual key "archive_count_data"}}
						{{> archiveCount data}}
					{{/if}}
					{{#if isEqual key "gallery_earnings_data"}}
						{{> earningsPerHour data}}
					{{/if}}
					{{#if isEqual key "jobs_completed_data"}}
						{{> jobsCompleted data}}
					{{/if}}
					{{#if isEqual key "money_spent_crates_data"}}
						{{> moneySpentOnCrates data}}
					{{/if}}
				{{/with}}
			{{/with}}
		</div>
	</div>
</template>

<template name="mvp">
	<div class="row list-section">
		<div class="template-galleryScore col-xs-12">
			<h3 class="af-color">{{this.board_title}}</h3>
			{{#each this.item_array}}
			<div class="row list-row mvp-row" data-item_id="{{_id}}">
				<div class="col-xs-1">
					<p>{{positionFromIndex @index}}.</p>
				</div> 
				<div class="col-xs-2">
					<p class="highlight">{{owner_name _id}}</p>
				</div> 
				<div class="col-xs-4">
					<p><span class="highlight work-title">{{artwork_data.title}}</span> by <span class="highlight">{{artwork_data.artist}}</span></p>
				</div> 
				<div class="col-xs-2">
					<p class="highlight">{{displayAsMoneyValue values.actual}}</p>
				</div> 
				<div class="col-xs-2">
					{{> itemSignature item_data=this}}
				</div> 
			</div>
			{{/each}}
		</div>
	</div>
</template>

<template name="galleryScore">
	<div class="row list-section">
		<div class="template-galleryScore col-xs-12 col-md-6">
			<h3 class="af-color">gallery score</h3>
			{{#each this}}
				{{#if this.score}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{commaSeparatedValue this.score}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="galleryValue">
	<div class="row list-section">
		<div class="template-galleryValue col-xs-12 col-md-6">
			<h3 class="af-color">gallery value</h3>
			{{#each this}}
				{{#if this.value}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{displayAsMoneyValue this.value}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="archiveValue">
	<div class="row list-section">
		<div class="template-archiveValue col-xs-12 col-md-6">
			<h3 class="af-color">archive value</h3>
			{{#each this}}
				{{#if this.value}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{user_name this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{displayAsMoneyValue this.value}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="archiveCount">
	<div class="row list-section">
		<div class="template-archiveCount col-xs-12 col-md-6">
			<h3 class="af-color">items archived</h3>
			{{#each this}}
				{{#if this.count}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{user_name this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{commaSeparatedValue this.count}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="earningsPerHour">
	<div class="row list-section">
		<div class="template-earningsPerHour col-xs-12 col-md-6">
			<h3 class="af-color">gallery earnings per hour</h3>
			{{#each this}}
				{{#if this.value}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.owner}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{displayAsMoneyValue this.earnings_per_hour}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="jobsCompleted">
	<div class="row list-section">
		<div class="template-jobsCompleted col-xs-12 col-md-6">
			<h3 class="af-color">jobs completed</h3>
			{{#each this}}
				{{#if this.profile.completed_quests}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.profile.screen_name}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{commaSeparatedValue this.profile.completed_quests}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>

<template name="moneySpentOnCrates">
	<div class="row list-section">
		<div class="template-moneySpentOnCrates col-xs-12 col-md-6">
			<h3 class="af-color">money spent on crates</h3>
			{{#each this}}
				{{#if this.profile.money_spent_on_crates}}
				<div class="row list-row">
					<div class="col-xs-1">
						<p>{{positionFromIndex @index}}.</p>
					</div> 
					<div class="col-xs-6">
						<p class="highlight">{{this.profile.screen_name}}</p>
					</div> 
					<div class="col-xs-5">
						<p class="highlight">{{displayAsMoneyValue this.profile.money_spent_on_crates}}</p>
					</div> 
				</div>
				{{/if}}
			{{/each}}
		</div>
	</div>
</template>
