<template name="auctions">
	<div class="template-auctions">
		<div class="container">
			<h1 class="af-color">Auction House</h1>
			<div class="row inventory-management no-padding">
			<h3 class="view-buttons"><!--i id="toggle-view" class="fa fa-list {{#if list_view}}af-color{{/if}}"></i--><i id="toggle-filters" class="fa fa-filter"></i></h3>
			<div class="row all-filters">
				<textarea id="search-field" placeholder="search for auctions by artist name or title"></textarea>
				<div class="sort-area col-xs-12 col-md-2">
					<p class="filter-title">sort:</p>
					<select id="sort-selector">
						<option value="remaining">time remaining</option>
						<option value="current bid">current bid</option>
						<option value="seller">seller</option>
						<option value="title">title</option>
						<option value="artist">artist</option>
						<option value="date">date</option>
						<option value="medium">medium</option>
						<option value="rarity">rarity</option>
						<option value="foil">foil</option>
						<option value="lottery">lottery</option>
						<option value="seasonal">seasonal</option>
						{{#if has_auctioneer}}
							<option value="condition">condition</option>
							<option value="roll count">roll count</option>
							<option value="xp rating">xp rating</option>
						{{/if}}
					</select>
					<select id="order-selector">
						<option value="1">ascending</option>
						<option value="-1">descending</option>
					</select>
				</div>

				<div class="filter-area col-xs-12 col-md-10">
					<div class="row">
						<div class="col-xs-2">
							<p class="filter-title">card type:</p>
							<div class="filter-checkboxes">
								<label><input class="type-select" type="checkbox" id="card-type-checkbox" value="standard" checked>standard</label><br>
								<label><input class="type-select" type="checkbox" id="card-type-checkbox" value="foil" checked>foil</label><br>
								<label><input class="type-select" type="checkbox" id="card-type-checkbox" value="seasonal" checked>seasonal</label><br>
								<label><input class="type-select" type="checkbox" id="card-type-checkbox" value="lottery" checked>lottery</label><br>
								<label><input class="type-select" type="checkbox" id="card-type-checkbox" value="original" checked>original</label>
							</div>
						</div>

						<div class="col-xs-2">
							<p class="filter-title">rarity:</p>
							<div class="filter-checkboxes">
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="common" checked>common</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="uncommon" checked>uncommon</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="rare" checked>rare</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="legendary" checked>legendary</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="masterpiece" checked>masterpiece</label>
							</div>
						</div>

						<div class="col-xs-2">
							<p class="filter-title">quest:</p>
							<div class="filter-checkboxes">
								<label><input name="quest-status" class="type-select" type="radio" id="quest-type-radio" value="all" checked>all items</label><br>
								<label><input name="quest-status" class="type-select" type="radio" id="quest-type-radio" value="quest">quest items</label><br>
								{{#if has_auctioneer}}
									<label><input name="quest-status" class="type-select" type="radio" id="quest-type-radio" value="sought">sought items</label><br>
								{{/if}}
							</div>
						</div>

						<div class="col-xs-2">
							<p class="filter-title">exclusivity:</p>
							<div class="filter-checkboxes">
								<label><input class="exclusivity-select" type="checkbox" id="exclusivity-checkbox" value="public" checked>public</label><br>
								<label><input class="exclusivity-select" type="checkbox" id="exclusivity-checkbox" value="private" checked>private</label><br>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-9 page-buttons">
				<div class="button-wrapper">
					<i id="auctions-page-left" class="page-button fa fa-caret-left"></i>
					<span class="page-indicators">page {{current_page}}/{{total_pages}}</span>
					<i id="auctions-page-right" class="page-button fa fa-caret-right"></i>	
				</div>
			</div>
			<div class="col-xs-3 page-buttons items_per_page">
				<span class="filter-title">items per page: </span>
				<select id="page-count-select">
        			<option value="10">10</option>
        			<option value="20">20</option>
        			<option value="50">50</option>
        			<option value="100">100</option>
        		</select>
			</div>
		</div>
			{{#if refreshAuctions}}{{/if}}
			{{#if itemCount}}{{/if}}
			{{>auctionTable auction_data=auctionData}}
		</div>
	</div>
</template>

<template name="myAuctions">
	<div class="template-myAuctions">
		<div class="row dash-section">
			<div class="col-xs-2">
				<button id="toggle-details" type="button" class="btn btn-default">toggle details</button>
			</div>
			<div class="col-xs-2 col-xs-offset-8">
				<i id="refresh-auctions" class="blue-text fa fa-refresh"></i>
			</div>
			{{refreshAuctions}}
			<div class="col-xs-12">
				<h3>watched auctions</h3>
				<div class="col-xs-12">		
					{{>auctionTable auction_data=watchedAuctionData hide_ui=true}}
				</div>
			</div>

			<div class="col-xs-12">
				<h3>your auctions</h3>
				<div class="col-xs-12">		
					{{>auctionTable auction_data=playerAuctionData hide_ui=true}}
				</div>
			</div>
		</div>
	</div>
</template>