<template name="modalTemplate">
	<div class="template-modalTemplate">
		<div class="modal-container col-xs-12">
			<div class="row modal-content-container">
				{{#if isEqual modal_name "fullViewModal"}}
					{{> fullViewModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "sellAllModal"}}
					{{> sellAllModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "donateAllModal"}}
					{{> donateAllModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "archiveAllModal"}}
					{{> archiveAllModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "deleteAllDisplacedModal"}}
					{{> deleteAllDisplacedModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "standardNPCMessageModal"}}
					{{> standardNPCMessageModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "tutorialModal"}}
					{{> tutorialModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "tagItemModal"}}
					{{> tagItemModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "quickSellModal"}}
					{{> quickSellModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "collectorOfferModal"}}
					{{> collectorOfferModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "artExpertKnowledgeModal"}}
					{{> artExpertKnowledgeModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "placeBidModal"}}
					{{> placeBidModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "imageOnlyModal"}}
					{{> imageOnlyModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "vintageModal"}}
					{{> vintageModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "donateModal"}}
					{{> donateModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "archiveModal"}}
					{{> archiveModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "deleteModal"}}
					{{> deleteModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "rerollModal"}}
					{{> rerollModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "identifyForgeryModal"}}
					{{> identifyForgeryModal modal_data}}
				{{/if}}
			</div>
		</div>
	</div>
</template>