<template name="modalTemplate">
	<div class="template-modalTemplate">
		<div class="modal-container col-xs-12">
			<div class="row modal-content-container">
				{{#if isEqual modal_name "fullViewModal"}}
					{{> fullViewModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "sellAllModal"}}
					{{> sellAllModal modal_data}}
				{{/if}}

				{{#if isEqual modal_name "standardNPCMessageModal"}}
					{{> standardNPCMessageModal modal_data}}
				{{/if}}
			</div>
		</div>
	</div>
</template>