@keyframes opacity_fade {
    0%{opacity:0}
    100%{opacity:1}
}

.template-modalTemplate {
	background-color: rgba(0,0,0,.9);
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	z-index: 999999;
	-webkit-animation: opacity_fade .25s ease;
	-moz-animation: opacity_fade .25s ease;
	-o-animation: opacity_fade .25s ease;
	animation: opacity_fade .25s ease;
}

.template-modalTemplate .modal-container {
	z-index: 2147483647;
	width: 100%;
	height: 100%;
	position: fixed;
	padding: 0px;
}

.template-fullViewModal .item-containers {
	width: 100%;
	height: 100%;
	position: fixed;
}

.template-modalTemplate .modal-content-container {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; /* add */
    justify-content: center; /* add to align horizontal */
    align-items: center; /* add to align vertical */
    padding: 36px;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.template-modalTemplate .modal-message {
	color: white;
	text-align: center;
	width: 80%;
	margin: auto;
	font-size: 2rem;
	margin-top: 12px;
}

.template-modalTemplate .modal-message-area, .template-modalTemplate .modal-button-area, .template-forgeModal .forgery-contract-area {
	display: block;
	clear: both;
	position: relative;
	text-align: center;
	margin-top: 24px;
}

.template-modalTemplate .modal-button {
	border: 1px solid #777777;
	margin: 0px 12px;
}

.template-modalTemplate .modal-button:hover {
	background-color: #FF33CC;
}

.template-modalTemplate .modal-message-area > .template-itemInfo > .button-area {
	display: none;
}