.square {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--border-color);
  background: var(--bg-color, transparent);
  box-shadow: 2px 2px 0 var(--shadow-color);

  --border-color: var(--border-color-default, rgb(0 0 0 / 16%));
  --shadow-color: color-mix(in srgb, var(--bg-color, var(--border-color)) 25%, white);

  &[data-mode="museum"] {
    --border-color-default: #d8d2c7;
  }

  &[data-rarity="common"] {
    --bg-color: #39b54a;
  }

  &[data-rarity="uncommon"] {
    --bg-color: #3e7bff;
  }

  &[data-rarity="rare"] {
    --bg-color: #e1c429;
  }

  &[data-rarity="legendary"] {
    --bg-color: #ff8a1f;
  }

  &[data-rarity="masterpiece"] {
    --bg-color: #42e8f5;
  }
}