.template-dashboard .gamertag {
	font-size: 3rem;
}

.template-dashboard .dashboard-tab-area {
	/*border: 1px solid black;
	padding: 20px 20px 10px 20px;
	margin: 5px -15px 15px -15px;
	position: absolute;*/

	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	padding: 15px 10px 15px 10px;
	margin: 15px -15px 15px -15px;
	position: absolute;
	font-size: 1.6rem;
}

.template-dashboard .dash-templates {
	margin-top: 120px;
}

.template-dashboard .dash-tab {
	display: inline-block;
	/*padding-top: 10px;*/
	/*height: 50px;*/
	width: 120px;
	cursor: pointer;
}

.template-dashboard .dash-tab:hover > .title-wrapper {
	opacity: 1;
}

.template-dashboard .title-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.template-dashboard .title-wrapper {
	margin-top: 0px;
	opacity: .5;
}

.template-dashboard .current {
	opacity: 1;
	font-weight: bold;
}

