<template name="dashboard">
	<div class="template-dashboard">
		<div class="container">
			{{setSection specified_section}}
			<div class="row no-padding no-margin">
				<div class="row">
					<span class="gamertag {{patreon_tier}} highlight">{{screen_name}}</span><span class="vintage-text">{{#if vintage_level}} v{{vintage_level}}{{/if}}</span>
				</div>
				<div class="dashboard-tab-area">
					{{> dashboardTab current_section=current_section section_title="profile" icon="profile"}}
					{{> dashboardTab current_section=current_section section_title="inventory" icon="archive"}}
					{{> dashboardTab current_section=current_section section_title="loot" icon="gift"}}
					{{> dashboardTab current_section=current_section section_title="gallery" icon="picture-o"}}
					{{> dashboardTab current_section=current_section section_title="archive" icon="archive"}}
					{{> dashboardTab current_section=current_section section_title="quests" icon="flag-checkered"}}
					{{> dashboardTab current_section=current_section section_title="my auctions" icon="bullhorn"}}
					{{> dashboardTab current_section=current_section section_title="settings" icon="wrench"}}
				</div>
				<div class="row no-padding no-margin dash-templates">
					{{#if isEqual current_section "profile"}}
						{{> playerInfo}}
					{{/if}}
					{{#if isEqual current_section "inventory"}}
						{{> inventory}}
					{{/if}}
					{{#if isEqual current_section "loot"}}
						{{> randomDrop}}
					{{/if}}
					{{#if isEqual current_section "archive"}}
						{{> archive}}
					{{/if}}
					{{#if isEqual current_section "quests"}}
						{{> quests}}
					{{/if}}
					{{#if isEqual current_section "gallery"}}
						{{> userGallery screen_name=screen_name from_dashboard=true}}
					{{/if}}
					{{#if isEqual current_section "my auctions"}}
						{{> myAuctions}}
					{{/if}}
					{{#if isEqual current_section "settings"}}
						{{> settings}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="dashboardTab">
	<a href="/dashboard/{{section_title}}">
		<dev class="dash-tab" data-section_name="{{section_title}}">	
			<dev class="title-wrapper {{#if isEqual current_section section_title}}current{{/if}}">	
			{{#if has_displaced section_title}}			
				<span class="current red-text">{{section_title}}</span>
			{{else}}
				<span class="{{#if isEqual current_section section_title}}af-color current{{else}}black-text{{/if}}">{{section_title}}</span>
			{{/if}}
			</dev>
		</dev>
	</a>
</template>