<template name="dashboard">
	<div class="template-dashboard">
		<div class="container">
			{{#with userData}}
			<div class="row dash-section">
				<div class="row">
					<h2 class="af-color">{{screen_name}}</h2>
				</div>
				<div class="row">
					<div class="col-xs-6 no-padding">
						<div class="xp-bar">
							{{#with xpData}}
							<div class="xp-level" style= "width : {{xp_completion}}%"></div>
							<div class="level-text">
								<p>level {{current_level}}</p>
							</div>
							<div class="goal-text">
								<p class="highlight">{{current_xp}} / {{xp_goal}}</p>
							</div>
							{{/with}}
						</div>
					</div>
				</div>
				<div class="row player-info">
					<div class="col-xs-12">
						<div class="row">
							<p>bank balance: <span class="highlight af-color">${{bank_balance}}</span></p>
						</div>
						<div class="row">
							<p>collection value: <span class="highlight af-color">${{collection_value}}</span></p>
						</div>
						<div class="row">
							<p>current exhibition value: <span class="highlight af-color">${{display_value}}</span></p>
						</div>
						<div class="row">
							<p>items exhibited: <span class="highlight af-color">{{display_count}}</span> ({{display_max}} max)</p>
						</div>
						<div class="row">
							<p>paintings owned: <span class="highlight af-color">{{inventory_count}}</span> ({{inventory_max}} max)</p>
						</div>
						<div class="row">
							<p>auctions active: <span class="highlight af-color">{{auction_count}}</span> ({{auction_max}} max)</p>
						</div>
						<div class="row">	
							<p>permanent collection: <span class="highlight af-color">{{private_count}}</span> ({{private_max}} max)</p>
						</div>
						<div class="row">
							<p>gallery entry fee: <span class="highlight af-color">{{entry_fee}}</span> <!-- <i id="edit-fee" class="fa fa-pencil-square-o"></i> --></p>
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-6 col-lg-4" id="entry-fee"></div>
						</div>
	            	</div>
				</div>		
				<div class="row ticket-info">
					{{#if has_tickets}}
						{{#each ticket}}
						<a href="/user/{{owner_name}}" class="ticket-button {{#if unmet_npcs}}af-color{{else}}npcs-met{{/if}}"><i data-expiration_string="{{expiration_string}}" data-owner_name="{{owner_name}}" class="fa fa-ticket"></i></a>
						{{/each}}
						<p class="ticket-max">({{ticket_max}} max)</p>
					{{/if}}
				</div>
			</div>

			{{#if alert_count}}
			<div class="row dash-section">
				{{> alerts}}
			</div>
			{{/if}}

			{{#if auction_count}}
			<div class="row dash-section">
				{{> activeAuctions}}
			</div>
			{{/if}}

			{{#if inventory_count}}
			<div class="row dash-section">
				{{> inventory}}
			</div>
			{{else}}
			<div class="row dash-section">
				<h3>You have no items yet. Click <a href="/loot">here</a> to visit the store!</h3>
			</div>
			{{/if}}

			{{/with}}
		</div>
	</div>
</template>