<template name="dashboard">
	<div class="template-dashboard">
		<div class="container">
			{{#with userData}}
			<div class="row dash-section">
				<div class="row">
					<h2 class="af-color">{{screen_name}}</h2>
				</div>
				<div class="row">
					<div class="col-xs-6 no-padding">
						{{#if max_level}}
						<h3>Lottery tokens: <span class="af-color">{{commaSeparatedValue tokens}}</span></h3>
						{{else}}
						<div class="xp-bar">
							{{#with xpData}}
							<div class="xp-level" style= "width : {{xp_completion}}%"></div>
							<div class="level-text">
								<p>level {{current_level}}</p>
							</div>
							<div class="goal-text">
								<p class="highlight">{{current_xp}} / {{xp_goal}}</p>
							</div>
							{{/with}}
						</div>
						{{/if}}
					</div>
				</div>
				<div class="row player-info">
					<div class="col-xs-12">
						<p>bank balance: <span class="highlight af-color">${{bank_balance}}</span></p>	
						<p>collection value: <span class="highlight af-color">${{collection_value}}</span></p>				
						<p>current exhibition value: <span class="highlight af-color">${{display_value}}</span></p>					
						<p>items exhibited: <span class="highlight af-color">{{display_count}}</span> ({{display_max}} max)</p>					
						<p>paintings owned: <span class="highlight af-color">{{inventory_count}}</span> ({{inventory_max}} max)</p>										
						<p>permanent collection: <span class="highlight af-color">{{private_count}}</span> ({{private_max}} max)</p>		
						<p>completed qeusts: <span class="highlight af-color">{{completed_quests}}</span></p>		
						<p>gallery entry fee: 
							<select class="price-selector">
								<option selected="selected" value="{{entry_fee}}">{{entry_fee}}</option>
								{{#each unselected entry_fee}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						</p>
	            	</div>
				</div>		
				<div class="row ticket-info">
				{{#each ticket}}
					{{#with ticketData this}}
					<a href="/user/{{owner_name}}" class="ticket-button {{#if unmet_npcs}}af-color{{else}}npcs-met{{/if}}"><i data-expiration_string="{{expiration_string}}" data-owner_name="{{owner_name}}" class="fa fa-ticket"></i></a>
					{{/with}}
				{{/each}}
					<p>ticket limit: {{ticket_max}}</p>
				</div>
			</div>

			{{#if alert_count}}
			<div class="row dash-section">
				{{> alerts}}
			</div>
			{{/if}}

			<!-- {{#if has_auctions}}
			<div class="row dash-section">
				{{> activeAuctions}}
			</div>
			{{/if}} -->

			{{#if inventory_count}}
			<div class="row dash-section">
				{{> inventory}}
			</div>
			{{else}}
			<div class="row dash-section">
				<h3>You have no items yet. Click <a href="/loot">here</a> to visit the store!</h3>
			</div>
			{{/if}}

			{{/with}}
		</div>
	</div>
</template>