.template-dashboard .dash-section {
	border-top: 2px solid black;
	padding: 48px 0px;
}

.template-dashboard .dash-section:first-child {
	border: none;
	padding-top: 0px;
}

.template-dashboard .xp-bar {
	background-color: #777777;
	width: 100%;
	height: 24px;
	padding: 0px;
	margin: 0px;
	position: absolute;
}

.template-dashboard .xp-level {
	background-color: #FF33CC;
	height: 24px;
	padding: 0px;
	position: absolute;
}

.template-dashboard .xp-level.max {
	background-color: #E8BF6C;
}

.template-dashboard .level-text {
	color: white;
	padding-left: 12px;
	font-weight: bold;
	position: absolute;
	margin-top: 3px;
}

.template-dashboard .goal-text {
	color: white;
	padding-left: 12px;
	position: absolute;
	right: 0px;
	padding-right: 12px;
	margin-top: 3px;
}

.template-dashboard .highlight {
	font-weight: bold;
}

.template-dashboard .player-info {
	margin-top: 40px;
}

.template-dashboard .player-info p {
	font-size: 1.2em;
}

.template-dashboard #edit-fee {
	font-size: 1em;
}

.template-dashboard #edit-fee:hover {
	color: black;
	opacity: 1em;
	cursor: pointer;
}

.template-dashboard .ticket-info {
	margin-top: 24px;
}

.template-dashboard .ticket-button {
	font-size: 3em;
	opacity: .5;
}

.template-dashboard .npcs-met {
	color: #777777;
}

.template-dashboard .npcs-met:hover {
	opacity: 1;
	color: #777777;
}

.template-dashboard .af-color:hover {
	opacity: 1;
	color: #FF33CC;
}

.template-adminTools .price-selector {
	width: 600px;
}

.template-dashboard .alert-area {
	margin-top: 20px;
}

.template-dashboard .gamertag {
	font-size: 3rem;
}

.template-dashboard p.player-data {
	margin-bottom: 0;
}

.template-dashboard .dash-icon {
	cursor: pointer;
	font-size: 2rem;
}

/* ---AUCTION DATA --- */
.template-dashboard #toggle-details {
	background-color: black;
	color: white;
	border-radius: 0;
	border: none; 
	height: 30px;
	width: 120px;
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.template-dashboard #refresh-auctions {
	font-size: 2rem;
	text-align: right;
	margin-right: 0;
	cursor: pointer;
	float: right;
}

.template-dashboard #vintage-mode {
	font-size: 1.5rem;
	cursor: pointer;
	background-color: #dbbca4;
	width: 120px;
	height: 30px;
	margin-top: 40px;
}