<template name="itemSet"> 
	<div class="template-itemSet">
		<div class="row itemSet-management no-padding">
			<textarea id="search-area" placeholder="search for items by artist name or title, or filter by tags using hashtags (e.g. #primary)"></textarea>
			<h3 class="view-buttons"><i id="toggle-filters" class="fa fa-filter"></i></h3>
			<div class="row all-filters">
				<div class="sort-area col-xs-12 col-md-2">
					<p class="filter-title">sort:</p>
					<select id="sort-selector">
						<option value="values.actual">value</option>
						<option value="artwork_data.title">title</option>
						<option value="artwork_data.date">date</option>
						<option value="artwork_data.artist">artist</option>
						<option value="artwork_data.rarity_value">rarity</option>
						<option value="condition">condition</option>
						<option value="level">level</option>
					</select>
					<select id="order-selector">
						<option value="-1">descending</option>
						<option value="1">ascending</option>
					</select>
					<!-- <button id="save-filter" type="button" class="btn btn-default">save filter</button> -->
				</div>

				<div class="filter-area col-xs-12 col-md-10">
					<div class="row">				
						<div class="col-xs-2">
							{{#each flag_left}}
							<div class="flag-container">
								<p class="flag-name">{{this}}</p>
								<p class="flag-value {{flag_value this}}" data-flag_name="{{this}}" data-flag_value="{{flag_value this}}">{{flag_value this}}</p>
							</div>
							{{/each}}
						</div>
						<div class="col-xs-2">
							{{#each flag_right}}
							<div class="flag-container">
								<p class="flag-name">{{this}}</p>
								<p class="flag-value {{flag_value this}}" data-flag_name="{{this}}" data-flag_value="{{flag_value this}}">{{flag_value this}}</p>
							</div>
							{{/each}}
						</div>
						<div class="col-xs-2">
							<p class="filter-title">status:</p>
							<div class="filter-checkboxes">
								{{#each statuses}}
								<label><input class="status-select" type="checkbox" id="card-status-checkbox" value="{{this}}" checked>{{this}}</label><br>
								{{/each}}
							</div>
						</div>

						<div class="col-xs-2">
							<p class="filter-title">rarity:</p>
							<div class="filter-checkboxes">
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="common" checked>common</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="uncommon" checked>uncommon</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="rare" checked>rare</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="legendary" checked>legendary</label><br>
								<label><input class="rarity-select" type="checkbox" id="card-rarity-checkbox" value="masterpiece" checked>masterpiece</label>
							</div>
						</div>

						<div class="col-xs-2">
							<p class="filter-title">attributes:</p>
							<select id="attribute-filter">
		            			<option value="contains one">has at least one</option>
		            			<option value="contains two">has at least two</option>
		            			<option value="contains three">has at least three</option>
		            			<option value="contains four">has at least four</option>
		            		</select>
							<div class="filter-checkboxes">
								{{#each attribute}}
								<label><input class="attribute-select" type="checkbox" id="attribute-checkbox" value="{{_id}}">{{npc_name}}</label><br>
								{{/each}}
							</div>
						</div>

						<div class="col-xs-2">
							<p class="filter-title">special attributes:</p>
							<select id="locked-filter">
		            			<option value="contains one">has at least one</option>
		            			<option value="contains two">has at least two</option>
		            			<option value="contains three">has three</option>
		            		</select>
							<div class="filter-checkboxes">
								{{#each attribute}}
								<label><input class="special-attribute-select" type="checkbox" id="special-attribute-checkbox" value="{{_id}}">{{npc_name}}</label><br>
								{{/each}}
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-9 page-buttons">
				<div class="row button-wrapper">
					<i id="inventory-page-left" class="page-button fa fa-caret-left {{#if isEqual current_page '1'}}disabled{{else}}enabled{{/if}}"></i>	
					<span class="page-indicators">page {{current_page}}/{{total_pages}}</span>
					<i id="inventory-page-right" class="page-button fa fa-caret-right {{#if isEqual current_page total_pages}}disabled{{else}}enabled{{/if}}"></i>	
				</div>
			</div>
			<div class="col-xs-3 page-buttons items_per_page">
				<span class="filter-title">items per page: </span>
				<select id="page-count-select">
        			<option value="10">10</option>
        			<option value="20">20</option>
        			<option value="50">50</option>
        		</select>
			</div>
		</div>

		{{setStatuses statuses}}

		<div class="row item-array-area">
		</div>
	</div>
</template>