.template-itemSet #search-area {
	resize: none;
	width: 100%;
	height: 4rem;
	font-size: 2rem;
	margin-bottom: 12px;
	padding: .4rem 2rem;
}

.template-itemSet .filter-checkboxes label {
	font-weight: normal !important;
	padding: 0px 2px;
	margin: 0px;
}

.template-itemSet .filter-checkboxes input {
	padding: 0px 2px;
	margin-right: 8px;
}

.template-itemSet .all-filters {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 12px 0px;
	display: none;
}

.template-itemSet .filter-title {
	margin-bottom: 2px;
	color: black;
}
.template-itemSet .page-buttons {
	height: 50px;
	text-align: center;
	min-height: 4em;
	display: flex;
	align-items:center;
}
.template-itemSet .page-button {
	font-size: 3rem;
	margin: 20px 80px 20px 80px;
	vertical-align: middle;
}

.template-itemSet .page-button.disabled {
	opacity: 0;
}

.template-itemSet .page-button.enabled:hover {
	color: black;
	cursor: pointer;
}

.template-itemSet .page-indicators {
	font-weight: bold;
	color: black;
	vertical-align: middle;
	font-size: 2rem;
}

.template-itemSet .button-wrapper {
	flex: auto;
	align-items:center;
}

.template-itemSet .item-container {
	display: inline-block;
}

.template-itemSet .item-container:hover > .template-itemActions .button-area {
	opacity: 1;
}

.template-itemSet #toggle-filters {
	cursor: pointer;
	opacity: .5;
}

.template-itemSet #toggle-filters:hover {
	opacity: 1;
}

.template-itemSet .itemSet-management {
	margin-top: 24px;
}