<template name="quickSellModal">
	<div class="template-quickSellModal">
	    <div style="z-index:9999999999999999;" class="modal fade">
	        <div class="modal-dialog">
	            <div class="modal-content container">
	            	{{#with sellData}}
	                <h4>Sell <span class="highlight af-color">{{title}}</span> by <span class="highlight af-color">{{artist}}</span> for <span class="highlight">${{getItemValue item_id "sell"}}?</span></h4>
			        {{/with}}
	            	{{#with imageInfo itemId}}
					<img class="image-thumb" src="{{getImageURL filename}}" width="{{image_width}}" height="{{image_height}}"/>
					<div class="row">
				        <button id="sell-artwork" type="button" class="btn btn-default">sell</button>
				        <button id="close-button" type="button" class="btn btn-default">close</button>
				    </div>
			        {{/with}}
	            </div>
	        </div>
	    </div>
	</div>
</template>