<template name="tagItemModal">
	<div class="template-tagItemModal col-xs-12">
		<div class="message-container">
			{{#with fetchServerData "getItemData" item_id}}
			<div class="modal-message-area">
				<p class="modal-message">Enter tags for <span class="af-color work-title">{{artwork_data.title}}</span> by <span class="af-color">{{artwork_data.artist}}</span></p>
				<p>(separate tags with a comma, e.g. "primary, to auction, foils")</p>
				<textarea id="tag-entry" data-item_id="{{_id}}">{{tags}}</textarea>
			</div>
			<div class="modal-button-area">
				<button class="modal-button ok-button" data-item_id="{{_id}}">ok</button>
				<button class="modal-button close-button">close</button>
			</div>
			{{/with}}
		</div>
	</div>
</template>