<template name="adminTools">
	{{#if userIsAdmin}}
		<div class="template-adminTools">
			<div class="container">
				{{#with adminData}}
					{{> settable_field set_id="set_level" current=player_level button_id="level-set" label="player level"}}
					{{> settable_field set_id="set_xp" current=player_xp id="xp-set" label="xp"}}
					{{> settable_field set_id="set_daily_drop" current=daily_drop_count button_id="update-daily-drop-count" label="daily drop count"}}
					{{> settable_field set_id="set_crate_drop" current=crate_drop_count button_id="update-crate-drop-count" label="crate count"}}
					{{> settable_field set_id="set_bank_balance" current=bank_balance button_id="set-bank-balance" label="bank balance"}}
					{{> adminButton button_id="reset-daily" button_label="reset daily drop"}}
					{{> adminButton button_id="clear-unclaimed" button_label="clear unclaimed"}}
					{{> adminButton button_id="generate-for-sale" button_label="generate for-sale"}}
					{{> adminButton button_id="clear-for-sale" button_label="clear for-sale"}}

					<div class="row">
						<button id="generate-npc" class="set-button">generate npc</button>
						<select class="npc-selector">
							{{#each npcs}}
							<option value="{{_id}}">{{description}}</option>
							{{/each}}
						</select>
					</div>
				{{/with}}
			</div>
		</div>
	{{/if}}
</template>

<template name="settable_field">
	<div class="row">
		<div data-set_id="{{set_id}}" class="set-container col-xs-6 no-padding">
			<div class="row">
				<div class="col-xs-4">
					<p>{{label}}: </p>
				</div>
				<div class="col-xs-8">
					<!-- <textarea class="set-field" placeholder="enter value"></textarea> -->
					<p class="text-field">{{current}}</p>
				</div>
				
			</div>
		</div>
	</div>
</template>

<template name="adminButton">
	<div class="row">
		<button id="{{button_id}}" class="set-button">{{button_label}}</button>
	</div>
</template>