.template-adminTools button {
	width: 200px;
	height: 32px;
	font-size: 1.5rem;
	margin: 8px 0px;
}

.template-adminTools textarea {
	width: 100%;
	height: 32px;
	resize: none;
	font-size: 1.5rem;
}

.template-adminTools .item-creation {
	margin-top: 48px;
}

.template-adminTools #alert-users-text {
	width: 100%;
	height: 64px;
}

.template-adminTools .attribute-toggle {
	cursor: pointer;
}

.template-adminTools .attribute-toggle:hover {
	background-color: #EEEEEE;
}

.template-adminTools .legendary-container {
	border: 1px solid black;
	margin: 12px 0px;
	padding: 12px 24px;
}

.template-adminTools .tools-section {
	border-top: 1px solid black;
}

.template-adminTools .artwork-selector {
	width: 600px;
}

.template-adminTools #artwork-mod-container {
	margin: 24px 0px;
}

.template-adminTools .artwork-mod-fields {
	margin: 12px 0px;
}

.template-adminTools .text-field:hover {
	background-color: #EEEEEE;
	cursor: pointer;
}

.template-adminTools .set-field {
	width: 100%;
}

.template-adminTools #artwork-mod-table > tr > td, 
.template-adminTools #artist-mod-table > tr > td, 
.template-adminTools #attribute-mod-table > tr > td,
.template-adminTools #unique-attribute-mod-table > tr > td {
	width: 50%;
	padding: 4px;
}

.template-adminTools #artwork-mod-table input, 
.template-adminTools #artist-mod-table input, 
.template-adminTools #attribute-mod-table input,
.template-adminTools #unique-attribute-mod-table input {
	width: 100%;
}

.template-adminTools .artwork-selector > option, 
.template-adminTools .artist-mod-selector > option, 
.template-adminTools .attribute-mod-selector > option,
.template-adminTools .unique-attribute-mod-selector > option {
	width: 800px;
	text-overflow: ellipsis;
	white-space: pre-wrap;
	overflow: hidden;
	-webkit-appearance: none;
}

.template-adminTools #unique-attribute-mod-description {
	height: 64px;
}