.template-adminTools button {
	width: 200px;
	height: 32px;
	font-size: 1.5rem;
	margin: 8px 0px;
}

.template-adminTools textarea {
	width: 100%;
	height: 32px;
	resize: none;
	font-size: 1.5rem;
}

.template-adminTools .item-creation {
	margin-top: 48px;
}

.template-adminTools #alert-users-text {
	width: 100%;
	height: 64px;
}

.template-adminTools .attribute-toggle {
	cursor: pointer;
}

.template-adminTools .attribute-toggle:hover {
	background-color: #EEEEEE;
}

.template-adminTools .legendary-container {
	border: 1px solid black;
	margin: 12px 0px;
	padding: 12px 24px;
}

.template-adminTools .tools-section {
	border-top: 1px solid black;
}

.template-adminTools .artwork-selector {
	width: 600px;
}

.template-adminTools #artwork-mod-container {
	margin: 24px 0px;
}

.template-adminTools .artwork-mod-fields {
	margin: 12px 0px;
}

.template-adminTools .text-field:hover {
	background-color: #EEEEEE;
	cursor: pointer;
}

.template-adminTools .set-field {
	width: 100%;
}