<template name="adminTools">
	{{#if userIsAdmin}}
		{{#with adminData}}
		<div class="template-adminTools">
			<div class="container">
				<h1 class="af-color">Admin Tools</h1>
				<div class="row tools-section">
					<h4 class="af-color">Drop Data</h4>
					<canvas id="drop-chart" width="1000px" height="600px">{{updateChart}}</canvas>
					<table id="rarity-map-table">
					{{#each artwork_rarities}}
						<tr class="rarity-row {{this}}" data-rarity="{{this}}">
							{{#each increment this}}
							<td>
								<input class="rarity-map-value-input" data-level="{{level}}" value="{{value}}">
							</td>
							{{/each}}
						</tr>
					{{/each}}
					</table>
					<p><button id="save-rarity-map">update</button></p>
					{{#with test_results}}
					<p><span class="common">common</span>: {{common}} ({{calcPercentage common}})</p>
					<p><span class="uncommon">uncommon</span>: {{uncommon}} ({{calcPercentage uncommon}})</p>
					<p><span class="rare">rare</span>: {{rare}} ({{calcPercentage rare}})</p>
					<p><span class="legendary">legendary</span>: {{legendary}} ({{calcPercentage legendary}})</p>
					<p><span class="masterpiece">masterpiece</span>: {{masterpiece}} ({{calcPercentage masterpiece}})</p>
					{{/with}}
					<p><input class="test-map-level" value="50"></p>
					<p><button id="test-rarity-map">test</button></p>
					<p>{{current_map}}</p>
				</div>

				<div class="row tools-section">
					<h4 class="af-color">Profile Modifier</h4>
					<div class="col-xs-12">
						{{> settable_field set_id="set_level" current=player_level button_id="level-set" label="player level"}}
						{{> settable_field set_id="set_xp" current=player_xp id="xp-set" label="xp"}}
						{{> settable_field set_id="set_daily_drop" current=daily_drop_count button_id="update-daily-drop-count" label="daily drop count"}}
						{{> settable_field set_id="set_crate_drop" current=crate_drop_count button_id="update-crate-drop-count" label="crate count"}}
						{{> settable_field set_id="set_bank_balance" current=bank_balance button_id="set-bank-balance" label="bank balance"}}
						{{> settable_field set_id="set_seasonal" current=seasonal_ids button_id="set-seasonal" label="seasonal items"}}
						{{> adminButton button_id="new-seasonals" button_label="new seasonals"}}
						{{> adminButton button_id="reset-daily" button_label="reset daily drop"}}
						{{> adminButton button_id="generate-for-sale" button_label="generate for-sale"}}
						{{> adminButton button_id="level-up" button_label="level up"}}
						{{> adminButton button_id="give-quest-items" button_label="give quest items"}}
					</div>
				</div>

				<div class="row tools-section">
					<h4 class="af-color">Generate NPC</h4>
					<button id="generate-npc" class="set-button">generate npc</button>
					<select class="npc-selector">
						{{#each npc}}
						<option value="{{_id}}">{{npc_name}}</option>
						{{/each}}
					</select>
				</div>

				<div class="row attribute-mod tools-section">
					<div class="row">
						<h4 class="af-color">Modify Attribute</h4>
						<div data-artist_id="{{selected_attribute._id}}" id="attribute-mod-container">
							<div class="attribute-mod-info col-xs-6">
								<select class="attribute-mod-selector">
									<option value="unselected">select attribute</option>
									<option value="new attribute">-- create new attribute --</option>
									{{#each attributes}}
										<option value="{{_id}}">{{title}}</option>
									{{/each}}
								</select>
								<div class="attribute-mod-fields">
									<table id="attribute-mod-table">
										<tr>
											<td>id:</td>
											<td>{{selected_attribute._id}}</td>
										</tr>
										<tr>
											<td>icon:</td>
											<td><i class="af-color fa {{selected_attribute.icon}}"></i></td>
										</tr>
										<tr>
											<td>title: </td>
											<td><input id="attribute-mod-title" value="{{selected_attribute.title}}"></td>
										</tr>
										<tr>
											<td>description: </td>
											<td><input id="attribute-mod-description" value="{{selected_attribute.description}}"></td>
										</tr>
										<tr>
											<td>icon: </td>
											<td><input id="attribute-mod-icon" value="{{selected_attribute.icon}}"></td>
										</tr>
										<tr>
											<td>npc name: </td>
											<td><input id="attribute-mod-npc-name" value="{{selected_attribute.npc_name}}"></td>
										</tr>
										<tr>
											<td>active:</td>
											<td>
												<select class="attribute-active-selector">
													{{#if selected_attribute.active}}
														<option value="true">true</option>
														<option value="false">false</option>
													{{else}}
														<option value="false">false</option>
														<option value="true">true</option>
													{{/if}}
												</select>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<p><button id="update-attribute">update attribute</button></p>
				</div>

				<div class="row unique-attribute-mod tools-section">
					<div class="row">
						<h4 class="af-color">Modify Unique Attribute</h4>
						<div data-artist_id="{{selected_unique_attribute._id}}" id="unique-attribute-mod-container">
							<div class="unique-attribute-mod-info col-xs-6">
								<select class="unique-attribute-mod-selector">
									<option value="unselected">select unique attribute</option>
									<option value="new unique attribute">-- create new unique attribute --</option>
									{{#each unique_attributes}}
										<option value="{{_id}}">{{title}}</option>
									{{/each}}
								</select>
								<div class="unique-attribute-mod-fields">
									<table id="unique-attribute-mod-table">
										<tr>
											<td>id:</td>
											<td>{{selected_unique_attribute._id}}</td>
										</tr>
										<tr>
											<td>title: </td>
											<td><input id="unique-attribute-mod-title" value="{{selected_unique_attribute.title}}"></td>
										</tr>
										<tr>
											<td>description: </td>
											<td id="unique-description"><textarea id="unique-attribute-mod-description" value="{{selected_unique_attribute.description}}"></textarea></td>
										</tr>
										<tr>
											<td>flavor text: </td>
											<td><input id="unique-attribute-mod-flavor-text" value="{{selected_unique_attribute.flavor_text}}"></td>
										</tr>
										<tr>
											<td>code: </td>
											<td><input id="unique-attribute-mod-code" value="{{selected_unique_attribute.code}}"></td>
										</tr>
										<tr>
											<td>active:</td>
											<td>
												<select class="unique-attribute-active-selector">
													{{#if selected_unique_attribute.active}}
														<option value="true">true</option>
														<option value="false">false</option>
													{{else}}
														<option value="false">false</option>
														<option value="true">true</option>
													{{/if}}
												</select>
											</td>
										</tr>
										<tr>
											<td>linked attributes:</td>
											<td>
												{{#each attributeLinkSelector selected_unique_attribute.linked_attributes}}
													<select class="unique-link-attribute-selector">
														<option value="{{this}}">{{attributeLinkDescription this}}</option>
														{{#each attributeLinkChoice this}}
															<option value="{{_id}}">{{description}}</option>
														{{/each}}
													</select>
												{{/each}}
												<!-- <select class="unique-link-attribute-selector" id="unique-link-attribute-selector-one">
													<option value="unselected"> select </option>
													{{#each uniqueLinkOneChoice selected_unique_attribute.linked_attributes}}
														<option value="{{_id}}">{{description}}</option>
													{{/each}}
												</select>
												<select class="unique-link-attribute-selector" id="unique-link-attribute-selector-two">
													<option value="unselected"> select </option>
													{{#each uniqueLinkTwoChoice selected_unique_attribute.linked_attributes}}
														<option value="{{_id}}">{{description}}</option>
													{{/each}}
												</select> -->
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<p><button id="update-unique-attribute">update unique</button></p>
					{{#each unique_legendary}}
						<p><span class="work-title">{{title}}</span> by {{artist}}</p>
						<p><button id="generate-unique" data-artwork_id="{{_id}}">generate artwork</button></p>
					{{/each}}
				</div>

				<div class="row artist-mod tools-section">
					<div class="row">
						<h4 class="af-color">Modify Artist</h4>
						<div data-artist_id="{{selected_artist._id}}" id="artist-mod-container">
							<div class="artist-mod-info col-xs-6">
								<select class="artist-mod-selector">
									<option value="unselected">select artist</option>
									<option value="new artist">-- create new artist --</option>
									{{#each artists}}
										<option value="{{_id}}">{{artist_name}}</option>
									{{/each}}
								</select>
								<div class="artist-mod-fields">
									<table id="artist-mod-table">
										<tr>
											<td>id:</td>
											<td>{{selected_artist._id}}</td>
										</tr>
										<tr>
											<td>name: </td>
											<td><input id="artist-mod-name" value="{{selected_artist.artist_name}}"></td>
										</tr>
										<tr>
											<td>date of birth: </td>
											<td><input id="artist-mod-date-of-birth" value="{{selected_artist.date_of_birth}}"></td>
										</tr>
										<tr>
											<td>date of death: </td>
											<td><input id="artist-mod-date-of-death" value="{{selected_artist.date_of_death}}"></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<p><button id="update-artist">update artist</button></p>
				</div>

				<div class="row artwork-mod tools-section">
					<div class="row">
						<h4 class="af-color">Modify Artwork</h4>
						<div class="row">
							<div data-artwork_id="{{selected_artwork._id}}" id="artwork-mod-container">	
								<div class="artwork-mod-info col-xs-6">	
									<select class="artwork-selector">
										<option value="unselected">select artwork</option>
										<option value="new artwork">-- create new artwork --</option>
										{{#each artwork}}
											<option value="{{_id}}">{{artist}} - {{title}}</option>
										{{/each}}
									</select>
									<div class="artwork-mod-fields">
										<table id="artwork-mod-table">
											<tr>
												<td>id:</td>
												<td>{{selected_artwork._id}}</td>
											</tr>
											<tr>
												<td>title: </td>
												<td><input id="artwork-mod-title" value="{{selected_artwork.title}}"></td>
											</tr>
											<tr>
												<td>date: </td>
												<td><input id="artwork-mod-date" value="{{selected_artwork.date}}"></td>
											</tr>
											<tr>
												<td>genre: </td>
												<td><input id="artwork-mod-genre" value="{{selected_artwork.genre}}"></td>
											</tr>
											<tr>
												<td>medium: </td>
												<td><input id="artwork-mod-medium" value="{{selected_artwork.medium}}"></td>
											</tr>
											<tr>
												<td>value scale: </td>
												<td><input id="artwork-mod-value-scale" value="{{selected_artwork.value_scale}}"></td>
											</tr>
											<tr>
												<td>height: </td>
												<td><input id="artwork-mod-height" value="{{selected_artwork.height}}"></td>
											</tr>
											<tr>
												<td>width: </td>
												<td><input id="artwork-mod-width" value="{{selected_artwork.width}}"></td>
											</tr>
											<tr>
												<td>filename: </td>
												<td><input id="artwork-mod-filename" value="{{selected_artwork.filename}}"></td>
											</tr>
											<tr>
												<td>active:</td>
												<td>
													<select class="active-selector">
														{{#if selected_artwork.active}}
															<option value="true">true</option>
															<option value="false">false</option>
														{{else}}
															<option value="false">false</option>
															<option value="true">true</option>
														{{/if}}
													</select>
												</td>
											</tr>
											<tr>
												<td>nsfw:</td>
												<td>
													<select class="nsfw-selector">
														{{#if selected_artwork.nsfw}}
															<option value="true">true</option>
															<option value="false">false</option>
														{{else}}
															<option value="false">false</option>
															<option value="true">true</option>
														{{/if}}
													</select>
												</td>
											</tr>
											<tr>
												<td>rarity:</td>
												<td>
													<select class="rarity-selector">
														<option class="{{selected_artwork.rarity}}" value="{{selected_artwork.rarity}}">{{selected_artwork.rarity}}</option>
														{{#each rarity_choice selected_artwork.rarity}}
															<option class="{{this}}" value="{{this}}">{{this}}</option>
														{{/each}}
													</select>
												</td>
											</tr>
											<tr>
												<td>artist:</td>
												<td>
													<select class="artwork-mod-artist-selector"></select>
												</td>
											</tr>
										</table>
									</div>
								</div>
								<div class="artwork-mod-image col-xs-6">
									{{#with imageSize selected_artwork.width selected_artwork.height}}
									<img src="{{getImageURL selected_artwork.filename}}" width="{{image_width}}px" height="{{image_height}}px" />
									{{/with}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4 special-attribute-section"></div>
							<div class="col-xs-4">
								{{#each artwork_unique_attribute}}
									<p>{{this}}</p>
								{{/each}}
							</div>
						</div>
					</div>
					<div class="row">
						{{#each generate_artwork_error}}
						<p class="red-text">{{this}}</p>
						{{/each}}
					</div>
					<p><button id="update-artwork">update artwork</button></p>
					<p><button id="generate-random-item">generate item</button></p>
				</div>

				<div class="row tools-section item-creation">
					<h4 class="af-color">Generate Item</h4>
					<select class="user-selector">
						<option value="{{current_id}}">{{current_user}}</option>
						{{#each user}}
							<option value="{{_id}}">{{profile.screen_name}}</option>
						{{/each}}
					</select>
					<p>artwork id: <input class="item-create-field" id="generate-artwork-id"></p>
					<p>condition: <input class="item-create-field" id="condition"></p>
					<p>
						<div class="row no-margin no-padding">
							<div class= "col-xs-1 type-selectors" id="foil-select">
								<p class="af-color">Foil</p>
								<label><input class="type-select" type="radio" name="foil_selector" value="random" checked>random</label><br>
								<label><input class="type-select" type="radio" name="foil_selector" value="true">true</label><br>
								<label><input class="type-select" type="radio" name="foil_selector" value="false">false</label><br>
							</div>
							<div class= "col-xs-1 type-selectors" id="unlocked-select">
								<p class="af-color">Unlocked</p>
								<label><input class="type-select" type="radio" name="unlocked_selector" value="random" checked>random</label><br>
								<label><input class="type-select" type="radio" name="unlocked_selector" value="true">true</label><br>
								<label><input class="type-select" type="radio" name="unlocked_selector" value="false">false</label><br>
							</div>
							<div class= "col-xs-1 type-selectors" id="seasonal-select">
								<p class="af-color">Seasonal</p>
								<label><input class="type-select" type="radio" name="seasonal_selector" value="season" checked>season</label><br>
								<label><input class="type-select" type="radio" name="seasonal_selector" value="true">true</label><br>
								<label><input class="type-select" type="radio" name="seasonal_selector" value="false">false</label><br>
							</div>
							<div class= "col-xs-1 type-selectors" id="original-select">
								<p class="af-color">Original</p>
								<label><input class="type-select" type="radio" name="original_selector" value="false" checked>false</label><br>
								<label><input class="type-select" type="radio" name="original_selector" value="true">true</label><br>
							</div>
							<div class= "col-xs-1 type-selectors" id="vintage-select">
								<p class="af-color">Vintage</p>
								<label><input class="type-select" type="radio" name="vintage_selector" value="false" checked>false</label><br>
								<label><input class="type-select" type="radio" name="vintage_selector" value="true">true</label><br>
							</div>
							<div class= "col-xs-1 type-selectors" id="lottery-select">
								<p class="af-color">Lottery</p>
								<label><input class="type-select" type="radio" name="lottery_selector" value="0" checked>0</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="1">1</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="2">2</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="3">3</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="4">4</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="5">5</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="6">6</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="7">7</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="8">8</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="9">9</label><br>
								<label><input class="type-select" type="radio" name="lottery_selector" value="10">10</label><br>
							</div>
							<div class= "col-xs-1 type-selectors" id="level-select">
								<p class="af-color">Level</p>
								<label><input class="type-select" type="radio" name="level_selector" value="1" checked>1</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="2">2</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="3">3</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="4">4</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="5">5</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="6">6</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="7">7</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="8">8</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="9">9</label><br>
								<label><input class="type-select" type="radio" name="level_selector" value="10">10</label><br>
							</div>
							<div class= "col-xs-1 type-selectors" id="misprint-select">
								<p class="af-color">Misprint</p>
								<label><input class="type-select" type="radio" name="misprint_selector" value="random" checked>random</label><br>
								<label><input class="type-select" type="radio" name="misprint_selector" value="true">true</label><br>
								<label><input class="type-select" type="radio" name="misprint_selector" value="false">false</label><br>
							</div>
						</div>
					</p>
					<p><button id="generate-item">generate item</button></p>
				</div>
				<div class="row tools-section alert-users-area">
					<h4 class="af-color">Alert All Users</h4>
					<textarea class="admin-textarea" id="alert-users-text"></textarea>
					<p><button id="alert-users">submit</button></p>
				</div>

				<div class="row tools-section attributes-area">
					<div class="col-xs-4">
						<h4 class="af-color">Active Attributes</h4>
						{{#each attribute}}
						<p class="attribute-toggle" data-attribute_id="{{_id}}">{{#if active}}<i class="green-text fa fa-check-square-o"></i>{{else}}<i class="fa fa-square-o"></i>{{/if}} {{title}}</p>
						{{/each}}
					</div>
				</div>

				<div class="row tools-section misprint-area">
					<p><button id="print-misprints">print misprints</button></p>
				</div>

			</div>
		</div>
		{{/with}}
	{{/if}}
</template>

<template name="settable_field">
	<div class="row">
		<div data-set_id="{{set_id}}" class="set-container col-xs-6 no-padding">
			<div class="row">
				<div class="col-xs-4">
					<p>{{label}}: </p>
				</div>
				<div class="col-xs-8">
					<!-- <p id="{{id}}" class="text-field">{{current}}</p> -->
					<input id="{{id}}" class="set-field" value="{{current}}">
				</div>		
			</div>
		</div>
	</div>
</template>

<template name="adminButton">
	<div class="row">
		<button id="{{button_id}}" class="set-button">{{button_label}}</button>
	</div>
</template>
