<template name="playerInfo">
	<div class="template-playerInfo">
		{{#with user_object}}
		<div class="row">
			<div class="col-xs-6 no-padding">
				{{#if max_level}}
				<div class="row no-padding no-margin">
					<div class="xp-bar">
						{{#with xpData}}
						<div class="xp-level max" style= "width : {{xp_completion}}%"></div>
						<div class="level-text">
							<p>lottery tickets: {{commaSeparatedValue ../profile.lottery_tickets}}</p>
						</div>
						<div class="goal-text">
							<p class="highlight">{{commaSeparatedValue ../profile.xp}} / {{xp_goal}}</p>
						</div>
						{{/with}}
					</div>
				</div>
				{{else}}
				<div class="xp-bar">
					{{#with xpData}}
					<div class="xp-level" style= "width : {{xp_completion}}%"></div>
					<div class="level-text">
						<p>level {{../profile.level}}</p>
					</div>
					<div class="goal-text">
						<p class="highlight">{{commaSeparatedValue ../profile.xp}} / {{xp_goal}}</p>
					</div>
					{{/with}}
				</div>
				{{/if}}
			</div>
		</div>
		<div class="row player-info">
			<div class="col-xs-6 no-margin no-padding">
				<table class="player-data-table">
					<tr>
						<td class="player-data">bank balance:</td>
						<td class="highlight af-color">{{displayAsMoneyValue profile.bank_balance}}</td>
					</tr>
					{{#each knowledge}}
					<tr>
						<td class="player-data"><span style="color:{{getKnowledgeColorString type}}">{{name}}</span>:</td>
						<td>
							<div class="row">
								<div class="col-xs-2 no-margin no-padding craft-buttons">
									<div class="row no-margin no-padding">
										<div class="col-xs-6 no-margin no-padding">
											{{#if can_increase_craft}}<i class="craft-up fa fa-caret-square-o-up" data-knowledge_type="{{type}}"></i>{{/if}}
										</div>
										<div class="col-xs-6 no-margin no-padding">
											{{#if can_decrease_craft}}<i class="craft-down fa fa-caret-square-o-down" data-knowledge_type="{{type}}"></i>{{/if}}
										</div>
									</div>
								</div>
								<div class="col-xs-8 no-margin no-padding">
									<span class="highlight" style="color:{{getKnowledgeColorString type}}">{{commaSeparatedValue amount}}</span> {{#if crafting}}-> <span style="color:red">{{commaSeparatedValue revised_amount}}</span>{{/if}} 
								</div>
								
							</div>
						</td>
					</tr>
					{{/each}}
					<tr>
					{{#if crafting_enabled}}
						<td></td>
						<td>
							<button id="submit-conversion" type="button" class="btn btn-default">accept</button>
						</td>
					{{/if}}
					</tr>
					<tr></tr>
					<tr>
						<td class="player-data">lottery tickets:</td>
						<td class="highlight gold-text">{{profile.lottery_tickets}}</td>	
					</tr>
					<tr>
						<td class="player-data">lottery eligible:</td>
						<td style="cursor: pointer; font-size: 2rem;">
						{{#if profile.settings.lottery_eligible}}
							<i class="fa fa-check-square-o green-text lottery-eligible-true"></i>
						{{else}}
							<i class="fa fa-square-o lottery-eligible-false"></i>
						{{/if}}
						</td>
					</tr>
					<tr>
						<td class="player-data">collection value:</td>
						<td class="highlight af-color">${{collection_value}}</td>	
					</tr>
					{{#with gallery_values}}			
					<tr>
						<td class="player-data">current exhibition value:</td>
						<td class="highlight af-color">{{displayAsMoneyValue value}}</td>
					</tr>	
					<tr>
						<td class="player-data">display earnings per hour:</td>
						<td class="highlight af-color">{{displayAsMoneyValue earnings_per_hour}}</td>
					</tr>
					<tr>
						<td class="player-data">xp per hour:</td>
						<td class="highlight af-color">{{commaSeparatedValue xp_per_hour}}</td>
					</tr>	
					{{/with}}
					<tr></tr>	
					<tr>
						<td class="player-data">perm. collection:</td>
						<td><span class="highlight af-color">{{permanent_count}}</span> ({{profile.pc_cap}} max)</td>			
					</tr>
					<tr>
						<td class="player-data">items exhibited:</td>
						<td><span class="highlight af-color">{{display_count}}</span> ({{profile.display_cap}} max)</td>	
					</tr>				
					<tr>
						<td class="player-data">paintings owned:</td>
						<td class="highlight af-color">{{inventory_count}}</td>
					</tr>
					<tr>
						<td class="player-data">inventory space available:</td>
						<td class="highlight af-color">{{slots_available}}</td>
					</tr>	
					<tr>
						<td class="player-data">originals owned:</td>
						<td class="highlight purple-text">{{original_count}}</td>
					</tr>	
					<tr>
						<td class="player-data">vintage items owned:</td>
						<td class="highlight vintage-text">{{vintage_count}}</td>
					</tr>	
					<tr></tr>								
					<tr>
						<td class="player-data">completed quests:</td>
						<td class="highlight af-color">{{commaSeparatedValue profile.completed_quests}}</td>
					</tr>	
					{{#each npc_quality}}
					<tr>
						<td class="player-data"><span class="highlight {{this}}">{{this}}</span> visitors met:</td>
						<td><span class="highlight af-color">{{npcs_met this}}</span> ({{npc_max_meetings this}} max)</td>
					</tr>
					{{/each}}
					<tr></tr>
					<tr>
						<td class="player-data">gallery ticket limit:</td>
						<td class="highlight af-color">{{profile.ticket_cap}}</td>
					</tr>
					<tr>	
						<td class="player-data">gallery entry fee:</td>
						<td>
							<select class="price-selector">
								<option selected="selected" value="{{entry_fee}}">{{profile.entry_fee}}</option>
								{{#each unselected profile.entry_fee}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						</td>
					</tr>
				</table>
	    	</div>
	    	<div class="col-xs-6 no-margin no-padding alert-area">
				{{> alerts}}
			</div>
		</div>
		{{#if max_level}}
		<div class="row"><button id="vintage-mode" class="vintage-button">vintage <i class="fa fa-backward"></i></button></div>	
		{{/if}}
		<div class="row feedback">
			<p>Questions or comments? Check out <a target="_blank" class="highlight af-color" href="https://www.reddit.com/r/Artfunkel/">r/artfunkel</a> and leave feedback or communicate with the developers.</p>
		</div>
		{{/with}}
	</div>
</template>