<template name="playerInfo">
	<div class="template-playerInfo">
		{{#with user_object}}
		<div class="row">
			<div class="col-xs-6 no-padding">
				{{#if max_level}}
				<div class="row no-padding no-margin">
					<div class="xp-bar">
						{{#with xpData}}
						<div class="xp-level max" style= "width : {{xp_completion}}%"></div>
						<div class="level-text">
							<p>lottery tickets: {{commaSeparatedValue ../profile.lottery_tickets}}</p>
						</div>
						<div class="goal-text">
							<p class="highlight">{{commaSeparatedValue ../profile.xp}} / {{xp_goal}}</p>
						</div>
						{{/with}}
					</div>
				</div>
				{{else}}
				<div class="xp-bar">
					{{#with xpData}}
					<div class="xp-level" style= "width : {{xp_completion}}%"></div>
					<div class="level-text">
						<p>level {{../profile.level}}</p>
					</div>
					<div class="goal-text">
						<p class="highlight">{{commaSeparatedValue ../profile.xp}} / {{xp_goal}}</p>
					</div>
					{{/with}}
				</div>
				{{/if}}
			</div>
		</div>
		<div class="row player-info">
			<div class="col-xs-4 no-margin no-padding">
				<p class="player-data">bank balance: <span class="highlight af-color">{{displayAsMoneyValue profile.bank_balance}}</span></p>	
				{{#if max_level}}
				{{else}}
				<p class="player-data">lottery tickets: <span class="highlight gold-text">{{profile.lottery_tickets}}</span></p>	
				{{/if}}
				<p class="player-data">collection value: <span class="highlight af-color">${{collection_value}}</span></p>				
				<p class="player-data">current exhibition value: <span class="highlight af-color">${{display_value}}</span></p>					
				<p class="player-data">items exhibited: <span class="highlight af-color">{{display_count}}</span> ({{profile.display_cap}} max)</p>					
				<p class="player-data">paintings owned: <span class="highlight af-color">{{inventory_count}}</span></p>
				<p class="player-data">inventory space available: <span class="highlight af-color">{{slots_available}}</span></p>	
				<p class="player-data">originals owned: <span class="highlight purple-text">{{original_count}}</span></p>	
				<p class="player-data">vintage items owned: <span class="highlight vintage-text">{{vintage_count}}</span></p>									
				<p class="player-data">permanent collection: <span class="highlight af-color">{{permanent_count}}</span> ({{profile.pc_cap}} max)</p>		
				<p class="player-data">completed quests: <span class="highlight af-color">{{commaSeparatedValue profile.completed_quests}}</span></p>	
				<!-- <p class="player-data">auctioned items: <span class="highlight af-color">{{auctioned_items}}</span> ({{auction_cap}} max)</p>
				<p class="player-data">winning auctions: <span class="highlight af-color">{{winning_auctions}}</span> ({{auction_cap}} max)</p>	 -->	
				<p class="player-data">gallery ticket limit: <span class="highlight af-color">{{profile.ticket_cap}}</span></p>	
				<p class="player-data">gallery entry fee: 
					<select class="price-selector">
						<option selected="selected" value="{{entry_fee}}">{{profile.entry_fee}}</option>
						{{#each unselected profile.entry_fee}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
					</select>
				</p>
	    	</div>
	    	<div class="col-xs-8 no-margin no-padding alert-area">
				{{> alerts}}
			</div>
		</div>
		{{#if max_level}}
		<div class="row"><button id="vintage-mode" class="vintage-button">vintage <i class="fa fa-backward"></i></button></div>	
		{{/if}}
		<div class="row feedback">
			<p>Questions or comments? Check out <a target="_blank" class="af-color" href="https://www.reddit.com/r/Artfunkel/">r/artfunkel</a> and leave feedback or communicate with the developers.</p>
		</div>
		{{/with}}
	</div>
</template>