<template name="archiveModal">
	<div class="template-archiveModal col-xs-12">
		<div class="message-container">
			<div class="modal-message-area">
				<div class="archive-modal-section">
					{{>itemInfo item_data=this}}
					{{#with replaced_item this}}
						{{#if this}}
							{{>itemInfo item_data=this}}
						{{/if}}
					{{/with}}
				</div>
				<div class="archive-modal-section">
					<p>
						{{#each category this}}
							<!-- {{#if isEqual @index 0}}
								<option selected="selected" value="{{this}}"><span class="this">{{this}}</span></option>
							{{else}}
								<option value="{{this}}"><span class="this">{{this}}</span></option>
							{{/if}} -->
							<div class="category-wrapper">
							{{#if isEqual this selected_category}}
								<i class="fa fa-check-square-o green-text category-selected" data-category="{{this}}"></i><span class="category-description {{this}}-text">{{this}}</span>
							{{else}}
								<i class="fa fa-square-o category-unselected" data-category="{{this}}"></i><span class="category-description {{this}}-text">{{this}}</span>
							{{/if}}
							</div>
						{{/each}}
					</p>
				</div>
				<div class="archive-modal-section">
					{{#if isEqual this.status "archived"}}
						<p class="modal-message">Move <span class="af-color work-title highlight">{{this.artwork_data.title}}</span> by <span class="af-color highlight">{{this.artwork_data.artist}}</span>?</p>
					{{else}}
						<p class="modal-message">Archive <span class="af-color work-title highlight">{{this.artwork_data.title}}</span> by <span class="af-color highlight">{{this.artwork_data.artist}}</span>?</p>
						<p class="modal-message"><span class="archive-warning">WARNING: This action is permanent!!! Once archived, you will no longer be able to modify, sell, donate, display, or auction this item! You will only be able to modify its tags or remove it from the game entirely.</span></p>
					{{/if}}
				</div>
			</div>
			<div class="modal-button-area">
				<button class="modal-button" id="archive-item" data-item_id="{{this._id}}">ok</button>
				<button class="modal-button close-button">close</button>
			</div>
		</div>
	</div>
</template>