.template-archiveModal img {
	margin: 24px;
}

.template-archiveModal .modal-content {
	padding-bottom: 48px;
	text-align: center;
}

.template-archiveModal .highlight {
	font-weight: bold;
}

.template-archiveModal .archive-warning {
	margin-top: 20px;
	width: 800px;
	text-align: center;
	font-size: 2rem;
	color: red;
	font-weight: bold;
}

.tempalte-archiveModal .category-selector {
	font-size: 3rem;
}

.template-archiveModal .category-wrapper {
	font-size: 2em;
	font-weight: bold;
}

.template-archiveModal .category-wrapper > i {
	cursor: pointer;
	margin-right: 12px;
}

.template-archiveModal .standard-text {
	color: white;
}

.template-archiveModal .archive-modal-section {
	margin: 20px 0px 20px 0px;
}

.template-archiveModal .displace-area {
	font-size: 3rem;
	color: white;
	margin: 0px;
	width: 300px;
}

.template-archiveModal .displace-area > i {
	font-size: 20rem;
}

.template-archiveModal .left {
}

.template-archiveModal .right {
	margin-left: -20px;
}

.template-archiveModal .displace-row {
	display: flex;
}

.template-archiveModal .displace-row > .row{
	align-content: center;
	margin: auto;
}