.template-archiveModal img {
	margin: 24px;
}

.template-archiveModal .modal-content {
	padding-bottom: 48px;
	text-align: center;
}

.template-archiveModal .highlight {
	font-weight: bold;
}

.template-archiveModal .archive-warning {
	margin-top: 20px;
	width: 800px;
	text-align: center;
	font-size: 2rem;
	color: red;
	font-weight: bold;
}